<!-- 现在在添加节点/关系之后图谱不会自动刷新的 -->
<template>
    <el-container style="border: 1px solid #eee; position: relative;">
        <template v-if="activeLeft">
            <!-- overflow-y: hidden;这东西是用来取消自带的滚动条的 -->
            <el-aside :width="activeLeft == true ? '300px' : '0px'"
                class="aside-container-KG"
                style="overflow-y: hidden;">
                <component :is="'KGEntityList'"
                    :currentViewNode="currentViewNode"
                    @view="dealWithView"
                    @add="dealWithAdd"
                    @refresh="dealWithRefresh"
                    @back="dealWithBack"
                    v-if="updateLeft">
                </component>

                <div style="
                    position: absolute;
                    top: 18px;
                    left: 10px;
                ">
                    <el-button 
                        type="text"
                        style="font-size: 20px; color: #909399;"
                        @click="activeLeft = !activeLeft">
                        <i class="el-icon-d-arrow-left"></i>
                    </el-button>
                </div>
            </el-aside>
        </template>

        <el-container>
            <el-main style="border: 1px solid #eee; overflow-y: hidden; position: relative;">
                 <!-- key用于标识组件，用于页面缓存 -->
                <keep-alive :include="['KGShow', 'KGLocalShow']" :max="2">
                    <component
                        ref="mainGraph"
                        :is="showingGraph"
                        :currentViewNode="viewLocalGraphNode"
                        :hopDefaultNumber="localGraphHopNumber"
                        :recommendOpen="localGraphRecommendOpen"
                        :recommendSelectData="recommendSelectData"
                        :localSelectData="localSelectData"
                        @select="dealWithSelect"
                        @view="dealWithView"
                        @back="dealWithBackWholeGraph"
                        @refresh="dealWithRefresh"
                        @hopDefault="dealWithHopChanged"
                        @recommendOpenChange='dealWithRecommendOpenChange'
                        :key = showingGraph
                        v-if="updateKG">
                    </component>
                </keep-alive>

                <template v-if="!activeLeft">
                    <div style="
                        position: absolute;
                        top: 150px;
                        left: 0px;
                    ">
                        <el-button type="plain" size="mini" @click="activeLeft = !activeLeft">
                            <i class="el-icon-d-arrow-right"></i>
                        </el-button>
                    </div>
                </template>
                <template v-if="!activeRight">
                    <div style="
                        position: absolute;
                        top: 150px;
                        right: 0px;
                    ">
                        <el-button type="plain" size="mini" @click="activeRight = !activeRight">
                            <i class="el-icon-d-arrow-left"></i>
                        </el-button>
                    </div>
                </template>
            </el-main>
        </el-container>

        <template v-if="activeRight">
            <el-aside
                :width="activeRight == true ? '350px' : '0px'"
                class="aside-container-KG"
                style="overflow-y: hidden; position: relative;">
                <component :is="currentAsideComponent"
                    :currentViewNode="currentViewNode"
                    :recRelationFilterOption="recRelationFilterOption"
                    :localInitData="localInitData"
                    :keepSelectFlag="keepSelectFlag"
                    :priorSelectData="priorSelectData"
                    v-if="updateRight"
                    @select="dealWithSelect"
                    @view="dealWithView"
                    @add="dealWithAdd"
                    @refresh="dealWithRefresh"
                    @back="dealWithBack"
                    @removeFromRecData="onRemoveFromRecData">
                </component>

                <div style="
                    position: absolute;
                    top: 18px;
                    right: 10px;
                ">
                    <el-button 
                        type="text"
                        style="font-size: 20px; color: #909399;"
                        @click="activeRight = !activeRight">
                        <i class="el-icon-d-arrow-right"></i>
                    </el-button>
                </div>
            </el-aside>
        </template>
    </el-container>
</template>

<script>
// 这个KG包括一个搜索栏，一个菜单栏，一个显示KG的框，KG显示单独做成了一个组件，不太方便信息交互

import {axios_request} from '../../util/axios_utils.js'
//import LoginForm from './LoginForm.vue'
import KGShow from "./KGShow.vue"
import KGLocalShow from "./KGLocalShow.vue"
import KGEntityList from "./KGEntityList.vue"
import KGViewEntity from "./KGViewEntity.vue"
import KGViewRelation from "./KGViewRelation.vue"
import KGViewConstraint from "./KGViewConstraint.vue"
import KGViewRecEntity from "./KGViewRecEntity.vue"
import KGViewRecRelation from "./KGViewRecRelation.vue"
import KGAddEntity from "./KGAddEntity.vue"
import KGAddRelation from "./KGAddRelation.vue"
import KGAddConstraint from "./KGAddConstraint.vue"
import KGRecommendSelect from "./KGRecommendSelect.vue"
import KGLocalSelect from "./KGLocalSelect.vue"

export default {
    data() {
        return {
            testValue: 10,
            isCollapse: false,

            showingGraph: 'KGShow', // 当前显示的是全局图谱还是局部图谱
            mainGraphName: '',      // 标题附加信息，用于区分是全局图谱还是局部图谱
            viewLocalGraphNode: -1, // 局部图谱的中心节点
            localGraphHopNumber: 1, // 局部图谱的hop number
            localGraphRecommendOpen: false, // 图谱推荐是否打开

            asideUpdate: true,      // 用于刷新组件
            updateKG: true,
            currentAsideComponent : "KGAddEntity",
            currentViewNode : -1,   // 当前右组件view的节点

            project_name : this.$store.state.project_name,

            activeLeft : true,      // 左组件是否打开
            activeRight : false,    // 右组件是否打开
            updateLeft  : true,     // 刷新左组件
            updateRight : true,     // 刷新右组件

            recRelationFilterOption : [],     //过滤推荐图谱功能初始数据
            localInitData : [],   //过滤局部图谱功能初始数据
            recommendSelectData : [],        //过滤功能选择推荐图谱数据
            localSelectData : [],      //过滤功能选择局部图谱数据
            priorSelectData : [],      //过滤选择保持时保存之前的选择数据
            keepSelectFlag: false,     // 是否保持过滤选择

            titleName : {
                KGAddEntity : '添加',
                KGAddRelation : '添加',
                KGViewEntity : '实体信息',
                KGViewRelation : '关系信息'
            }
        }
    },

    computed: {
        
    },

    beforeCreate() {
        // 未选定知识图谱
        //console.log('mounted' + this.testValue)
        //if (this.$store.state.project_name === '') {
        //    this.$router.push('/navigation/Home')
        //}
    },

    watch: {
        showingGraph(val) {
            const that = this
            const nodesData = that.$store.state.nodesData
            const linksData = that.$store.state.linksData
            var inst = nodesData.find(i => i.global_id == that.viewLocalGraphNode)
            if (inst == undefined) { // 当前view不是一个实体节点
                inst = linksData.find(i => i.global_id == that.viewLocalGraphNode)
            }

            if (val == 'KGShow') this.mainGraphName = ''
            else if (val == 'KGLocalShow') this.mainGraphName = ' —— ' + inst.name
        },

        viewLocalGraphNode(val) {
            console.log('view local graph node changed.')
            const that = this
            const nodesData = that.$store.state.nodesData
            const linksData = that.$store.state.linksData
            var inst = nodesData.find(i => i.global_id == val)
            if (inst == undefined) { // 当前view不是一个实体节点
                inst = linksData.find(i => i.global_id == val)
            }

            if (that.showingGraph == 'KGShow') this.mainGraphName = ''
            else if (that.showingGraph == 'KGLocalShow') this.mainGraphName = ' —— ' + inst.name
        },
    },

    methods: {
        // 打开右组件，需要切换显示的组件
        rightOpen() {
            const that = this
            const nodesData = that.$store.state.nodesData
            const linksData = that.$store.state.linksData
            if (nodesData.find(i => i.global_id == that.currentViewNode) != undefined) {
                that.currentAsideComponent = 'KGViewEntity'
            }
            else if (linksData.find(i => i.global_id == that.currentViewNode) != undefined) {
                that.currentAsideComponent = 'KGViewRelation'
            }
            else {  // currentViewNode可能删除，看一看viewLocalGraphNode是否存在
                if (nodesData.find(i => i.global_id == that.viewLocalGraphNode) != undefined) {
                    that.currentAsideComponent = 'KGViewEntity'
                    that.currentViewNode = that.viewLocalGraphNode
                }
                else if (linksData.find(i => i.global_id == that.viewLocalGraphNode) != undefined) {
                    that.currentAsideComponent = 'KGViewRelation'
                    that.currentViewNode = that.viewLocalGraphNode
                }
                else {
                    that.currentAsideComponent = 'KGAddEntity'
                }
            }

            that.updateRight = false
            that.$nextTick(() => {
                that.updateRight = true
            })

            console.log('left: ' + this.activeLeft)
            console.log('right: ' + this.activeRight)
            console.log(this.currentAsideComponent)
        },

        onRemoveFromRecData(val) {
            this.$refs.mainGraph.removeFromRecData(val)
        },

        dealWithHopChanged(val) {
            this.localGraphHopNumber = val
        },

        dealWithRecommendOpenChange(val) {
            this.localGraphRecommendOpen = val
        },

        /* 
         * val : {
         *      type: 'KGAddEntity' / 'KGAddRelation' / 'KGAddConstraint' / ...
         *      filter: true / false // default : false
         *      global_id: xxx
         * }
         */
        dealWithAdd(val) {
            console.log(val.type + ' from KG')
            if (val.type === 'KGAddEntity') {
                this.currentAsideComponent = 'KGAddEntity'
                this.activeRight = true
                this.updateRight = false
                this.$nextTick(() => {
                    this.updateRight = true
                })
            }
            else if (val.type === 'KGAddRelation') {
                if (val.filter == true) {
                    this.currentViewNode = val.global_id
                }
                else {
                    this.currentViewNode = -1
                }

                this.currentAsideComponent = 'KGAddRelation'
                this.activeRight = true
                this.updateRight = false
                this.$nextTick(() => {
                    this.updateRight = true
                })
            }
            else if (val.type === 'KGAddConstraint') {
                this.currentAsideComponent = 'KGAddConstraint'
                this.activeRight = true
                this.updateRight = false
                this.$nextTick(() => {
                    this.updateRight = true
                })
            }
            else {
                console.log('add error')
            }
        },

        /*  @brief  切换右边的组件
         *  @param  flag    参数，一个struct
         */
        dealWithBack(flag) {
            const that = this

            if (flag.activeRight) {
                that.currentAsideComponent = flag.component
                if (flag.global_id != undefined) {
                    this.currentViewNode = flag.global_id
                }

                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })
                that.activeRight = true
            }
            else {  // 右组件关闭
                that.activeRight = false
            }
        },

        /** @brief  从局部图谱返回全局图谱
         */
        dealWithBackWholeGraph() {
            this.showingGraph = "KGShow"
            this.localGraphRecommendOpen = false
            
            /*
            this.updateKG = false
            this.$nextTick(() => {
                this.updateKG = true
            })
            */

            // console.log('back to whole graph')
            // console.log(this.$refs)
        },

        /** @brief 刷新组件
         *  flag : 指示哪些组件需要refresh（左中右三个组件），以及是否需要重新拉取数据，格式如下
         *  {
         *      needGetGraph : [bool],  // true表示需要重新获取图谱数据
         *      updateKG     : [bool],  // true表示需要更新中间的图谱
         *      updateLeft   : [bool],  // true表示需要更新左边的组件
         *      updateRight  : [bool],  // true表示需要更新右边的组件
         *      activeLeft   : [bool],  // true表示左边组件需要保持打开的状态
         *      activeRight  : [bool],  // true表示右边组件需要保持打开的状态
         *      global_id               // 当前局部图谱中心节点
         *      currentViewNode         // 右组件的view node
         *  }
         */
        async dealWithRefresh(flag = {      // 默认取值
                needGetGraph: false,
                updateKG: true,
                switchKG: true,            // 全局和局部图谱是否切换
                updateLeft: true,
                updateRight: true,
                rightComponent: undefined,  // 指定右组件
                activeLeft: undefined,      // undefined表示保持默认取值
                activeRight: false,
                global_id: undefined,
                currentViewNode: undefined, // 仅用于右组件显示
            }) {
            const that = this

            console.log('KG refresh')
            console.log(flag)

            // 填补上空字段，有点蠢
            if (flag.needGetGraph == undefined) flag.needGetGraph = false
            if (flag.updateKG == undefined) flag.updateKG = true
            if (flag.updateLeft == undefined) flag.updateLeft = true
            if (flag.updateRight == undefined) flag.updateRight = true
            if (flag.activeRight == undefined) flag.activeRight = false
            if (flag.switchKG == undefined) flag.switchKG = true

            if (flag.needGetGraph === true) {   // 重新拉取数据
                let res = await axios_request(this, 'patch', '/inst', {
                    operation: 'getGraph',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name
                })
                
                if (res !== '') {
                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: '知识图谱获取失败'
                        })
                    }
                    else {
                        that.$store.commit('saveGraph', {
                            graph: res.data,
                            project_name: that.$store.state.project_name
                        })
                    }
                }
            }

            console.log(flag)

            if (flag.global_id != undefined) {
                this.currentViewNode = flag.global_id
                this.viewLocalGraphNode = flag.global_id
            }
            else if (flag.currentViewNode != undefined) {
                this.currentViewNode = flag.currentViewNode
            }

            if (flag.updateLeft) {  // 刷新左组件
                that.updateLeft = false
                that.$nextTick(() => {
                    that.updateLeft = true
                })
            }

            if (flag.rightComponent != undefined) {
                that.currentAsideComponent = flag.rightComponent
            }

            if (flag.updateRight) { // 刷新右组件
                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })   
            }

            if (flag.activeRight != undefined) {
                if (flag.activeRight == true) that.activeRight = true
                else if (flag.activeRight == false) that.activeRight = false
            }

            if (flag.activeLeft != undefined) {
                if (flag.updateLeft == true) that.activeLeft = true
                else if (flag.updateLeft == false) that.activeLeft = false
            }

            if (flag.updateKG) {
                if (flag.switchKG) {
                    if (that.showingGraph == 'KGLocalShow') {
                        const node = that.$store.state.nodesData.find(i => i.global_id == that.viewLocalGraphNode)
                        const link = that.$store.state.linksData.find(i => i.global_id == that.viewLocalGraphNode)
                        if (node == undefined && link == undefined) {
                            that.showingGraph = 'KGShow'
                            that.localGraphRecommendOpen = false
                        }
                    }

                    that.updateKG = false
                    that.$nextTick(() => {
                        that.updateKG = true
                    })
                }
                else {
                    // 调用子组件刷新函数，不直接刷新组件
                    that.$refs.mainGraph.refreshGraph()
                }
            }
        },

        /*  @brief  更改右边view的组件与view的节点
         *  @param  flag    struct参数: {
                'type': view的类型,
                'global_id': view节点的global_id,
                'changeViewLocalGraphNode': 是否改变局部图谱view的中心点
            }
         */
        dealWithView(flag) {
            console.log('viewer from KG')
            console.log(flag)

            const that = this
            const global_id = Number(flag.global_id)
            that.currentViewNode = global_id

            if (flag.type == 'recRelation') {
                that.currentAsideComponent = 'KGViewRecRelation'
                that.activeRight = true

                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })
            }
            else if (flag.type == 'recEntity') {
                that.currentAsideComponent = 'KGViewRecEntity'
                that.activeRight = true

                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })
            }
            else if (flag.type == 'entity' || flag.type == 'relation') {
                if (flag.type == 'entity') {
                    that.currentAsideComponent = 'KGViewEntity'
                    that.activeRight = true
                }
                else if (flag.type == 'relation') {
                    that.currentAsideComponent = 'KGViewRelation'
                    that.activeRight = true
                }

                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })
            }
            else if (flag.type == 'localGraph') {
                if (flag.global_id != undefined) {  // flag中提供了局部图谱中心节点
                    that.viewLocalGraphNode = flag.global_id
                }
                else {
                    const nodesData = that.$store.state.nodesData
                    const linksData = that.$store.state.linksData
                    if (nodesData.find(i => i.global_id == that.viewLocalGraphNode) == undefined
                        && linksData.find(i => i.global_id == that.viewLocalGraphNode) == undefined)
                        return
                }
                
                that.showingGraph = "KGLocalShow"
                
                that.updateKG = false
                that.$nextTick(() => {
                    that.updateKG = true
                })
            }
            else if (flag.type == 'constraint') {
                that.currentViewNode = Number(flag.global_id)
                that.currentAsideComponent = "KGViewConstraint"
                that.activeRight = true

                that.updateRight = false
                that.$nextTick(() => {
                    that.updateRight = true
                })
            }
        },
        // 处理过滤功能中子组件之间数据传递和缓存的函数
        dealWithSelect(val){
            let that = this 
            console.log(val.type + ' from KGLocalShow')
            
            if(val.type == 'recommendInitData'){            //推荐数据初始化
                that.recRelationFilterOption = val.data
                that.currentAsideComponent = 'KGRecommendSelect'
                this.activeRight = true
                this.updateRight = false
                this.$nextTick(() => {
                    this.updateRight = true
                })
            } else if(val.type == 'recommendSelectData'){     //推荐节点过滤后数据
                this.recommendSelectData = val.data
            } else if(val.type == 'localInitData'){           //局部数据初始化
                that.localInitData = val.data
                that.currentAsideComponent = 'KGLocalSelect'
                this.activeRight = true
                this.updateRight = false
                this.$nextTick(() => {
                    this.updateRight = true
                })
            } else if(val.type == 'localSelectData'){        //局部节点过滤后数据
                that.localSelectData = val.data
                that.priorSelectData = val.data
            } else if(val.type == 'keepSelect'){             //局部节点保持过滤的数据缓存
                that.keepSelectFlag = val.data
            }
        }
    },

    components: {
        KGShow,
        KGLocalShow,
        KGEntityList,
        KGAddEntity,
        KGAddRelation,
        KGAddConstraint,
        KGViewConstraint,
        KGViewEntity,
        KGViewRelation,
        KGViewRecEntity,
        KGViewRecRelation,
        KGRecommendSelect,
        KGLocalSelect,
    }
}
</script>

<style scoped>
    .el-container {
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

    .el-header {
        background-color: #ffffff;
        color: #333;
        line-height: 60px;
        direction: horizontal;
    }

    .el-menu {
        background-color: #ffffff;
    }

    .el-footer {
        background-color: #ffffff;
        color: #333;
        text-align: center;
        line-height: 30px;
    }

    .el-main {
        background-color: #ffffff;
        color: #333;
        text-align: center;
    }

    .el-aside {
        background-color: #ffffff;
    }

    .icon-hover {
        color: #409EFF;
    }

    .icon-not-hover {
        color: #909399;
    }

    /*
    body > .el-container {
        margin-bottom: 20px;
    }
    */
</style>