<template>
    <el-container direction="vertical">
        <el-header>
            <!--
            <div class="header">
                <span>添加实体 &nbsp;</span>
                <el-button type="text" @click="onChangeAddRelation()">切换</el-button>
            </div>
            -->
            <div class="header">
                <el-select v-model="addType" size="medium" style="width: 120px;" @change="onAddTypeSelect">
                    <el-option
                        v-for="item in [
                            //{label: '实体', value: 0},
                            {label: '关系', value: 1},
                            {label: '约束', value: 2}
                        ]"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    >
                    </el-option>
                </el-select>
            </div>
        </el-header>

        <el-main class="content">
            <el-card class="box-card" shadow="never">
                <template #header>
                    <div class="card-header">
                        <span>实体</span>
                    </div>
                </template>

                <div class="text item">
                    <el-form :model="entity" ref="entity" label-position="left" label-width="auto" size="medium">
                        <el-form-item 
                            label="类型"
                            prop="type"
                            :rules="[{ validator: validateType, trigger: ['change', 'blur'] }]">
                            <el-select v-model="entity.type" value-key="name" placeholder="请选择实体类型" style="display: block;">
                                <el-option
                                    v-for="item in options"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                            
                        <el-form-item
                            label="名称"
                            prop="name"
                            :rules="[{ validator: validateName, trigger: ['change', 'blur'] }]">
                            <el-autocomplete
                                v-model="entity.name"
                                @change="e => entity.name = validateForbidChar(e)"
                                :fetch-suggestions="(queryString, cb) => {queryEntity(queryString, cb, entity.type)}"
                                @select="item => entity.name = item.value"
                                placeholder="请输入实体名称"
                                style="display: block;">
                                <template #default="{ item }">
                                    <span style="float: left">{{ item.value }}</span>
                                </template>
                            </el-autocomplete>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="onSubmit('entity')" size="mini">确定</el-button>
                            <el-button @click="onCancel" size="mini">取消</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </el-main>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'
import {SimpleType, IntersectionType} from '../../util/const_complex_type.js'
//import qs from 'qs'

export default {
    emits: ['back', 'add', 'refresh'],

    data() {
        const nodeTypeList = this.$store.state.nodeTypeList
        const nodesData = this.$store.state.nodesData
        const coldBootEntityRecommendData = this.$store.state.coldBootEntityRecommendData
        
        const coldBootEntityRecommendName = {}
        for (let typeID in coldBootEntityRecommendData) {
            coldBootEntityRecommendName[String(typeID)] = []
            if (coldBootEntityRecommendData[typeID] != undefined) {
                for (let item of coldBootEntityRecommendData[typeID]) {
                    if (nodesData.find(i => item.id == i.global_id) == undefined) { // 推荐实体不在list中
                        coldBootEntityRecommendName[String(typeID)].push({
                            value: item.name
                        })
                    }
                }
            }
        }

        /* 可选的实体类型 */
        const options = nodeTypeList.filter(item => {
            // 目前复杂类型只允许一个符号（全位交或者全为并），全为并的实体类型不允许实例化
            if (item.isComplex == SimpleType || item.isComplex == IntersectionType) {
                return true
            }
            else {
                return false
            }
        })

        const queryEntity = (queryString, cb, entityType) => {
            let results
            //console.log(entityType)
            //console.log(coldBootEntityRecommendName)
            if (entityType == undefined || entityType == '') results = []
            else results = queryString
                ? coldBootEntityRecommendName[String(entityType.global_id)]
                    .filter(queryEntityFilter(queryString))
                : coldBootEntityRecommendName[String(entityType.global_id)]
            if (results == undefined) results = []
            
            //console.log('queryEntity')
            //console.log(coldBootEntityRecommendName)
            //console.log(results)
            
            cb(results)
        }

        /* 生成filter函数的函数 */
        const queryEntityFilter = (queryString) => {
            return (item) => {
                return (item.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0)
            }
        }

        const validateType = (rule, value, callback) => {
            // console.log(value)
            if (value === '' || value === undefined || value === null) {
                callback(new Error('请选择实体类型'))
            }
            else {
                callback()
            }
        }

        const validateName = (rule, value, callback) => {
            // console.log(value)
            if (value === '' || value === undefined || value === null) {
                callback(new Error('请输入实体名称'))
            }
            else {
                callback()
            }
        }

        return {
            addType: '添加实体',
            options,
            queryEntity,
            validateType,
            validateName,
            coldBootEntityRecommendData,

            entity: {
                type: '',
                name: '',
                global_id: ''
            },
        }
    },

    methods: {
        onAddTypeSelect(item) {
            const that = this
            if (item == 1) {
                that.onChangeAddRelation()
            }
            else if (item == 2) {
                that.onChangeAddConstraint()
            }
            
        },

        onChangeAddConstraint() {
            this.$emit('add', {
                type: 'KGAddConstraint',
            })
        },

        onChangeAddRelation() {
            this.$emit('add', {
                type: 'KGAddRelation',
            })
        },

        // 在这里submit貌似KG不会刷新吧 ?
        onSubmit(entity) {
            const that = this
            
            // 这个this.$refs不太清楚怎么用，但在这里应该是没问题的
            this.$refs[entity].validate(async (valid) => {
                if (valid) {
                    // 判断是否已经存在（不允许创建同类型同名节点）
                    if (that.$store.state.nodesData.find(item => item.name == that.entity.name && item.type_id == that.entity.type.global_id) === undefined) {
                        let citeFlag = false
                        let newEntity = ''
                        // 判断新创建的实体是否在冷启动实体推荐列表中
                        for (let item of that.coldBootEntityRecommendData[String(that.entity.type.global_id)]) {
                            if (item.name == that.entity.name) {
                                citeFlag = true
                                newEntity = item
                                break
                            }
                        }

                        if (!citeFlag) { // 新创建的实体不在冷启动实体推荐列表中
                            let res = await axios_request(that, 'post', '/api', {
                                operation: 'createEntity',
                                user_id: that.$store.state.Authorization,
                                project: that.$store.state.project_name,
                                entity_type_id: that.entity.type.global_id,
                                entity_name: that.entity.name
                            })

                            console.log('response')
                            console.log(res)
                            
                            if (res !== '') {
                                if (res.data.error) {
                                    that.$message({
                                        type: 'error',
                                        message: res.data.msg.message
                                    })
                                }
                                else {
                                    // console.log('Submit!')
                                    // console.log(that.entity)
                                    
                                    that.entity.global_id = res.data.id
                                    that.$store.commit('addNode', {
                                        global_id: that.entity.global_id,
                                        type: that.entity.type.name,
                                        name: that.entity.name,
                                        type_id: that.entity.type.global_id,
                                        properties: res.data.properties
                                    })
                                    //alert(`实体${that.entity.name}创建成功！`)
                                    that.$message({
                                        type: 'success',
                                        message: `实体${that.entity.name}创建成功`
                                    })
                                    that.$emit('refresh', {
                                        needGetGraph: false,
                                        activeRight: true,
                                        global_id: that.entity.global_id
                                    })
                                    that.$emit('back', {
                                        activeRight: true,
                                        component: 'KGViewEntity',
                                        global_id: that.entity.global_id,
                                    })
                                }
                            }
                        }
                        else { // 新创建的实体在冷启动实体推荐列表中
                            let res = await axios_request(that, 'post', '/api', {
                                operation: 'citeEntity',
                                user_id: that.$store.state.Authorization,
                                project: that.$store.state.project_name,
                                entity_id: newEntity.id
                            })
                            
                            if (res !== '') {
                                if (res.data.error) {
                                    that.$message({
                                        type: 'error',
                                        message: res.data.msg.message
                                    })
                                }
                                else {
                                    that.entity.global_id = newEntity.id
                                    that.$store.commit('addNode', {
                                        global_id: that.entity.global_id,
                                        type: that.entity.type.name,
                                        name: that.entity.name,
                                        type_id: that.entity.type.global_id,
                                        properties: newEntity.properties
                                    })
                                    //alert(`实体${that.entity.name}创建成功！`)
                                    that.$message({
                                        type: 'success',
                                        message: `实体${that.entity.name}创建成功`
                                    })
                                    that.$emit('refresh', {
                                        needGetGraph: false,
                                        activeRight: true,
                                        global_id: that.entity.global_id,
                                    })
                                    that.$emit('back', {
                                        activeRight: true,
                                        component: 'KGViewEntity',
                                        global_id: that.entity.global_id,
                                    })
                                }
                            }
                        }
                    }
                    else {
                        const nodeTypeList = that.$store.state.nodeTypeList
                        const type = nodeTypeList.find(i => i.global_id == that.entity.type.global_id)

                        this.$message({
                            type: 'error',
                            message: `类型为'${type.name}'的实体'${this.entity.name}'已经存在！`
                        })
                    }
                }
                else {
                    console.log('error sumbit!')
                    return false
                }
            })
        },

        onCancel() {
            console.log('Cancel!')
            this.$emit('back', {
                activeRight: false,
            })
        }
    }
}
</script>

<style scoped>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }

    .header /deep/ .el-input__inner {   /* /deep/写在最前面在vscode里报error，写在中间不会 */
        border: 0px;
        font-size: 16px;
        color: #333;
    }
</style>