<template>
    <el-container direction="vertical">
        <el-header>
            <!--
            <div class="header">
                <span>添加关系 &nbsp;</span>
                <el-button type="text" @click="onChangeAddConstraint()">切换</el-button>
            </div>
            -->
            <div class="header">
                <el-select v-model="addType" size="medium" style="width: 120px;" @change="onAddTypeSelect">
                    <el-option
                        v-for="item in [
                            {label: '实体', value: 0},
                            //{label: '关系', value: 1},
                            {label: '约束', value: 2}
                        ]"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    >
                    </el-option>
                </el-select>
            </div>
        </el-header>
    
        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>关系</span>
                            </div>
                        </template>

                        <div class="text">
                            <!-- width可能要改的 -->
                            <el-form :model="relation" ref="relation" label-position="left" label-width="auto" size="mini">
                                <el-form-item label="关系类型" prop="type">
                                    <el-select
                                        v-model="relation.type"
                                        value-key="global_id"
                                        placeholder="请选择关系类型"
                                        filterable
                                        style="display: block;"
                                        @change='onEdgeTypeChange()'>
                                        <el-option
                                            v-for="item in options"
                                            :key="item.name"
                                            :label="item.name"
                                            :value="item">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-divider></el-divider>
                                
                                <div v-if="relation.type !== ''">
                                    <template v-for="(item1, index1) in relation.entity" :key="index1" :index="(index1+'')">
                                        <el-form-item label="角色名称">
                                            <div style="display: inline;">
                                                <el-input
                                                    readonly
                                                    v-model="relation.type.entity[index1].name"
                                                    @input="e => relation.type.entity[index1].name = validateForbidChar(e)"
                                                    style="width:70%">
                                                </el-input>
                                                
                                                <el-button
                                                    circle
                                                    size="mini"
                                                    class='el-icon-plus' 
                                                    @click="onAddEntity(index1, index2)">
                                                </el-button>
                                                <el-button
                                                    disabled
                                                    circle
                                                    size="mini"
                                                    class='el-icon-minus'
                                                    @click="onDeleteEntity(index1, index2)">
                                                </el-button>
                                            </div>
                                        </el-form-item>

                                        <el-form-item label="角色类型">
                                            <div style="display: inline;">
                                                <el-input
                                                    readonly
                                                    v-model="relation.type.entity[index1].type"
                                                    @input="e => relation.type.entity[index1].type = validateForbidChar(e)"
                                                    style="width:70%">

                                                </el-input>
                                                
                                                <el-button
                                                    disabled
                                                    circle
                                                    size="mini"
                                                    class='el-icon-plus' 
                                                    @click="onAddEntity(index1, index2)">
                                                </el-button>
                                                <el-button
                                                    disabled
                                                    circle
                                                    size="mini"
                                                    class='el-icon-minus'
                                                    @click="onDeleteEntity(index1, index2)">
                                                </el-button>
                                            </div>
                                        </el-form-item>

                                        <el-form-item
                                            v-for="(item2, index2) in relation.entity[index1]"
                                            label=""
                                            :key="item2.key"
                                            :index="(index1+'-'+index2)"
                                            :prop="'entity[' + index1 + '][' + index2 + ']'"
                                            :rules="[
                                                { validator: validateEntity , trigger: ['change', 'blur'] }
                                            ]">
                                            <div style="display: inline;">
                                                <el-autocomplete
                                                    @change="e => {
                                                        relation.entity[index1][index2].name = validateForbidChar(e)
                                                        relation.entity[index1][index2].global_id = ''
                                                    }"
                                                    v-model="relation.entity[index1][index2].name"
                                                    :fetch-suggestions="(queryString, cb) => {queryEntity(queryString, cb, relation.type.entity[index1].global_id)}"
                                                    :placeholder="'类型: ' + relation.type.entity[index1].type"
                                                    style="width:70%"
                                                    @select="(item) => handleRelationNameSelect(item, index1, index2)">
                                                    <template #default="{ item }">
                                                        <span style="float: left">{{ item.value }}</span>
                                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.label }}</span>
                                                    </template>

                                                    <!--
                                                    <template #append>
                                                        <el-select size="mini">
                                                            <el-option
                                                                v-for="item in options"
                                                                :key="item.name"
                                                                :label="item.name"
                                                                :value="item">
                                                            </el-option>
                                                        </el-select>
                                                    </template>
                                                    -->
                                                </el-autocomplete>
                                                
                                                <el-button
                                                    circle
                                                    class='el-icon-plus' 
                                                    @click="onAddEntity(index1, index2)">
                                                </el-button>
                                                <el-button
                                                    circle
                                                    class='el-icon-minus'
                                                    @click="onDeleteEntity(index1, index2)">
                                                </el-button>
                                            </div>
                                        </el-form-item>
                                        <el-divider></el-divider>
                                    </template>
                                </div>
                                

                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit('relation')" size="mini">确定</el-button>
                                    <el-button @click="onCancel" size="mini">取消</el-button>
                                </el-form-item>
                            </el-form>

                            <el-dialog
                                title="提示"
                                v-model="createNodeDialog"
                                width="40%"
                                destroy-on-close
                                center>
                                
                                <div>
                                    <i class="el-icon-info"></i>
                                    <span>下列实体不存在，是否先创建这些实体？</span>
                                </div>

                                <template
                                    v-for="(item1, index1) in relation.entity"
                                    :key="(index1+'')"
                                    :index="(index1+'')">
                                    <template
                                        v-for="(item2, index2) in item1"
                                        :key="(index1+'-'+index2)"
                                        :index="(inde1+'-'+index2)">
                                            <p v-if="item2.needCreate == 1">
                                                {{ relation.type.entity[index1].type + ": " + item2.name }}
                                            </p>
                                    </template>
                                </template>

                                <template #footer>
                                    <span class="dialog-footer">
                                        <el-button @click="createNodeDialog = false">取 消</el-button>
                                        <el-button type="primary" @click="onSubmitCreateNode()">确 定</el-button>
                                    </span>
                                </template>
                            </el-dialog>
                        </div>
                    </el-card>
                </el-scrollbar>
            </div>
        </el-main>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'
import {SimpleType, IntersectionType, UnionType} from '../../util/const_complex_type.js'

// 关系各个角色的填写状态
const RelationRoleNotFilled = 0 // 未填写
const RelationRoleWrong     = 1 // 有错误
const RelationRoleNotExist  = 2 // 实体/关系不存在
const RelationRoleSuccess   = 3 // 填写正确

export default {
    props: ['currentViewNode'],

    emits: ['back', 'add', 'refresh'],

    data() {
        const nodeTypeList = this.$store.state.nodeTypeList
        const linkTypeList = this.$store.state.linkTypeList
        const roleTypeList = this.$store.state.roleTypeList
        const nodesData = this.$store.state.nodesData
        const linksData = this.$store.state.linksData

        const queryEntityInfo = nodesData.map((item) => {
            return {
                global_id: String(item.global_id),
                value: item.name,
                type: item.type_id,
                label: item.type
            }
        }).concat(linksData.map((item) => {
            return {
                global_id: String(item.global_id),
                value: item.name,
                type: item.type_id,
                label: item.type
            }
        }))

        /* 需要判断的是typeID1对应的类型是否为typeID2对应的类型的一个子集
         * 比如A∩B是A的一个子集，A∩B∩C是B∩C的一个子集
         * 现在只有实体类型的交和并，关系类型只需要直接判断ID是否一致
         * Todo：
         * 实体类型的交和并暂时只处理最简单的情况，即只有一种符号的 ####
         */
        const validateType = (typeID1, typeID2) => {
            // 相同直接返回true
            if (typeID1 == typeID2) return true

            let t1 = linkTypeList.find(item => item.global_id == typeID1)
            let t2 = linkTypeList.find(item => item.global_id == typeID2)
            let t3 = roleTypeList.find(item => item.global_id == typeID2)

            if (t3 != undefined) {  // t3是一个roleType
                if (t1 == undefined) {
                    t1 = nodeTypeList.find(item => item.global_id == typeID1)
                }
                for (let ids of t3.type_ids)
                    if (t1.global_id == ids) return true
                return false
            }
            else if (t1 != undefined && t2 != undefined) return typeID1 == typeID2
            else if (t1 != undefined || t2 != undefined) return false // 一个为关系类型，一个为实体类型，返回false
            else { // 下面处理两个都为实体类型的情况
                t1 = nodeTypeList.find(item => item.global_id == typeID1)
                t2 = nodeTypeList.find(item => item.global_id == typeID2)
                console.log('validateType')
                console.log(typeID1)
                console.log(typeID2)
                console.log(t1)
                console.log(t2)

                if (t1.isComplex == SimpleType && t2.isComplex == SimpleType) return typeID1 == typeID2
                else if (t1.isComplex == SimpleType) {
                    // t1为简单类型，t2为复杂类型
                    if (t2.isComplex == IntersectionType) { // t2是若干个的交，必为false
                        return false
                    }
                    else if (t2.isComplex == UnionType) { //t2是若干个的并，只需判断t1是否在t2的list里
                        for (let i = 0; i < t2.struct.ids.length; i++)
                            if (typeID1 == t2.struct.ids[i]) return true
                        return false
                    }
                }
                else if (t2.isComplex == SimpleType) {
                    // t1为复杂类型，t2为简单类型
                    // 由于只有交可被实例化，因此t1为若干个实体类型的交，只需判断t2是否在t1的list里
                    if (t1.isComplex == IntersectionType) {
                        for (let i = 0; i < t1.struct.ids.length; i++)
                            if (typeID2 == t1.struct.ids[i]) return true
                    }
                    else if (t1.isComplex == UnionType) return false
                }
                else {
                    // t1和t2均为复杂类型，这个有点麻烦
                    // 首先t1必为若干个东西的交
                    //    如果t2是交，则需要t2中的实体类型在t1中全部出现
                    //    如果t2是并，则只要t1中的实体类型又一个在t2中出现即可

                    if (t2.isComplex == IntersectionType) { // t2是交
                        for (let j = 0; j < t2.struct.ids.length; j++) {
                            let flag = false
                            for (let i = 0; i < t1.struct.ids.length; i++)
                                if (t1.struct.ids[i] == t2.struct.ids[j]) {
                                    flag = true
                                    break
                                }
                            if (!flag) return false
                        }
                        return true
                    }
                    else if (t2.isComplex == UnionType) { // t2是并
                        for (let i = 0; i < t1.struct.ids.length; i++) {
                            let flag = false
                            for (let j = 0; j < t2.struct.ids.length; j++)
                                if (t1.struct.ids[i] == t2.struct.ids[j]) {
                                    flag = true
                                    break
                                }
                            if (flag) return true
                        }
                        return false
                    }
                }
            }
        }

        console.log('queryEntityInfo')
        console.log(queryEntityInfo)

        const queryEntity = (queryString, cb, typeID) => {
            let results = []
            let roleType = roleTypeList.find(i => i.global_id == typeID)
            if (roleType == undefined) {
                // typeID是一个实体id或一个关系id
                results = queryEntityInfo.filter(item => validateType(item.type, typeID))
            }
            else {
                // typeID是一个roleType id（实体或关系）
                let gidMap = new Map()
                for (let ids of roleType.type_ids) {
                    for (let item of queryEntityInfo)
                        if (validateType(item.type, ids) && !gidMap.has(String(item.global_id))) {
                            gidMap.set(String(item.global_id), true)
                            results.push(item)
                        }
                }
            }
            
            results = queryString
                ? results.filter(createFilter(queryString))
                : results
            // 调用 callback 返回建议列表的数据
            // console.log('queryEntity')
            // console.log(results)
            cb(results)
        }
        const createFilter = (queryString) => {
            return (item) => {
                return (
                item.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
                0
                )
            }
        }

        var validateEntity = (rule, value, callback) => {
            //console.log('validate')
            //console.log(value)
            // 这里的this是整个实例的this
            // console.log(this)
            // console.log(this.relation)
            value.valid = RelationRoleWrong
            if (value.name === '' || value.name === undefined || value.name === null) {
                value.valid = RelationRoleNotFilled
                callback(new Error('请输入名称'))
            }
            else {
                let tmp = undefined
                if (value.global_id == '') {
                    ///////////////////////////////////////////////////////
                    //  检查现有的是否有重名实体/关系，有重名的情况下需要用户指定 //
                    //////////////////////////////////////////////////////
                    let cnt = 0
                    for (let item of nodesData)
                        if (item.name == value.name) {
                            cnt++
                            tmp = item
                        }
                    for (let item of linksData)
                        if (item.name == value.name) {
                            cnt++
                            tmp = item
                        }
                    if (cnt > 1) {
                        callback(new Error(`'${value.name}'有多个实例，请指定具体一个`))
                    }

                    //tmp = nodesData.find(item => item.name == value.name)
                    //if (tmp == undefined) {
                    //    tmp = linksData.find(item => item.name == value.name)
                    //}
                }
                else {
                    tmp = nodesData.find(item => item.global_id == value.global_id)
                    if (tmp == undefined) {
                        tmp = linksData.find(item => item.global_id == value.global_id)
                    }
                }
                
                if (tmp == undefined) {
                    value.valid = RelationRoleNotExist
                    callback(new Error(`'${value.name}'不存在`))
                }
                else {
                    let roleTypeID = this.relation.type.entity[value.index].global_id
                    let roleType = roleTypeList.find(i => i.global_id == roleTypeID)

                    if (roleType != undefined) {
                        let flag = false
                        for (let ids of roleType.type_ids)
                            if (validateType(tmp.type_id, ids)) {
                                flag = true
                                break
                            }
                        if (flag) {
                            callback()
                        }
                        else {
                            callback(new Error(`'${value.name}'的类型不是${this.relation.type.entity[value.index].type}`))
                        }
                    }
                    else if (!validateType(tmp.type_id, roleTypeID)) {
                        value.valid = RelationRoleWrong
                        callback(new Error(`'${value.name}'的类型不是${this.relation.type.entity[value.index].type}`))
                    } 
                    else {
                        
                        let cnt = 0
                        for (let i = 0; i < this.relation.entity.length; i++) {
                            const l = this.relation.entity[i].filter(item => item.name === value.name)
                            cnt += l.length
                        }

                        if (cnt > 1) {
                            value.valid = RelationRoleWrong
                            callback(new Error(`${value.name}重复`))
                        }
                        else {
                            value.valid = RelationRoleSuccess
                            callback()
                        }
                    }
                }
            }
        }

        return {
            addType: '添加关系',
            nodesData,
            linksData,

            queryEntity : queryEntity,

            validateEntity: validateEntity,

            // 可选关系类型
            options: [],
            validateType,

            // 这个后面要改成name是一个list ###
            relation: {
                // 这个是一个对象，类型跟linkTypeList里面的相同
                type : '',

                /* 添加的关系的实体列表
                 */
                entity: []
            },

            // 关系中有不存在的实体
            createNodeDialog : false,
        }
    },

    mounted() {
        // 初始化可选关系类型列表，若currentViewNode非负，需要过滤掉该实体/关系不能作为承担者的关系类型
        if (this.currentViewNode == -1) {
            this.options = this.$store.state.linkTypeList
        } 
        else {
            // const nodeTypeList = this.$store.state.nodeTypeList
            const linkTypeList = this.$store.state.linkTypeList
            const nodesData = this.$store.state.nodesData
            const linksData = this.$store.state.linksData

            let currentNode = nodesData.find(i => i.global_id == this.currentViewNode)
            if (currentNode == undefined) {
                currentNode = linksData.find(i => i.global_id == this.currentViewNode)
            }
            if (currentNode == undefined) { // currentViewNode不存在
                this.options = linkTypeList
            }
            else {  // currentViewNode存在，滤去一部分关系类型
                this.options = []
                for (let linkType of linkTypeList) {
                    let flag = false
                    for (let e of linkType.entity)
                        if (this.validateType(currentNode.type_id, e.global_id)) {
                            flag = true
                            break
                        }
                    if (flag) {
                        this.options.push(linkType)
                    }
                }
            }

            console.log('mounted end')
            console.log(this.options)
            console.log(linkTypeList)
        }
    },

    methods: {
        onAddTypeSelect(item) {
            const that = this
            if (item == 0) {
                that.onChangeAddEntity()
            }
            else if (item == 2) {
                that.onChangeAddConstraint()
            }
            
        },

        handleRelationNameSelect(item, index1, index2) {
            const that = this
            console.log('handle relation name select')
            console.log(item)
            console.log(index1)
            console.log(index2)

            that.relation.entity[index1][index2].global_id = item.global_id
        },

        onChangeAddConstraint() {
            this.$emit('add', {
                type: 'KGAddConstraint',
            })
        },

        onChangeAddEntity() {
            this.$emit('add', {
                type: 'KGAddEntity',
            })
        },

        /* @brief   选择了另外的关系类型，清空表单
         *          如果currentViewNode是存在的，就将它填到第一个能填进去的地方
         */
        onEdgeTypeChange() {
            const that = this
            const nodesData = that.$store.state.nodesData
            const linksData = that.$store.state.linksData
            let flag = false
            // 如果当前viewNode存在，就尝试将它填入第一个能填入的地方
            let currentNode = nodesData.find(i => i.global_id == that.currentViewNode)
            if (currentNode == undefined) {
                currentNode = linksData.find(i => i.global_id == that.currentViewNode)
            }
            if (currentNode != undefined) { // viewNode存在
                flag = true
            }

            that.relation.entity = []
            for (let i = 0; i < that.relation.type.entity.length; i++) {
                that.relation.entity.push([])
                for (let j = 0; j < that.relation.type.entity[i].roles.min; j++) {
                    if (j == 0 && flag &&
                        that.validateType(currentNode.type_id, that.relation.type.entity[i].global_id)) {
                        // 可以填进去
                        that.relation.entity[i].push({
                            'name': currentNode.name,
                            'index': i,
                            'global_id': '',
                            'valid': RelationRoleNotFilled, // 未填写
                            'key': Date.now()
                        })
                        flag = false
                    }
                    else {
                        that.relation.entity[i].push({
                            'name': '',
                            'index': i,
                            'global_id': '',
                            'valid': RelationRoleNotFilled, // 未填写
                            'key': Date.now()
                        })
                    }
                }
            }
            
            console.log('Edge type changed.')
            console.log(that.relation)
        },

        onAddEntity(index, pos) {

            if (this.relation.entity[index].length >= this.relation.type.entity[index].roles.max) {
                // 该角色的实体数量达到上限
                this.$message({
                    type: 'info',
                    message: this.relation.type.entity[index].name + '数量已达到上限'
                })
            }
            else {
                this.relation.entity[index].splice(pos+1, 0, {
                    'name': '',
                    'index': index,
                    'global_id': '',
                    'valid': RelationRoleNotFilled, // 未填写
                    'key': Date.now()
                })
                this.$message({
                    type: 'success',
                    message: '新增成功'
                })
            }
        },

        onDeleteEntity(index1, index2) {
            if (this.relation.entity[index1].length <= this.relation.type.entity[index1].roles.min) {
                // 该角色的实体数量达到下限
                this.$message({
                    type: 'info',
                    message: this.relation.type.entity[index1].name + '数量已达到下限'
                })
            }
            else {
                this.relation.entity[index1].splice(index2, 1)
            }
        },

        onSubmit(relation) {
            let that = this
            this.$refs[relation].validate(async (valid) => {
                if (valid) {
                    let roles = []
                    for (let i = 0; i < that.relation.entity.length; i++) {
                        for (let j = 0; j < that.relation.entity[i].length; j++) {
                            let node
                            if (that.relation.entity[i][j].global_id == '') {
                                node = that.nodesData.find(item => {
                                    return item.name == that.relation.entity[i][j].name
                                })
                                if (node == undefined) {
                                    node = that.linksData.find(item => {
                                        return item.name == that.relation.entity[i][j].name
                                    })
                                }
                            }
                            else {
                                node = that.nodesData.find(item => {
                                    return item.global_id == that.relation.entity[i][j].global_id
                                })
                                if (node == undefined) {
                                    node = that.linksData.find(item => {
                                        return item.global_id == that.relation.entity[i][j].global_id
                                    })
                                }
                            }

                            roles.push({
                                'role': this.relation.type.entity[i].name,
                                'inst_id': node.global_id
                            })
                        }
                    }

                    //console.log('+++++++++')
                    //console.log(roles)

                    //that.axios.defaults.baseURL = ''
                    let res = await axios_request(this, 'post', '/inst', {
                        operation: 'createRelation',
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                        relation_type_id: that.relation.type.global_id,
                        roles: roles
                    })
                    
                    console.log('createRelation')
                    console.log(roles)
                    console.log(res)

                    if (res !== '') {
                        if (res.data.error) {
                            //alert(res.data.msg.message)
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message //'关系创建失败'
                            })
                            //console.log(res.msg)
                            return false
                        }
                        else {
                            //console.log('Submit!')
                            //console.log(res.data)

                            that.relation.global_id = res.data.id
                            that.$store.commit('addEdge', {
                                global_id: that.relation.global_id,
                                type: that.relation.type.name,
                                roles: roles,
                                properties: res.data.properties
                            })
                            //alert(`关系创建成功！`)
                            that.$message({
                                type: 'success',
                                message: '关系创建成功'
                            })
                            that.$emit('refresh', {
                                needGetGraph: false,
                                activeRight: true,
                                global_id: that.relation.global_id,
                            })
                            that.$emit('back', {
                                activeRight: true,
                                component: 'KGViewRelation',
                                global_id: that.relation.global_id,
                            })
                            return true
                        }
                    }
                    else {
                        return false
                    }
                }
                else {
                    console.log('fail to add relation')
                    console.log(that.relation)

                    let flag = false
                    const nodeTypeList = that.$store.state.nodeTypeList

                    for (let i = 0; i < that.relation.entity.length; i++) {
                        for (let j = 0; j < that.relation.entity[i].length; j++) {
                            if (that.relation.entity[i][j].valid == RelationRoleNotExist) {
                                let global_id = that.relation.type.entity[i].global_id
                                let entityType = nodeTypeList.find(i => i.global_id == global_id)
                                if (entityType.isComplex == UnionType) continue

                                // 标记该实体需要先创建
                                that.relation.entity[i][j].needCreate = 1
                                
                                flag = true
                                // break
                            }
                            else {
                                that.relation.entity[i][j].needCreate = 0
                            }
                        }
                        // if (flag) break
                    }

                    if (flag) {
                        that.createNodeDialog = true
                    }

                    return false
                }
            })
        },

        async onSubmitCreateNode() {
            console.log('submit create node')

            const that = this
            //const nodeTypeList = that.$store.state.nodeTypeList
            let flag = true

            for (let i = 0; i < that.relation.entity.length; i++) {
                for (let j = 0; j < that.relation.entity[i].length; j++) {
                    if (that.relation.entity[i][j].needCreate == 1) {
                        let res = await axios_request(that, 'post', '/inst', {
                            operation: 'createEntity',
                            user_id: that.$store.state.Authorization,
                            project: that.$store.state.project_name,
                            entity_type_id: Number(that.relation.type.entity[i].global_id),
                            entity_name: that.relation.entity[i][j].name
                        })
                        console.log('create new node')
                        console.log(res)

                        if (res !== '') {
                            if (res.data.error) {
                                that.$message({
                                    type: 'error',
                                    message: res.data.msg.message
                                })
                                flag = false
                                break
                            }
                            else {
                                that.$message({
                                    type: 'success',
                                    message: '成功创建实体'
                                })

                                that.$store.commit('addNode', {
                                    global_id: res.data.id,
                                    type: that.relation.type.entity[i].type,
                                    name: that.relation.entity[i][j].name,
                                    type_id: that.relation.type.entity[i].global_id,
                                    properties: res.data.properties
                                })
                            }
                        }
                        else {
                            flag = false
                            break
                        }
                    }
                }
                if (!flag) break
            }

            that.$emit('refresh', {
                needGetGraph: false,
                activeRight: true,
                updateLeft: true,
                updateRight: false,
            })
            that.createNodeDialog = false
            this.$refs['relation'].validate()
        },

        onCancel() {
            console.log('Cancel!')
            this.$emit('back', {
                activeRight: false,
            })
        }
    }
}
</script>

<style scoped>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
    
    .header /deep/ .el-input__inner {
        border: 0px;
        font-size: 16px;
        color: #333;
    }
</style>