<template>
    <el-container direction="vertical">
        <el-header>
            <!--
            <div class="header">
                <span>添加约束 &nbsp;</span>
                <el-button type="text" @click="onChangeAddEntity()">切换</el-button>
            </div>
            -->
            <div class="header">
                <el-select v-model="addType" size="medium" style="width: 120px;" @change="onAddTypeSelect">
                    <el-option
                        v-for="item in [
                            {label: '实体', value: 0},
                            {label: '关系', value: 1},
                            //{label: '约束', value: 2}
                        ]"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    >
                    </el-option>
                </el-select>
            </div>
        </el-header>

        <el-main class="content">
            <div style="height:100%; overflow: hidden;">
                <el-scrollbar style="height:100%">
                    <el-form :model="constraintForm" ref="constraintForm" label-position="left" label-width="auto" size="mini">
                        <!-------------------------- 前置条件 ----------------------------->
                        <template
                            v-for="(item1, index1) in constraintForm.precond_item_list"
                            :key="index1"
                            :index="(index1+'')"
                        >
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 前置条件项 {{ index1 + 1 }} </span>
                                        <div>
                                            <i class="el-icon-plus" @click="onAddConstraintCondition('precond_item_list', index1, 'precondition_list')"></i>
                                            <i class="el-icon-delete" @click="onDeleteConstraintItem('precond_item_list', index1, 'precondition_list')"></i>
                                        </div>
                                    </div>
                                </template>

                                <el-collapse accordion>
                                    <template
                                        v-for="(item2, index2) in item1.precondition_list"
                                        :key="index2"
                                        :index="(index1+'-'+index2)"
                                    >
                                        <el-collapse-item :name="'precond_item['+index1+']['+index2+']'">
                                            <template #title>
                                                条件{{index2+1}}
                                                <i class="el-icon-info"></i>
                                            </template>

                                            <el-form-item
                                                :label="'参数1'"
                                                :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para1'"
                                                :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                <el-select
                                                    v-model="item2.para1.type"
                                                    style="width: 100%;">
                                                    <el-option
                                                        v-for="item2 in paraTypeListLimit"
                                                        :key="item2.name"
                                                        :label="item2.name"
                                                        :value="item2.value"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <template v-if="item2.para1.type == 'node'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-col :span="16">
                                                        <el-select
                                                            v-model="item2.para1.name"
                                                            filterable
                                                            placeholder="请选择参数">
                                                            <el-option
                                                                v-for="item3 in paraCandidateList"
                                                                :key="item3.global_id"
                                                                :label="item3.name"
                                                                :value="item3.name"
                                                                @click="onSelectConstraintCondition('precond_item_list', index1, 'precondition_list', index2, 'para1', item3)">
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <el-select
                                                            v-model="item2.para1.property_name"
                                                            filterable
                                                            :disabled="item2.para1.global_id == ''">
                                                            <el-option
                                                                v-for="item3 in item2.para1.property_list"
                                                                :key="item3.name"
                                                                :label="item3.name"
                                                                :value="item3.name"
                                                                @click="onSelectConstraintConditionProperty('precond_item_list', index1, 'precondition_list', index2, 'para1', item3)">
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                </el-form-item>
                                            </template>

                                            <!--<template v-if="item2.para1.type == 'string'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-input
                                                        v-model="item2.para1.str"
                                                        placeholder="">
                                                    </el-input>
                                                </el-form-item>
                                            </template>-->

                                            <template v-if="item2.para1.type == 'number'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-col :span="16">
                                                        <el-input
                                                            v-model="item2.para1.number"
                                                            placeholder="数值"
                                                            style="width: 100%;">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <el-input
                                                            v-model="item2.para1.unit"
                                                            placeholder="单位"
                                                            style="width: 100%;">
                                                        </el-input>
                                                    </el-col>
                                                </el-form-item>
                                            </template>

                                            <template v-if="item2.para1.property_name != 'valid' && item2.para1.property_name != 'invalid'">
                                                <el-form-item :label="'比较符'">
                                                    <el-select
                                                        v-model="item2.opt"
                                                        style="width: 100%;">
                                                        <el-option
                                                            v-for="item3 in compareOptList"
                                                            :key="item3"
                                                            :label="item3"
                                                            :value="item3">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>

                                                <!--<el-form-item
                                                    :label="'参数2'"
                                                    :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-select
                                                        v-model="item2.para2.type"
                                                        style="width: 100%;">
                                                        <el-option
                                                            v-for="item2 in paraTypeList"
                                                            :key="item2.name"
                                                            :label="item2.name"
                                                            :value="item2.value"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>-->

                                                <template v-if="item2.para1.isroles == true">
                                                    <el-form-item
                                                        :label="'参数2'"
                                                        :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-select
                                                            v-model="item2.para2.type"
                                                            style="width: 100%;">
                                                            <el-option
                                                                v-for="item2 in paraTypeListLimit"
                                                                :key="item2.name"
                                                                :label="item2.name"
                                                                :value="item2.value"
                                                            >
                                                            </el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </template>

                                                <template v-if="item2.para1.isroles == false">
                                                    <el-form-item
                                                        :label="'参数2'"
                                                        :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-select
                                                            v-model="item2.para2.type"
                                                            style="width: 100%;">
                                                            <el-option
                                                                v-for="item2 in paraTypeList"
                                                                :key="item2.name"
                                                                :label="item2.name"
                                                                :value="item2.value"
                                                            >
                                                            </el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </template>

                                                <template v-if="item2.para2.type == 'node'">
                                                    <el-form-item
                                                        :label="''"
                                                        :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-col :span="16">
                                                            <el-select
                                                                v-model="item2.para2.name"
                                                                filterable
                                                                placeholder="请选择参数">
                                                                <el-option
                                                                    v-for="item3 in paraCandidateList"
                                                                    :key="item3.global_id"
                                                                    :label="item3.name"
                                                                    :value="item3.name"
                                                                    @click="onSelectConstraintCondition('precond_item_list', index1, 'precondition_list', index2, 'para2', item3)">
                                                                </el-option>
                                                            </el-select>
                                                        </el-col>
                                                        <el-col :span="8">
                                                            <el-select
                                                                v-model="item2.para2.property_name"
                                                                filterable
                                                                :disabled="item2.para2.global_id == ''">
                                                                <el-option
                                                                    v-for="item3 in item2.para2.property_list"
                                                                    :key="item3.name"
                                                                    :label="item3.name"
                                                                    :value="item3.name"
                                                                    @click="onSelectConstraintConditionProperty('precond_item_list', index1, 'precondition_list', index2, 'para2', item3)">
                                                                </el-option>
                                                            </el-select>
                                                        </el-col>
                                                    </el-form-item>
                                                </template>

                                                <!--<template v-if="item2.para2.type == 'string'">
                                                    <el-form-item
                                                        :label="''"
                                                        :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-input
                                                            v-model="item2.para2.str"
                                                            placeholder="">
                                                        </el-input>
                                                    </el-form-item>
                                                </template>-->

                                                <template v-if="item2.para2.type == 'number'">
                                                    <!--<el-form-item
                                                        :label="''"
                                                        :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-col :span="16">
                                                            <el-input
                                                                v-model="item2.para2.number"
                                                                placeholder="数值"
                                                                style="width: 100%;">
                                                            </el-input>
                                                        </el-col>
                                                        <el-col :span="8">
                                                            <el-input
                                                                v-model="item2.para2.unit"
                                                                placeholder="单位"
                                                                style="width: 100%;">
                                                            </el-input>
                                                        </el-col>
                                                    </el-form-item>-->
                                                    <template v-if="item2.para1.ispatient == true && item2.para1.isroles == false && item2.para1.property_typeID == 'patientInf'">
                                                        <el-form-item
                                                            :label="''"
                                                            :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                            :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                            <el-col :span="16">
                                                                <el-input
                                                                    v-model="item2.para2.property_value[String('number')].value"
                                                                    placeholder="数值"
                                                                    style="width: 100%;">
                                                                </el-input>
                                                            </el-col>

                                                            <el-col :span="8">
                                                                <el-input
                                                                    v-model="item2.para2.property_value[String('unit')].value"
                                                                    placeholder="单位"
                                                                    style="width: 100%;">
                                                                </el-input>
                                                            </el-col>
                                                        </el-form-item>
                                                    </template>

                                                    <template v-if="item2.para1.ispatient == true && item2.para1.isroles == false && item2.para1.property_typeID == 'patientFH'">
                                                        <el-form-item
                                                            :label="''"
                                                            :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                            :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                                <el-select
                                                                    v-model="item2.para2.property_value[item2.para1.property_name].value"
                                                                    placeholder="请选择家族史值"
                                                                    style="display: block;"
                                                                >
                                                                    <el-option
                                                                        v-for="item in familyHistoryList"
                                                                        :key="item.global_id"
                                                                        :label="item.name"
                                                                        :value="item.name"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                        </el-form-item>
                                                    </template>

                                                    <template v-if="item2.para1.isroles == false && item2.para1.type == 'node' && item2.para1.ispatient == false">
                                                        <template v-if="item2.para1.property_type == 'Basic'">
                                                            <el-form-item
                                                                label="属性值"
                                                                :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                                :rules="[{
                                                                    validator: validateProperty,
                                                                    trigger: 'blur'
                                                                }]"
                                                            >
                                                                <el-input
                                                                    placeholder="请输入属性值"
                                                                    v-model="item2.para2.property_value[item2.para1.property_name].value"
                                                                >
                                                                </el-input>
                                                            </el-form-item>
                                                        </template>

                                                        <template v-if="item2.para1.property_type == 'Enum'">
                                                            <el-form-item label="属性值" prop="property_value">
                                                                <el-select
                                                                    v-model="item2.para2.property_value[item2.para1.property_name].value"
                                                                    placeholder="请选择属性值"
                                                                    style="display: block;"
                                                                >
                                                                    <el-option
                                                                        v-for="item in symbolData[String(item2.para1.property_typeID)].enum_values"
                                                                        :key="'Enum' + item"
                                                                        :label="item"
                                                                        :value="item"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                            </el-form-item>
                                                        </template>

                                                        <template v-if="item2.para1.property_type == 'Compound'">
                                                            <el-form-item
                                                                v-for="(id, name) in symbolData[String(item2.para1.property_typeID)].child_symbols"
                                                                :key="'child_symbol' + name"
                                                                :label="name"
                                                                :prop="'precond_item_list['+index1+'].precondition_list['+index2+'].para2'"
                                                                :rules="[{
                                                                    validator: validateProperty,
                                                                    trigger: 'blur'
                                                                }]"
                                                            >
                                                                <template v-if="symbolData[String(id)].type == 'Basic'">
                                                                    <el-input
                                                                        placeholder="请输入属性值"
                                                                        v-model="item2.para2.property_value[name].value"
                                                                    >
                                                                    </el-input>
                                                                </template>

                                                                <template v-if="symbolData[String(id)].type == 'Enum'">
                                                                    <el-select
                                                                        v-model="item2.para2.property_value[name].value"
                                                                        placeholder="请选择属性值"
                                                                        style="display: block;"
                                                                    >
                                                                        <el-option
                                                                            v-for="item in symbolData[String(id)].enum_values"
                                                                            :key="name + ' ' + item"
                                                                            :label="item"
                                                                            :value="item"
                                                                        >
                                                                        </el-option>
                                                                    </el-select>
                                                                </template>
                                                            </el-form-item>
                                                        </template>
                                                    </template>
                                                </template>
                                            </template>

                                            <el-button
                                                class="button"
                                                icon="el-icon-delete"
                                                size="mini"
                                                circle
                                                @click="onDeleteConstraintCondition('precond_item_list', index1, 'precondition_list', index2)"
                                            >
                                            </el-button>
                                        </el-collapse-item>
                                    </template>
                                </el-collapse>
                            </el-card>
                        </template>

                        <!-------------------------- 后置条件 ----------------------------->
                        <template
                            v-for="(item1, index1) in constraintForm.postcond_item_list"
                            :key="index1"
                            :index="(index1+'')"
                        >
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 后置条件项 {{ index1 + 1 }} </span>
                                        <div>
                                            <i class="el-icon-plus" @click="onAddConstraintCondition('postcond_item_list', index1, 'postcondition_list')"></i>
                                            <i class="el-icon-delete" @click="onDeleteConstraintItem('postcond_item_list', index1, 'postcondition_list')"></i>
                                        </div>
                                    </div>
                                </template>

                                <el-collapse accordion>
                                    <template
                                        v-for="(item2, index2) in item1.postcondition_list"
                                        :key="index2"
                                        :index="(index1+'-'+index2)"
                                    >
                                        <el-collapse-item :name="'postcond_item['+index1+']['+index2+']'">
                                            <template #title>
                                                条件{{index2+1}}
                                                <i class="el-icon-info"></i>
                                            </template>

                                            <el-form-item
                                                :label="'参数1'"
                                                :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para1'"
                                                :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                <el-select
                                                    v-model="item2.para1.type"
                                                    style="width: 100%;">
                                                    <el-option
                                                        v-for="item2 in paraTypeListLimit"
                                                        :key="item2.name"
                                                        :label="item2.name"
                                                        :value="item2.value"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <template v-if="item2.para1.type == 'node'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-col :span="16">
                                                        <el-select
                                                            v-model="item2.para1.name"
                                                            filterable
                                                            placeholder="请选择参数">
                                                            <el-option
                                                                v-for="item3 in paraCandidateList"
                                                                :key="item3.global_id"
                                                                :label="item3.name"
                                                                :value="item3.name"
                                                                @click="onSelectConstraintCondition('postcond_item_list', index1, 'postcondition_list', index2, 'para1', item3)">
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <el-select
                                                            v-model="item2.para1.property_name"
                                                            filterable
                                                            :disabled="item2.para1.global_id == ''">
                                                            <el-option
                                                                v-for="item3 in item2.para1.property_list"
                                                                :key="item3.name"
                                                                :label="item3.name"
                                                                :value="item3.name"
                                                                @click="onSelectConstraintConditionProperty('postcond_item_list', index1, 'postcondition_list', index2, 'para1', item3)">
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                </el-form-item>
                                            </template>

                                            <!--<template v-if="item2.para1.type == 'string'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-input
                                                        v-model="item2.para1.str"
                                                        placeholder="">
                                                    </el-input>
                                                </el-form-item>
                                            </template>-->

                                            <template v-if="item2.para1.type == 'number'">
                                                <el-form-item
                                                    :label="''"
                                                    :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para1'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-col :span="16">
                                                        <el-input
                                                            v-model="item2.para1.number"
                                                            placeholder="数值"
                                                            style="width: 100%;">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <el-input
                                                            v-model="item2.para1.unit"
                                                            placeholder="单位"
                                                            style="width: 100%;">
                                                        </el-input>
                                                    </el-col>
                                                </el-form-item>
                                            </template>

                                            <template v-if="item2.para1.property_name != 'valid' && item2.para1.property_name != 'invalid'">
                                                <el-form-item :label="'比较符'">
                                                    <el-select
                                                        v-model="item2.opt"
                                                        style="width: 100%;">
                                                        <el-option
                                                            v-for="item3 in compareOptList"
                                                            :key="item3"
                                                            :label="item3"
                                                            :value="item3">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>

                                                <!--<el-form-item
                                                    :label="'参数2'"
                                                    :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                    :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                    <el-select
                                                        v-model="item2.para2.type"
                                                        style="width: 100%;">
                                                        <el-option
                                                            v-for="item2 in paraTypeList"
                                                            :key="item2.name"
                                                            :label="item2.name"
                                                            :value="item2.value"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>-->

                                                <template v-if="item2.para1.isroles == true">
                                                    <el-form-item
                                                        :label="'参数2'"
                                                        :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-select
                                                            v-model="item2.para2.type"
                                                            style="width: 100%;">
                                                            <el-option
                                                                v-for="item2 in paraTypeListLimit"
                                                                :key="item2.name"
                                                                :label="item2.name"
                                                                :value="item2.value"
                                                            >
                                                            </el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </template>

                                                <template v-if="item2.para1.isroles == false">
                                                    <el-form-item
                                                        :label="'参数2'"
                                                        :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-select
                                                            v-model="item2.para2.type"
                                                            style="width: 100%;">
                                                            <el-option
                                                                v-for="item2 in paraTypeList"
                                                                :key="item2.name"
                                                                :label="item2.name"
                                                                :value="item2.value"
                                                            >
                                                            </el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </template>
                                
                                                <template v-if="item2.para2.type == 'node'">
                                                    <el-form-item
                                                        :label="''"
                                                        :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-col :span="16">
                                                            <el-select
                                                                v-model="item2.para2.name"
                                                                filterable
                                                                placeholder="请选择参数">
                                                                <el-option
                                                                    v-for="item3 in paraCandidateList"
                                                                    :key="item3.global_id"
                                                                    :label="item3.name"
                                                                    :value="item3.name"
                                                                    @click="onSelectConstraintCondition('postcond_item_list', index1, 'postcondition_list', index2, 'para2', item3)">
                                                                </el-option>
                                                            </el-select>
                                                        </el-col>
                                                        <el-col :span="8">
                                                            <el-select
                                                                v-model="item2.para2.property_name"
                                                                filterable
                                                                :disabled="item2.para2.global_id == ''">
                                                                <el-option
                                                                    v-for="item3 in item2.para2.property_list"
                                                                    :key="item3.name"
                                                                    :label="item3.name"
                                                                    :value="item3.name"
                                                                    @click="onSelectConstraintConditionProperty('postcond_item_list', index1, 'postcondition_list', index2, 'para2', item3)">
                                                                </el-option>
                                                            </el-select>
                                                        </el-col>
                                                    </el-form-item>
                                                </template>

                                                <!--<template v-if="item2.para2.type == 'string'">
                                                    <el-form-item
                                                        :label="''"
                                                        :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-input
                                                            v-model="item2.para2.str"
                                                            placeholder="">
                                                        </el-input>
                                                    </el-form-item>
                                                </template>-->

                                                <template v-if="item2.para2.type == 'number'">
                                                    <!--<el-form-item
                                                        :label="''"
                                                        :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                        :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                        <el-col :span="16">
                                                            <el-input
                                                                v-model="item2.para2.number"
                                                                placeholder="数值"
                                                                style="width: 100%;">
                                                            </el-input>
                                                        </el-col>
                                                        <el-col :span="8">
                                                            <el-input
                                                                v-model="item2.para2.unit"
                                                                placeholder="单位"
                                                                style="width: 100%;">
                                                            </el-input>
                                                        </el-col>
                                                    </el-form-item>-->
                                                    <template v-if="item2.para1.isroles == true">
                                                        <el-form-item
                                                            :label="''"
                                                            :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                            :rules="[{ validator: validateNotEmpty, trigger: 'blur' }]">
                                                            <el-col :span="16">
                                                                <el-input
                                                                    v-model="item2.para2.number"
                                                                    placeholder="数值"
                                                                    style="width: 100%;">
                                                                </el-input>
                                                            </el-col>
                                                            <el-col :span="8">
                                                                <el-input
                                                                    v-model="item2.para2.unit"
                                                                    placeholder="单位"
                                                                    style="width: 100%;">
                                                                </el-input>
                                                            </el-col>
                                                        </el-form-item>
                                                    </template>
                                                    <template v-if="item2.para1.isroles == false && item2.para1.type == 'node'">
                                                        <template v-if="item2.para1.property_type == 'Basic'">
                                                            <el-form-item
                                                                label="属性值"
                                                                :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                                :rules="[{
                                                                    validator: validateProperty,
                                                                    trigger: 'blur'
                                                                }]"
                                                            >
                                                                <el-input
                                                                    placeholder="请输入属性值"
                                                                    v-model="item2.para2.property_value[item2.para1.property_name].value"
                                                                >
                                                                </el-input>
                                                            </el-form-item>
                                                        </template>

                                                        <template v-if="item2.para1.property_type == 'Enum'">
                                                            <el-form-item label="属性值" prop="property_value">
                                                                <el-select
                                                                    v-model="item2.para2.property_value[item2.para1.property_name].value"
                                                                    placeholder="请选择属性值"
                                                                    style="display: block;"
                                                                >
                                                                    <el-option
                                                                        v-for="item in symbolData[String(item2.para1.property_typeID)].enum_values"
                                                                        :key="'Enum' + item"
                                                                        :label="item"
                                                                        :value="item"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                            </el-form-item>
                                                        </template>

                                                        <template v-if="item2.para1.property_type == 'Compound'">
                                                            <el-form-item
                                                                v-for="(id, name) in symbolData[String(item2.para1.property_typeID)].child_symbols"
                                                                :key="'child_symbol' + name"
                                                                :label="name"
                                                                :prop="'postcond_item_list['+index1+'].postcondition_list['+index2+'].para2'"
                                                                :rules="[{
                                                                    validator: validateProperty,
                                                                    trigger: 'blur'
                                                                }]"
                                                            >
                                                                <template v-if="symbolData[String(id)].type == 'Basic'">
                                                                    <el-input
                                                                        placeholder="请输入属性值"
                                                                        v-model="item2.para2.property_value[name].value"
                                                                    >
                                                                    </el-input>
                                                                </template>

                                                                <template v-if="symbolData[String(id)].type == 'Enum'">
                                                                    <el-select
                                                                        v-model="item2.para2.property_value[name].value"
                                                                        placeholder="请选择属性值"
                                                                        style="display: block;"
                                                                    >
                                                                        <el-option
                                                                            v-for="item in symbolData[String(id)].enum_values"
                                                                            :key="name + ' ' + item"
                                                                            :label="item"
                                                                            :value="item"
                                                                        >
                                                                        </el-option>
                                                                    </el-select>
                                                                </template>
                                                            </el-form-item>
                                                        </template>
                                                    </template>
                                                </template>
                                            </template>

                                            <el-button
                                                class="button"
                                                icon="el-icon-delete"
                                                size="mini"
                                                circle
                                                @click="onDeleteConstraintCondition('postcond_item_list', index1, 'postcondition_list', index2)"
                                            >
                                            </el-button>
                                        </el-collapse-item>
                                    </template>
                                </el-collapse>
                            </el-card>
                        </template>

                        <!-- 按钮 -->
                        <div>
                            <el-button type="primary" @click="onAddConditionItem('precond_item_list', 'precondition_list')" size="mini"> 添加前置条件项 </el-button>
                            <el-button type="primary" @click="onAddConditionItem('postcond_item_list', 'postcondition_list')" size="mini"> 添加后置条件项 </el-button>
                            <el-button type="primary" @click="onSubmitConstraint('constraintForm')" size="mini">提交</el-button>
                        </div>
                    </el-form>
                </el-scrollbar>
            </div>
        </el-main>
    </el-container>
</template>

<script>
import { axios_request } from '../../util/axios_utils'
// import {axios_request} from '../../util/axios_utils.js'

const PatientGlobalID = '-1'

export default {
    emits: ['back', 'add', 'refresh'],

    data() {
        const nodesData = this.$store.state.nodesData
        const linksData = this.$store.state.linksData
        const nodeTypeList = this.$store.state.nodeTypeList
        const linkTypeList = this.$store.state.linkTypeList
        const symbolData = this.$store.state.symbolData

        let nodeTypeMap = new Map()
        let linkTypeMap = new Map()
        for (let nodeType of nodeTypeList) {
            nodeTypeMap.set(String(nodeType.global_id), nodeType)
        }
        for (let linkType of linkTypeList) {
            linkTypeMap.set(String(linkType.global_id), linkType)
        }

        var paraCandidateList = []

        /* 缺省的输入：病人 */
        paraCandidateList.push({
            global_id: PatientGlobalID,
            name: '患者',
            properties_list: [{
                name: '体重',
                value: '0',
                type_id: 'patientInf',
            }, {
                name: '年龄',
                value: '0',
                type_id: 'patientInf',
            }, {
                name: '身高',
                value: '0',
                type_id: 'patientInf',
            }, {
                name: 'BMI',
                value: '0',
                type_id: 'patientInf',
            }, {
                name: '家族史',
                value: '0',
                type_id: 'patientFH',
            }],
        })

        var familyHistoryList = []

        familyHistoryList.push({
            name: '结肠癌',
            global_id: 'familyHistory01',
        }, {
            name: '乳腺癌',
            global_id: 'familyHistory02',
        }, {
            name: '肺癌',
            global_id: 'familyHistory03',
        }, {
            name: '糖尿病',
            global_id: 'familyHistory04',
        }, {
            name: '癫痫',
            global_id: 'familyHistory05',
        })

        for (let item of nodesData) {
            let properties_list = [{
                name: 'valid',
                value: 1,
                type_id: '',
            }, {
                name: 'invalid',
                value: 0,
                type_id: '',
            }]

            /*
            for (let prop of item.properties) {
                properties_list.push({
                    name: prop.property_name,
                    value: prop.property_value,
                })
            }
            */

            let nodeType = nodeTypeMap.get(String(item.type_id))
            for (let prop of nodeType.properties) {
                properties_list.push({
                    name: prop.property_name,
                    value: 1,
                    type_id: prop.type_id,
                })
            }

            paraCandidateList.push({
                global_id: item.global_id,
                name: item.name,
                properties_list: properties_list,
            })
        }
        for (let item of linksData) {
            let properties_list = [{
                name: 'valid',
                value: 1,
                type_id: '',
            }, {
                name: 'invalid',
                value: 0,
                type_id: '',
            }]

            /*  允许关系上已经建好的属性
            for (let prop of item.properties) {
                properties_list.push({
                    name: prop.property_name,
                    value: prop.property_value,
                })
            }
            */

            // 现在允许选择关系类型上的property以及关系的role
            let linkType = linkTypeMap.get(String(item.type_id))
            for (let prop of linkType.properties) {
                properties_list.push({
                    name: prop.property_name,
                    value: 1,   // value用不上
                    type_id: prop.type_id,
                })
            }
            for (let role of item.roles) {
                properties_list.push({
                    name: role.role,
                    value: 1,
                    type_id: '',
                })
            }

            paraCandidateList.push({
                global_id: item.global_id,
                name: item.name,
                properties_list: properties_list
            })
        }
        //console.log('para candidate')
        //console.log(paraCandidateList)

        var validateNotEmpty = (rule, value, callback) => {
            if (value == '' || value == undefined) {
                callback(new Error(`输入不能为空`))
            }
            else {
                callback()
            }
        }
        
        var validateIsNumber = (rule, value, callback) => {
            if (value == '' || value == undefined) {
                callback(new Error(`输入不能为空`))
            }
            else {
                let flag = true
                for (let i of value)
                    if (!(('0' <= i && i <= '9') || (i == '.'))) {
                        flag = false
                        break
                    }
                if (value.indexOf('.') != value.lastIndexOf('.')) { // 至少两个'.'
                    flag = false
                }
                if (!flag) callback(new Error(`请输入数值`))
                    else callback()
            }
        }

        const validateProperty = (rule, value, callback) => {
            console.log('validate')
            console.log(rule)
            console.log(value)
            if(value == undefined){
                console.log("error ----- -- - -- -")
            }
            if (value.value == '') {
                callback(new Error("请输入属性值"))
            }
            else if (value.type == 'String' || value.type == 'Enum') {
                callback()
            }
            else if (value.type == 'Int') {
                if (Number.isNaN(Number(value.value))) {
                    callback(new Error("请输入整数"))
                }
                else if (!Number.isInteger(Number(value.value))) {
                    callback(new Error("请输入整数"))
                }
                else {
                    callback()
                }
            }
            else if (value.type == 'Float') {
                if (Number.isNaN(Number(value.value))) {
                    callback(new Error("请输入数字"))
                }
                else {
                    callback()
                }
            }
            else {
                callback()
            }
        }

        return {
            addType: '添加约束',
            PatientGlobalID,
            validateNotEmpty,
            validateIsNumber,
            paraCandidateList,
            familyHistoryList,
            
            validateProperty,
            symbolData,

            paraTypeList : [{
                name: '实体/关系', value: 'node'
            }, 
            /*{
                name: '文本', value: 'string'
            }, */
            {
                name: '数值', value: 'number'
            }],

            paraTypeListLimit : [{
                name: '实体/关系', value: 'node'
            }],

            compareOptList: [
                '<', '<=', '=', '>=', '>', '⊂', '⊃', '∈', 
            ],

            constraintForm : {
                precond_item_list: [{
                    precondition_list: [{
                        para1: {
                            type: 'node',
                            global_id: '',
                            name: '',
                            property_name: '',
                            property_list: [],
                            property_type: '',
                            property_typeID: '',
                            property_value : [],
                            isroles: false,
                            ispatient: false,
                            number: '',
                            unit: '',
                            str: '',
                        },
                        para2: {
                            type: 'node',
                            global_id: '',
                            name: '',
                            property_name: '',
                            property_list: [],
                            property_type: '',
                            property_typeID: '',
                            property_value : [],
                            isroles: false,
                            ispatient: false,
                            number: '',
                            unit: '',
                            str: '',
                        },
                        opt: '',
                    }],
                }],
                postcond_item_list: [{
                    postcondition_list: [{
                        para1: {
                            type: 'node',
                            global_id: '',
                            name: '',
                            property_name: '',
                            property_list: [],
                            property_type: '',
                            property_typeID: '',
                            property_value : [],
                            isroles: false,
                            ispatient: false,
                            number: '',
                            unit: '',
                            str: '',
                        },
                        para2: {
                            type: 'node',
                            global_id: '',
                            name: '',
                            property_name: '',
                            property_list: [],
                            property_type: '',
                            property_typeID: '',
                            property_value : [],
                            isroles: false,
                            ispatient: false,
                            number: '',
                            unit: '',
                            str: '',
                        },
                        opt: '',
                    }],
                }],
            }
        }
    },

    methods: {
        onAddTypeSelect(item) {
            const that = this
            if (item == 0) {
                that.onChangeAddEntity()
            }
            else if (item == 1) {
                that.onChangeAddRelation()
            }
            
        },

        onChangeAddRelation() {
            this.$emit('add', {
                type: 'KGAddRelation',
            })
        },

        onChangeAddEntity() {
            this.$emit('add', {
                type: 'KGAddEntity',
            })
        },

        onAddConditionItem(item_list, condition_list) {
            this.constraintForm[item_list].push({
                [condition_list]: [{
                    para1: {
                        type: 'node',
                        global_id: '',
                        name: '',
                        property_name: '',
                        property_list: [],
                        property_type: '',
                        property_typeID: '',
                        property_value : [],
                        isroles: false,
                        ispatient: false,
                        number: '',
                        unit: '',
                        str: '',
                    },
                    para2: {
                        type: 'node',
                        global_id: '',
                        name: '',
                        property_name: '',
                        property_list: [],
                        property_type: '',
                        property_typeID: '',
                        property_value : [],
                        isroles: false,
                        ispatient: false,
                        number: '',
                        unit: '',
                        str: '',
                    },
                    opt: '',
                }]
            })
        },

        onDeleteConstraintItem(item_list, index, condition_list) {
            condition_list
            if (this.constraintForm[item_list].length > 1) {
                this.constraintForm[item_list].splice(index, 1)
            }
        },

        onAddConstraintCondition(item_list, index1, condition_list) {
            console.log('add constraint')
            this.constraintForm[item_list][index1][condition_list].push({
                para1: {
                    type: 'node',
                    global_id: '',
                    name: '',
                    property_name: '',
                    property_list: [],
                    property_type: '',
                    property_typeID: '',
                    property_value : [],
                    isroles: false,
                    ispatient: false,
                    number: '',
                    unit: '',
                    str: '',
                },
                para2: {
                    type: 'node',
                    global_id: '',
                    name: '',
                    property_name: '',
                    property_list: [],
                    property_type: '',
                    property_typeID: '',
                    property_value : [],
                    isroles: false,
                    ispatient: false,
                    number: '',
                    unit: '',
                    str: '',
                },
                opt: '',
            })
        },

        onDeleteConstraintCondition(item_list, index1, condition_list, index2) {
            console.log('delete constraint')
            if (this.constraintForm[item_list][index1][condition_list].length > 1) {
                this.constraintForm[item_list][index1][condition_list].splice(index2, 1)
            }
        },

        onSelectConstraintCondition(item_list, index1, condition_list, index2, para, selectedItem) {
            let tmp = this.constraintForm[item_list][index1][condition_list][index2][para]
            tmp.global_id = selectedItem.global_id
            tmp.name = selectedItem.name
            tmp.property_name = ''
            tmp.property_list = selectedItem.properties_list
        },

        onSelectConstraintConditionProperty(item_list, index1, condition_list, index2, para, selectedItem) {
            let tmp = this.constraintForm[item_list][index1][condition_list][index2][para]
            let tmpPara = String('para1')
            if(para == String('para1')){
                tmpPara = String('para2')
            }
            let tmpNext =  this.constraintForm[item_list][index1][condition_list][index2][tmpPara]
            tmp.property_name = selectedItem.name
            if(selectedItem.type_id == ''){
                tmp.isroles = true
            } else {
                tmp.isroles = false
            }
            if(selectedItem.type_id == 'patientFH' || selectedItem.type_id == 'patientInf'){
                tmp.ispatient = true
            } else {
                tmp.ispatient = false
            }
            let selectedItemProperty = this.symbolData[String(selectedItem.type_id)]
            let property_value = []
            if(selectedItem.type_id != '' && selectedItem.type_id != 'patientFH' && selectedItem.type_id != 'patientInf'){
                if(selectedItemProperty.type == 'Compound'){
                    let child_symbols = this.symbolData[String(selectedItem.type_id)].child_symbols
                    for(let key in child_symbols){ 
                        if(this.symbolData[String(child_symbols[key])].type == 'Basic') {
                            property_value[key] = {
                                'name': String(key),
                                'value': '',
                                'type': this.symbolData[String(child_symbols[key])].name
                            }
                        } else {
                            property_value[key] = {
                                'name': String(key),
                                'value': '',
                                'type': this.symbolData[String(child_symbols[key])].type
                            }
                        }
                    }
                } else if (selectedItemProperty.type == 'Basic') {
                    property_value[selectedItem.name] = {
                        'name': String(selectedItem.name),
                        'value': '',
                        'type': this.symbolData[String(selectedItem.type_id)].name
                    }
                }
                else {
                    property_value[selectedItem.name] = {
                        'name': String(selectedItem.name),
                        'value': '',
                        'type': this.symbolData[String(selectedItem.type_id)].type
                    }
                }
                tmp.property_name = selectedItem.name
                tmp.property_type = selectedItemProperty.type
                tmp.property_typeID = selectedItem.type_id
                tmpNext.property_value = property_value
            } else if (selectedItem.type_id == 'patientFH' && selectedItem.type_id != 'patientInf') {
                property_value[selectedItem.name] = {
                    'name': String(selectedItem.name),
                    'value': '',
                    'type': 'String',
                }
                tmp.property_typeID = selectedItem.type_id
                tmpNext.property_value = property_value
                tmpNext.type = 'number'
            } else if (selectedItem.type_id == 'patientInf') {
                property_value[String('number')] = {
                    'name': String('number'),
                    'value': '',
                    'type': 'Float',
                }
                property_value[String('unit')] = {
                    'name': String('unit'),
                    'value': '',
                    'type': 'String'
                }
                tmp.property_typeID = selectedItem.type_id
                tmpNext.property_value = property_value
                tmpNext.type = 'number'
            } else {
                property_value[selectedItem.name] = {
                    'name': String(selectedItem.name),
                    'value': '',
                    'type': 'String'
                }
                tmp.property_typeID = selectedItem.type_id
                tmpNext.property_value = property_value
                tmpNext.type = 'node'
            }
            console.log('------参数1和参数2-----')
            console.log(tmp)
            console.log(tmpNext)
        },

        onSubmitConstraint(formName) {
            const that = this

            that.$refs[formName].validate(async (valid) => {
                if (valid) {
                    let constraint = {
                        precond_item_list:  [],
                        postcond_item_list: [],
                    }

                    let generateArg = (para, loc, property, valueTag) => {
                        let arg = {
                            arg_location: loc,
                            type: para.type,
                            values: [],
                        }

                        if (loc == 'right' && property == 'valid') {
                            arg.type = 'bool'
                            arg.values.push({
                                'name': 'valid',
                                'value': true,
                                'type': 'bool',
                            })
                        }
                        else if (loc == 'right' && property == 'invalid') {
                            arg.type = 'bool'
                            arg.values.push({
                                'name': 'valid',
                                'value': true,
                                'type': 'bool',
                            })
                        }
                        else if (para.type == 'number') {
                            if(valueTag == false && loc == 'right'){
                                for(let key in para.property_value){
                                    let item = para.property_value[key]
                                    arg.values.push({
                                        'name': item.name,
                                        'value': item.value,
                                        'type': item.type,
                                    })
                                } 
                            } else {
                                arg.values.push({
                                    'name': 'number',
                                    'value': para.number,
                                    'type': 'Float',
                                })
                                arg.values.push({
                                    'name': 'unit',
                                    'value': para.unit,
                                    'type': 'String',
                                })
                            }
                        }
                        else if (para.type == 'string') {
                            arg.values.push({
                                'name': 'str',
                                'value': para.str,
                                'type': 'String',
                            })
                        }
                        else if (para.type == 'node') {
                            arg.property = para.property_name
                            if (arg.property == 'invalid') {
                                arg.property = 'valid'
                            }
                            if (para.global_id == PatientGlobalID) {
                                arg.type = 'patient'
                            }
                            else {
                                arg.inst_id = para.global_id
                            }
                        }

                        return arg
                    }

                    for (let item of that.constraintForm.precond_item_list) {
                        let tmpCond = {
                            precond_list: []
                        }
                        for (let cond of item.precondition_list) {
                            let tmpArg = []
                            tmpArg.push(generateArg(cond.para1, 'left'))
                            tmpArg.push(generateArg(cond.para2, 'right', cond.para1.property_name, cond.para1.isroles))

                            tmpCond.precond_list.push({
                                args: tmpArg,
                                opt: cond.opt
                            })
                        }
                        constraint.precond_item_list.push(tmpCond)
                    }
                    for (let item of that.constraintForm.postcond_item_list) {
                        let tmpCond = {
                            postcond_list: []
                        }
                        for (let cond of item.postcondition_list) {
                            let tmpArg = []
                            tmpArg.push(generateArg(cond.para1, 'left'))
                            tmpArg.push(generateArg(cond.para2, 'right', cond.para1.property_name, cond.para1.isroles))

                            tmpCond.postcond_list.push({
                                args: tmpArg,
                                opt: cond.opt
                            })
                        }
                        constraint.postcond_item_list.push(tmpCond)
                    }

                    console.log(constraint)

                    let res = await axios_request(that, 'post', '/api', {
                        operation: 'createConstraint',
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                        precond_item_list: constraint.precond_item_list,
                        postcond_item_list: constraint.postcond_item_list,
                    })

                    console.log('submit constraint')
                    console.log(res)

                    if (res !== '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message
                            })
                        }
                        else {
                            that.$store.commit('addConstraint', res.data)
                            that.$emit('refresh', {
                                needGetGraph: false,
                                activeRight: false,
                            })
                        }
                    }
                }
                else {
                    return false
                }
            })
        }
    },
}
</script>

<style scoped>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .content {
        /* height: 500px;*/
        /* padding-top: 0; */
        padding-left: 0;
        padding-right: 0;
        /* padding-bottom: 40px; */
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }

    .header /deep/ .el-input__inner {
        border: 0px;
        font-size: 16px;
        color: #333;
    }
</style>
