<template>
    <el-container direction="vertical">
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle disabled></el-button>
                -->
                <!--
                <span>索引</span>
                -->
                <span>{{ projectName }}</span>
                <!--
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle disabled></el-button>
                -->
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <el-row>
                    <el-col :span="2">
                    </el-col>

                    <el-col :span="16">
                        <el-select v-model="searchValue" filterable placeholder="搜索框" size="small">
                            <el-option
                                v-for="item in searchNodeList"
                                :key="item.name"
                                :label="item.name"
                                :value="item.name"
                                @click="onSearchNode(item)">
                            </el-option>
                        </el-select>
                    </el-col>

                    <el-col :span="4">
                        <div style="line-height: 40px;">
                            <i class="el-icon-search"></i>
                        </div>
                    </el-col>

                    <el-col :span="2">
                    </el-col>
                </el-row>
            </div>
            <div style="height: 90%; overflow: hidden;">
                <el-scrollbar ref="menuScrollbar" style="height: 100%">
                    <!-- 尝试用v-for生成一个菜单 -->
                    <el-menu :default-active="activeIndex"
                        :collapse-transition="false">
                        <!--
                            ":is"是不是应该不要":"
                            component是动态组件，可以通过is修改这个东西最后渲染成什么
                            ":index="(index1+'')""这个写法的原因是el-menu这里面的index字段要求字符串格式，然后v-for这里的index1是num
                            index字段应当要唯一，不然应该会出现选中其中一个选项的时候，所有相同字段的选项都会被选中
                        -->
                        <!--
                        <component
                            v-for="(item1, index1) in nodeList"
                            :key="(index1+'')"
                            :index="String(index1 + 1)"
                            :is="'el-submenu'">
                        -->
                        <el-submenu
                            v-for="(item1, index1) in nodeList"
                            :key="String(index1)"
                            :index="String(index1)"
                            :show-timeout="300"
                            :hide-timeout="300">
                            <template #title>
                                <i class="el-icon-message"></i>
                                <span> {{ item1.type }} </span>
                            </template>

                            <el-menu-item v-for="(item2, index2) in item1.data"
                                :key="(index1+'-'+index2)"
                                :index="(index1+'-'+index2)"
                                @click="onViewEntity(item2)"
                                @dblclick="onViewLocalGraph(item2)">
                                <i class="el-icon-star-off"></i>
                                <span> {{ item2.name }} </span>
                            </el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <el-button type="plain" size="mini" @click="addEntity" circle>
                    <i class="el-icon-plus"></i>
                </el-button>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
var time = null

import {SimpleType, IntersectionType} from "../../util/const_complex_type.js"

export default {
    emits: ['add', 'view'],

    data() {
        const nodeList = this.getNodeList()
        let searchNodeList = []
        for (let i = 0; i < nodeList.length; i++)
            for (let j = 0; j < nodeList[i].data.length; j++)
                searchNodeList.push({
                    name: nodeList[i].data[j].name,
                    index: i + '-' + j,
                    data: nodeList[i].data[j]
                })
        console.log('search node list')
        console.log(searchNodeList)

        return {
            searchValue: '',
            searchNodeList,
            projectName: this.$store.state.project_name,

            nodeList,
            activeIndex: ''
        }
    },

    methods: {
        //相同type的放在同一个对象中
        getNodeList() {
            var nodeList = []
            // 这种写法的话，如果想要在store上改这个东西的名字会有点麻烦呀
            const typeList = this.$store.state.nodeTypeList.filter(item => {
                if (item.isComplex == SimpleType || item.isComplex == IntersectionType) {
                    return true
                }
                else {
                    return false
                }
            })
            const nodesData = this.$store.state.nodesData

            for (var i=0; i < typeList.length; i++) { //写成for in那种会出问题，很神奇
                let nodes_filtered = this.selectType(nodesData, typeList[i].name)
                nodes_filtered.sort((i, j) => i.name < j.name)

                nodeList.push({
                    type : typeList[i].name,
                    data : nodes_filtered
                })
            }
            nodeList.sort((i, j) => {
                if (i.type < j.type) return -1
                else return 1
            })

            return nodeList
        },

        // 这个写到vuex的getter里面感觉更合理一点，先这样吧
        selectType(l, t) {
            return l.filter(function(item) {
                return item.type === t
            })
        },

        addEntity() {
            this.$emit('add', {
                type: 'KGAddEntity',
            })
        },

        onViewEntity(item) {
            clearTimeout(time)
            //time = setTimeout(() => {
                this.$emit('view', {
                    global_id: item.global_id,
                    type: 'entity'
                })
            //}, 300)
        },

        onViewLocalGraph(item) {
            clearTimeout(time)

            this.$emit('view', {
                global_id: item.global_id,
                type: 'localGraph'
            })
        },

        onSearchNode(item) {
            const that = this

            console.log('search node')
            console.log(item)
            const menuScrollbar = that.$refs.menuScrollbar
            console.log(menuScrollbar)
            //console.log("moveX: " + menuScrollbar.moveX)
            //console.log("moveY: " + menuScrollbar.moveY)
            //console.log("sizeWidth: " + menuScrollbar.sizeWidth)
            //console.log("sizeHeight: " + menuScrollbar.sizeHeight)
            //console.log("wrap: " + menuScrollbar.wrap)
            //console.log("wrap clientHeight: " + menuScrollbar.wrap.clientHeight)
            //console.log("wrap scrollHeight: " + menuScrollbar.wrap.scrollHeight)
            //console.log("wrap scrollTop: " + menuScrollbar.wrap.scrollTop)

            //console.log(menuScrollbar.wrap)
            //console.log(menuScrollbar.wrap.querySelector('.el-scrollbar__view'))
            //console.log(menuScrollbar.wrap.querySelector('.el-scrollbar__view').querySelector('.el-menu').querySelectorAll('.el-submenu'))

            that.activeIndex = item.index
            that.onViewEntity(item.data)

            ////////////////////////
            // 计算scrollbar的位置 //
            ///////////////////////

            // 这段代码与组件相关，换组件可能会导致error 
            
            //更新完了再执行（等activeIndex修改完）
            //that.$nextTick(() => {
            setTimeout(() => {
                // 目标偏移量
                let scrollTop = 0
                // 子菜单list
                const submenuList = menuScrollbar.wrap
                                    .querySelector('.el-scrollbar__view')
                                    .querySelector('.el-menu')
                                    .querySelectorAll('.el-submenu')
                for (let submenu of submenuList) {
                    //console.log(submenu)
                    // 元素的class
                    //console.log(submenu.className)
                    // 元素的高度
                    //console.log(submenu.scrollHeight)

                    let classNameList = String(submenu.className)
                    if (classNameList.indexOf('is-active') != -1) {
                        // active子菜单
                        let itemList = submenu.querySelector('.el-menu')
                                            .querySelectorAll('.el-menu-item')
                        //console.log('itemList')
                        //console.log(itemList)

                        for (let item of itemList) {
                            if (String(item.className).indexOf('is-active') != -1) {
                                break
                            }
                            else {
                                scrollTop += item.scrollHeight
                            }
                        }

                        break
                    }
                    else {  // 非active子菜单，直接加上偏移量
                        scrollTop += submenu.scrollHeight
                    }
                }

                console.log("scrollTop: " + scrollTop)
                // 修改偏移量
                that.$refs.menuScrollbar.wrap.scrollTop = scrollTop
                // update
                that.$nextTick(that.$refs.menuScrollbar.handleScroll)
                that.$nextTick(that.$refs.menuScrollbar.update)
            }, 350)
        }
    }
}
</script>

<style scoped>
    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }

    .el-menu {
        text-align: left;
        border-right: 0px;  /* 取消右边线 */
    }
</style>