<template>
    <el-container direction="vertical">
        <el-header>
            <div class="header">
                <span>过滤局部实体\关系</span>   
            </div>
        </el-header>

        <el-main class="content">
            <div style="height: 80%;">
                <el-tree
                    ref="tree" 
                    :data='treedata'
                    :props="defaultProps"
                    :default-checked-keys="defaultChecked"
                    show-checkbox
                    node-key="value"
                    @check="handleCheckChange">
                </el-tree>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    export default {

        props: {
            localInitData : [Object],
            priorSelectData : [Object],
            keepSelectFlag : [Boolean],
        },

        emits: ['back', 'add', 'view', 'refresh'],

        data() {
            let resData = this.getTreeData()
            let initData = resData.resTreedata
            let resInitCheckedData = resData.resInitCheckedData
            let resDefaultChecked = this.dealWitKeepSelect(resInitCheckedData)
            return {
                treedata : initData,
                initCheckedData : resInitCheckedData,
                defaultChecked : resDefaultChecked,
                defaultProps : {
                    label : 'label',
                    value : 'value',
                    children : 'children',
                    isLeaf : 'leaf',
                },
            };
        },

        methods: {
            handleCheckChange() {
                let res = this.$refs.tree.getCheckedNodes()
                let initCheckedData = this.initCheckedData
                let arrayres = []
                res.forEach((item) =>{ 
                    arrayres.push(item.value)
                })
                let selectData = []
                arrayres.forEach(item =>{
                    for(let i = 0; i < initCheckedData.length; i++){
                        let itemData = initCheckedData[i]
                        let len = itemData.length
                        if(itemData[len - 1] == item){
                            let itemarr = []
                            for(let i = 0; i < len; i++){
                                itemarr.push(itemData[i])
                            }
                            selectData.push(itemarr)
                        }
                    }
                })
                this.$emit('select',{
                    type: 'localSelectData',
                    data: selectData,
                }) 
            },

            getTreeData(){
                const that = this 
                let treedata = []
                let initCheckedData= []
                let nodeData
                let linkData 
                for(let index in that.localInitData){
                    let item = that.localInitData[index]
                    if(item.value == 'nodeType'){
                        let nodeChildren = []
                        for(let childIndex in item.children_tmp){
                            let childItem = item.children_tmp[childIndex]
                            let childItem_tmp = []
                            for(let childItemchildIndex in childItem.children_tmp){
                                let childItemchild = childItem.children_tmp[childItemchildIndex]
                                childItem_tmp.push({
                                    label: childItemchild.label,
                                    value: childItemchild.value,
                                    leaf: true,
                                })
                                initCheckedData.push([
                                    'nodeType',
                                    String(childItem.value),
                                    String(childItemchild.value)
                                ])
                            }
                            nodeChildren.push({
                                label: childItem.label,
                                value: childItem.value,
                                children: childItem_tmp,
                                leaf: false,
                            })
                            initCheckedData.push([
                                'nodeType',
                                String(childItem.value)
                            ])
                        }
                        nodeData = {
                            label: item.label,
                            value: item.value,
                            children: nodeChildren,
                            leaf: false,
                        }
                        initCheckedData.push([
                            'nodeType'
                        ])
                    }else if(item.value == 'linkType'){
                        let linkChildren = []
                        for(let childIndex in item.children_tmp){
                            let childItem = item.children_tmp[childIndex]
                            linkChildren.push({
                                label: childItem.label,
                                value: childItem.value,
                                leaf: true,
                            })
                            initCheckedData.push([
                                'linkType',
                                String(childItem.value)
                            ])
                        }
                        linkData = {
                            label: String(item.label),
                            value: item.value,
                            children: linkChildren,
                            leaf: false,
                        }
                        initCheckedData.push([
                            'linkType'
                        ])
                    }
                }
                treedata.push(nodeData)
                treedata.push(linkData)
                let res = {
                    resTreedata: treedata,
                    resInitCheckedData: initCheckedData
                }
                return res
            },

            dealWitKeepSelect(resInitCheckedData){
                const that = this 
                let initCheckedData = resInitCheckedData
                let priorSelectData = that.priorSelectData

                let res = []
                let priorRelation = []
                let keepCheckedData = []
                if(that.keepSelectFlag == true){
                    for(let item of priorSelectData){
                        let len = item.length
                        if (item[0] == 'linkType' && len == 2) {
                            priorRelation .push(item[len - 1])
                        }
                    }
                    for(let itemInit of initCheckedData){
                        let len = itemInit.length
                        if(itemInit[0] == 'nodeType'){
                            keepCheckedData.push(itemInit)
                        } else {
                            for(let itemPrior of priorRelation){
                                if(itemPrior == itemInit[len - 1]){
                                    res.push(itemPrior)
                                    keepCheckedData.push(itemInit)
                                }
                            }
                        }
                    }
                    res.push('nodeType')
                } else {
                    res = ['nodeType','linkType']
                    keepCheckedData = initCheckedData
                }

                this.$emit('select',{
                    type: 'localSelectData',
                    data: keepCheckedData,
                })
                return res
            }
        }
    }
</script>

<style scoped>
    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>