<template>
    <el-container direction="vertical">
        <el-header>
            <div class="header">
                <span>过滤推荐实体\关系</span>  
            </div>
        </el-header>

        <el-main class="content">
            <div style="height: 80%;">
                <el-tree
                    ref="tree" 
                    :data='treedata'
                    :props="defaultProps"
                    :default-checked-keys="defaultChecked"
                    show-checkbox
                    node-key="value"
                    @check="handleCheckChange">
                </el-tree>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    export default {
    
        props: {
            recRelationFilterOption: [Object]
        },

        emits: ['back', 'add', 'view', 'refresh'],

        data() {

            let resData = this.getTreeData()
            let initData = resData.resTreedata
            let checkedData = resData.resInitCheckedData
            return {
                treedata: initData,
                initCheckedData: checkedData,
                defaultChecked: ['linkType','nodeType'],
                defaultProps: {
                    label: 'label',
                    value: 'value',
                    children: 'children',
                    isLeaf: 'leaf',
                },
            };
        },

        methods: {
            handleCheckChange() {
                let res = this.$refs.tree.getCheckedNodes()
                let initCheckedData = this.initCheckedData
                let arrayres = []
                res.forEach((item) =>{ 
                    arrayres.push(item.value)
                })
                let selectData = []
                arrayres.forEach(item =>{
                    for(let i = 0; i < initCheckedData.length; i++){
                        let itemData = initCheckedData[i]
                        let len = itemData.length
                        if(itemData[len - 1] == item){
                            let itemarr = []
                            for(let i = 0; i < len; i++){
                                itemarr.push(itemData[i])
                            }
                            selectData.push(itemarr)
                        }
                    }
                })
                this.$emit('select',{
                    type: 'recommendSelectData',
                    data: selectData,
                }) 
            },

            getTreeData(){
                const that = this 
                let treedata = []
                let initCheckedData= []
                let nodeData
                let linkData 
                for(let index in that.recRelationFilterOption){
                    let item = that.recRelationFilterOption[index]
                    if(item.value == 'nodeType'){
                        let nodeChildren = []
                        for(let childIndex in item.children_tmp){
                            let childItem = item.children_tmp[childIndex]
                            let childItem_tmp = []
                            for(let childItemchildIndex in childItem.children_tmp){
                                let childItemchild = childItem.children_tmp[childItemchildIndex]
                                childItem_tmp.push({
                                    label: childItemchild.label,
                                    value: childItemchild.value,
                                    leaf: true,
                                })
                                initCheckedData.push([
                                    'nodeType',
                                    String(childItem.value),
                                    String(childItemchild.value)
                                ])
                            }
                            nodeChildren.push({
                                label: childItem.label,
                                value: childItem.value,
                                children: childItem_tmp,
                                leaf: false,
                            })
                            initCheckedData.push([
                                'nodeType',
                                String(childItem.value)
                            ])
                        }
                        nodeData = {
                            label: item.label,
                            value: item.value,
                            children: nodeChildren,
                            leaf: false,
                        }
                        initCheckedData.push([
                            'nodeType'
                        ])
                    }else if(item.value == 'linkType'){
                        let linkChildren = []
                        for(let childIndex in item.children_tmp){
                            let childItem = item.children_tmp[childIndex]
                            linkChildren.push({
                                label: childItem.label,
                                value: childItem.value,
                                leaf: true,
                            })
                            initCheckedData.push([
                                'linkType',
                                String(childItem.value)
                            ])
                        }
                        linkData = {
                            label: String(item.label),
                            value: item.value,
                            children: linkChildren,
                            leaf: false,
                        }
                        initCheckedData.push([
                            'linkType'
                        ])
                    }
                }
                treedata.push(nodeData)
                treedata.push(linkData)
                let res = {
                    resTreedata: treedata,
                    resInitCheckedData: initCheckedData
                }
                this.$emit('select',{
                    type: 'recommendSelectData',
                    data: initCheckedData,
                })
                return res
            },
        }
    };
</script>

<style scoped>
    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>