<template>
    <el-container style="height: 100%; width: 100%;">
        <el-header v-if="true">
            <el-row :gutter="1">
                <el-col :span="2">
                    <div style="line-height: 44px;">
                        <el-button type="plain" size="mini" @click="viewLocalGraph" circle>
                            <i class="el-icon-arrow-right"></i>
                        </el-button>
                    </div>
                </el-col>

                <el-col :span="5">
                    <div style="line-height: 44px;">
                        <el-switch
                            v-model="relationRecommend"
                            :active-value="true"
                            :inactive-value="false"
                            active-text="图谱推荐"
                            @change="onRelationRecommendChanged"
                        >
                        </el-switch>
                    </div>
                </el-col>

                <el-col :span="6">
                    <div style="line-height: 44px;">
                        <el-dropdown size="mini" split-button type="plain" trigger="click">
                            <span>选择显示信息</span>
                            <template #dropdown>
                                <el-cascader-panel
                                    :options="msgSelectOptions"
                                    :props="msgSelectProps"
                                    v-model="msgSelect"
                                    @change="onMsgSelectChange()">
                                </el-cascader-panel>
                            </template>
                        </el-dropdown>
                    </div>
                </el-col>

                <!--    测试用的按钮
                <el-col :span="4">
                    <el-button type="plain" size="mini" @click="testJoin()" circle>
                            <i class="el-icon-delete"></i>
                        </el-button>
                </el-col>
                -->
            </el-row>
        </el-header>

        <el-main class="content" style="overflow: hidden;">
            <div id='SVGDiv' style="height: 100%; width: 100%;">
                <svg width="100%" height="100%"></svg>
            </div>
        </el-main>
    </el-container>
</template>

<script>
var time = null
var timeOut = 300
var dragFlag = false
// d3 Force Simulation，将这个写成全局变量，保证全局只有唯一一个simulation，防止箭头函数（特指drag函数）保存了一个副本
var simulation = {}
// d3 Force Simulation 初始的alpha
var initAlpha = 1
// 当前svg的transform
var nowTransform = {x : 0, y : 0, k : 1}

import * as d3 from "d3"
import screenfull from 'screenfull'
import {getGlobalRecommendInfo} from "../../util/axios_utils.js"
import { onBeforeUnmount, onMounted } from '@vue/runtime-core'

export default {
    emits: ['view'],
    name: "KGShow",

    data() {

        screenfull.on('change', () => {
            this.isFullScreen = this.isFullScreen ? false : true
            //console.log(this.isFullScreen)
        })

        onMounted(() => {
            window.addEventListener('keydown', this.keyDown, true) // 监听按键事件
        })

        onBeforeUnmount(() => {
            window.removeEventListener('keydown', this.keyDown, true) // 销毁监听事件
        })

        return {
            // 信息筛选
            msgSelectProps: { multiple: true },
            msgSelectOptions: [{
                value: 'roleText',
                label: '角色名称',
            }, {
                value: 'nodeText',
                label: '实体名称'
            }, {
                value: 'linkText',
                label: '关系名称'
            }],
            msgSelect: [['roleText'], ['nodeText'], ['linkText']],

            currentViewNode : '',
            newNodesData : [],  // 存储画图用的节点数据
            newLinksData : [],  // 存储画图用的边数据

            relationRecommend : false,
            updateRecData : '',

            isFullScreen : false,   // 记录是否为组件全屏状态，全屏状态下不处理事件
        }
    },

    mounted() {
        //console.log('KGShow mounted')
        initAlpha = 1
        this.initializeSVG()
        
        /* 这个两个函数的调用改为在钩子函数activated中进行 */
        // 生成画图用的数据
        //this.createData()
        //this.drawSVG(this.newNodesData, this.newLinksData)
    },

    activated() {   // keep-alive组件激活时调用
        //console.log('KGShow activated')
        const that = this
        that.createData()
        that.drawSVG(this.newNodesData, this.newLinksData)
        
        // 第一次之后，初始alpha值减小为0.3
        initAlpha = 0.3
    },

    deactivated() {
        simulation.stop()
    },
    
    computed: {
    },

    methods: {
        /* 测试Data Join的函数 */
        testJoin() {
            console.log('test join')
            const that = this
            let newNodesData = that.newNodesData
            let newLinksData = that.newLinksData

            let cntMap = new Map()
            for (let node of newNodesData) {
                cntMap.set(node.id, 0)
            }
            
            for (let link of newLinksData) {
                // 特别注意只要newLinksData放到simulation函数里面去之后，source和target就会变成一个struct了...
                let s = cntMap.get(link.source.id)
                cntMap.set(link.source.id, s + 1)
                let t = cntMap.get(link.target.id)
                cntMap.set(link.target.id, t + 1)
            }

            let idx = Math.floor(Math.random()*newLinksData.length)
            let s = cntMap.get(newLinksData[idx].source.id)
            let t = cntMap.get(newLinksData[idx].target.id)
            cntMap.set(newLinksData[idx].source.id, s - 1)
            cntMap.set(newLinksData[idx].target.id, t - 1)

            if (s == 1) {
                let s_idx = newNodesData.findIndex(i => i.id == newLinksData[idx].source.id)
                newNodesData.splice(s_idx, 1)
            }
            if (t == 1) {
                let t_idx = newNodesData.findIndex(i => i.id == newLinksData[idx].target.id)
                newNodesData.splice(t_idx, 1)
            }
            newLinksData.splice(idx, 1)

            console.log(that.newNodesData)
            console.log(that.newLinksData)
            that.drawSVG(that.newNodesData, that.newLinksData)
        },

        viewLocalGraph() {
            const that = this
            that.$emit('view', {
                type: 'localGraph',
                global_id: undefined,
            })
        },

        createData() {
            const that = this
            var nodesData = that.$store.state.nodesData
            var linksData = that.$store.state.linksData
            const constraintData = that.$store.state.constraintData
            const collision_radius = 15 // 碰撞半径
            let newNodesData = []
            let newLinksData = []

            /*************************************************************/
            /******************   create data 主要流程    *****************/
            /*************************************************************/

            // 将nodesData和linksData处理成绘制svg的格式
            dealWithGeneral(nodesData, linksData)
            // 处理约束
            dealWithConstraint(constraintData)
            // 处理孤立点
            // dealWithIsolatedRandom()    // 随机处理
            dealWithIsolatedCluster()   // 孤立点Cluster到一起

            // 给newLinksData中的每个link加一个id
            addIDtoLinkData(newLinksData)

            // 更新全局数据
            updateGlobalData(newNodesData, newLinksData)

            /*************************************************************/
            /**********************    辅助函数     ***********************/
            /*************************************************************/

            function updateGlobalData(newNodesData, newLinksData) {
                /* 方式一：直接复制 */
                //that.newNodesData = newNodesData
                //that.newLinksData = newLinksData

                /* 方式二：只更新需要更新的，新的加进去，删掉的直接删了，不变的不管 */
                let nodeMap = new Map()
                let linkMap = new Map()

                for (let i = 0; i < newNodesData.length; i++) {
                    nodeMap.set(String(newNodesData[i].id), false)
                }
                for (let i = 0; i < newLinksData.length; i++) {
                    linkMap.set(String(newLinksData[i].id), false)
                }

                // 删除已经不存在的data
                for (let i = 0; i < that.newNodesData.length; i++) {
                    let id = String(that.newNodesData[i].id)
                    if (!nodeMap.has(id)) {    // 该data已删除
                        that.newNodesData.splice(i, 1)
                        i--
                    }
                    else {
                        nodeMap.set(id, true)
                        that.newNodesData[i].vx = 0
                        that.newNodesData[i].vy = 0
                    }
                }
                for (let i = 0; i < that.newLinksData.length; i++) {
                    let id = String(that.newLinksData[i].id)
                    if (!linkMap.has(id)) {
                        that.newLinksData.splice(i, 1)
                        i--
                    }
                    else {
                        linkMap.set(id, true)
                    }
                }

                // 加入新的data
                for (let node of newNodesData) {
                    if (nodeMap.get(node.id) === false) {
                        that.newNodesData.push(node)
                    }
                }
                for (let link of newLinksData) {
                    if (linkMap.get(link.id) === false) {
                        that.newLinksData.push(link)
                    }
                }
            }

            function addIDtoLinkData(newLinksData) {
                for (let link of newLinksData) {
                    link['id'] = link.source + '__' + link.target
                }
            }

            // 将存储的nodesData和linksData处理成绘制svg的格式
            function dealWithGeneral(nodesData, linksData) {
                newNodesData = nodesData.map(function(item, index) {
                    index
                    return {
                        'id': String(item.global_id),
                        'name': item.name,
                        'global_id': item.global_id,
                        'collision_radius': collision_radius, // 碰撞的圆的半径
                        'type': 'node',
                        'nodeType': item.type // 记录node类型，方便不同类型node染成不同颜色
                    }
                }).concat(linksData.map(function (item, index) {
                    index
                    return {
                        'id': String(item.global_id),
                        'name': item.name, //item.type,
                        'global_id': item.global_id,
                        'collision_radius': collision_radius,
                        'type': 'link'
                    }
                }))

                for (let i = 0; i < linksData.length; i++) {
                    newLinksData = newLinksData.concat(linksData[i].roles.map(role => {
                        return {
                            'source': String(linksData[i].global_id),
                            'target': String(role.global_id),
                            'role': role.role,
                        }
                    }))
                }
            }
            
            // 处理孤立点，随机附着在一个节点上
            /*
            function dealWithIsolatedRandom() {
                // 只有一个点，不需处理
                if (newNodesData.length <= 1) return

                // 记录newNodesData中哪些节点在newLinksData中出现过
                let signMap = new Map()
                for (let link of newLinksData) {
                    signMap.set(link.source, true)
                    signMap.set(link.target, true)
                }

                for (let node of newNodesData) {
                    if (!signMap.has(node.id)) {    // 孤立点
                        let k = Math.floor(Math.random()*newNodesData.length)
                        while (node.id == newNodesData[k].id) {
                            k = Math.floor(Math.random()*newNodesData.length)
                        }

                        newLinksData.push({
                            'source': String(node.id),
                            'target': String(newNodesData[k].id),
                            'role'  : '',
                            'visible': false    // 虚假的连线，仅用于画图
                        })
                    }
                }
            }
            */

            // 处理孤立点，将相同类型的孤立点cluster到一起
            function dealWithIsolatedCluster() {
                // 只有一个点，不需处理
                if (newNodesData.length <= 1) return

                // 记录newNodesData中哪些节点在newLinksData中出现过
                let signMap = new Map()
                for (let link of newLinksData) {
                    signMap.set(link.source, true)
                    signMap.set(link.target, true)
                }

                // 分别记录每种实体类型的孤立点
                let isolatedNode = {}
                for (let node of newNodesData) {
                    if (!signMap.has(node.id)) {    // 孤立点
                        // 孤立点必然是实体
                        let tmp = nodesData.find(i => i.global_id == node.id)
                        if (tmp == undefined) continue
                        
                        if (isolatedNode[String(tmp.type_id)] == undefined) {
                            isolatedNode[String(tmp.type_id)] = []
                        }
                        isolatedNode[String(tmp.type_id)].push(node.id)
                    }
                }
                // 将对象转换成数组
                isolatedNode = Object.entries(isolatedNode)

                // 孤立点的cluster策略：相同类型的节点弄成一棵树，各个类型的树的根结点弄成一条链
                for (let i = 0; i < isolatedNode.length; i++) {
                    if (i > 0) {    // 二叉树根节点连成一条链
                        newLinksData.push({
                            'source': String(isolatedNode[i][1][0]),
                            'target': String(isolatedNode[i-1][1][0]),
                            'role'  : '',
                            'visible': false    // 虚假的连线，仅用于画图
                        })
                    }
                    else {  // 整一团随机连到一个节点上
                        if (newLinksData.length > 0) {
                            let tmp = newLinksData[0].source
                            newLinksData.push({
                                'source': String(isolatedNode[i][1][0]),
                                'target': String(tmp),
                                'role'  : '',
                                'visible': false    // 虚假的连线，仅用于画图
                            })
                        }
                    }

                    // 相同类型的孤立点连成一棵二叉树
                    for (let j = 1; j < isolatedNode[i][1].length; j++) {
                        let k = (j - 1) >> 1
                        newLinksData.push({
                            'source': String(isolatedNode[i][1][j]),
                            'target': String(isolatedNode[i][1][k]),
                            'role'  : '',
                            'visible': false    // 虚假的连线，仅用于画图
                        })
                    }
                }
            }

            // 处理约束
            
            function dealWithConstraint(constraintData) {
                console.log('deal with constraint data')
                console.log(constraintData)

                // 添加节点 //
                for (let item of constraintData) {
                    var preconditionText = ''
                    var postconditionText = ''
                    //  暂时去掉图中显示文字
                    //for (let precondition of item.precondition_list) {
                    //    preconditionText += precondition.str + '\n '
                    //}
                    //for (let postcondition of item.postcondition_list) {
                    //    postconditionText += postcondition.str + '\n '
                    //}
                    //

                    for (let precond of item.precond_item_list) {
                        // 前置条件
                        newNodesData.push({
                            'id': String(precond.global_id) + '_precondition',
                            'name': preconditionText, //'肺结核.valid = true', //'前置条件',
                            'global_id': String(precond.global_id) + '_precondition',
                            'collision_radius': collision_radius,
                            'type': 'predicate',
                        })
                    }
                    for (let postcond of item.postcond_item_list) {
                        // 后置条件
                        newNodesData.push({
                            'id': String(postcond.global_id) + '_postcondition',
                            'name': postconditionText, // '治疗#1.valid = false', //'后置条件',
                            'global_id': String(postcond.global_id) + '_postcondition',
                            'collision_radius': collision_radius,
                            'type': 'predicate',
                        })
                    }
                    // 推导（关系）
                    newNodesData.push({
                        'id': String(item.global_id),
                        'name': '',
                        'global_id': String(item.global_id),
                        'collision_radius': collision_radius,
                        'type': 'infer',
                    })
                }
                // 添加连边 //
                for (let item of constraintData) {
                    for (let precond of item.precond_item_list) {
                        // 前置条件
                        newLinksData.push({
                            'source': String(item.global_id),
                            'target': String(precond.global_id) + '_precondition',
                            'role': '前置条件',
                        })
                        for (let para of precond.precondition_para_list) {
                            newLinksData.push({
                                'source': String(precond.global_id) + '_precondition',
                                'target': String(para),
                                'role': 'parameter'
                            })
                        }
                    }
                    for (let postcond of item.postcond_item_list) {
                        // 后置条件
                        newLinksData.push({
                            'source': String(item.global_id),
                            'target': String(postcond.global_id) + '_postcondition',
                            'role': '后置条件',
                        })
                        for (let para of postcond.postcondition_para_list) {
                            newLinksData.push({
                                'source': String(postcond.global_id) + '_postcondition',
                                'target': String(para),
                                'role': 'parameter'
                            })
                        }
                    }
                }
            }
            
        },

        initializeSVG() {
            const that = this
            const svg = d3.select('svg')
            const width = 960
            const height = 600
            const colorList = that.$store.state.colorList

            // 设置宽高、缩放策略
            svg.attr('viewBox', [0, 0, width, height])
            svg.attr('preserveAspectRatio', 'xMidYMid slice')

            // 在Dom上添加各个svg元素的group
            // 推荐的光圈
            svg.append('g').attr('id', 'globalRecommendCircleGroup')
            // 连线
            svg.append('g').attr('id', 'linkLineGroup')
            // 连线的路径
            svg.append('g').attr('id', 'linkPathGroup')
            // 各种元素（实体/关系）
            svg.append('g').attr('id', 'nodeCircleGroup')
            // 实体的文本
            svg.append('g').attr('id', 'nodeTextGroup')
            // 关系的文本
            svg.append('g').attr('id', 'linkTextGroup')
            // 各种token的definition
            svg.append('defs').attr('id', 'tokenDefinitionGroup')

            /**************************************************************/
            /************************* 定义svg token ***********************/
            /**************************************************************/
            const rect_width = 6    // 关系token中矩形的宽
            const rect_height = 2   // 关系token中矩形的高
            const defs = d3.select('#tokenDefinitionGroup')

            /* arrowhead */
            defs.append('marker')
                .attr('id', 'arrowhead')
                .attr('viewBox', '-0 -5 10 10')
                .attr('refX', 24)
                .attr('refY', 0)
                .attr('orient', 'auto')
                .attr('markerWidth', 5)
                .attr('markerHeight', 5)
                .attr('xoverflow', 'visible')
                .append('svg:path')
                    .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
                    .attr('fill', '#85c1fd')
                    .attr('stroke','#85c1fd')
            /* 鼠标悬浮时的高亮圈 */
            const mouseOverCircle = defs.append('g').attr('id', 'mouseOverCircle')
            mouseOverCircle.append('circle')
                .attr('r', 14)
                //.style('fill', '#fff')
                .style('stroke', '#fcf16e')
                .style('stroke-width', 6)
            /* 有推荐信息时的圈 */
            const globalRecommendCircle = defs.append('g').attr('id', 'globalRecommendCircle')
            globalRecommendCircle.append('circle')
                .attr('r', 14)
                //.style('fill', '#fff')
                .style('stroke', '#fcf16e')
                .style('stroke-width', 6)
            /* 关系节点的token */
            const linkType0 = defs.append('g').attr('id', 'linkType0')
            linkType0.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
            linkType0.append('rect')
                .attr('width', 2 * rect_width)
                .attr('height', 2 * rect_height)
                .attr('x', -rect_width)
                .attr('y', -rect_height)
                .style('fill', colorList[0].color)
            /* 实体节点的token，第0个颜色不作为实体的颜色 */
            for (let i = 0; i < colorList.length; i++) {
                let tmp = defs.append('g').attr('id', 'nodeType' + i)
                tmp.append('circle')
                    .attr('r', 10)
                    .style('fill', '#fff')
                    .style('stroke', colorList[i].color)
                    .style('stroke-width', 2)
                tmp.append('circle')
                    .attr('r', 5)
                    .attr('fill', colorList[i].color)
            }
            /* 谓词的token */
            const predicateToken = defs.append('g').attr('id', 'predicateToken')
            predicateToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
            predicateToken.append('path')
                .attr('d', `M -3 0 \
                            l 0 -5 \
                            l 6 0 \
                            a 3 3 0 0 1 0 5 \
                            l -6 0 \
                            l 0 5 z`)
                .style('fill', 'none')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
            /* 约束（推导）的token */
            const inferToken = defs.append('g').attr('id', 'inferToken')
            inferToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
            //inferToken.append('path')
            //    .attr('d', `M -6 -3 l 0 6 z`)
            //    .style('fill', 'none')
            //    .style('stroke', colorList[0].color)
            //    .style('stroke-width', 2)
            inferToken.append('path')
                .attr('d', `M -6 0 l 12 0 z`)
                .style('fill', 'none')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
            inferToken.append('path')
                .attr('d', `M 4 -2 l 2 2 l -2 2 z`)
                .style('fill', 'none')
                .style('stroke', colorList[0].color)
                .style('stroke-width', 2)
        },

        drawSVG(newNodesData, newLinksData) {
            const that = this
            const svg = d3.select('svg')
            const width = 960
            const height = 600
            const colorList    = that.$store.state.colorList
            const nodeTypeList = that.$store.state.nodeTypeList
            //const linkTypeList = this.$store.state.linkTypeList
            let globalRecommendInfo = that.$store.state.globalRecommendInfo // 全局推荐信息

            //const svgDiv = document.getElementById('SVGDiv')
            //console.log('KGshow')
            //console.log(svgDiv.clientWidth)
            //console.log(svgDiv.clientHeight)

            console.log('drag svg')
            console.log(nowTransform)
            console.log(d3.zoomIdentity)

            // simulation
            simulation = d3.forceSimulation()
                .nodes(newNodesData)
                // 这个strength是forceManyBody的可选项，影响相互作用力的大小，默认是-30（还有别的可选项，看官方文档）
                .force('charge', d3.forceManyBody().strength(-200))
                // 向中心靠拢
                .force('center', d3.forceCenter(width / 2, height /2).strength(1))
                // id这个函数是将link的source和target映射到node上，不写的话source和target都应该是node的index，当然id函数也可以写成其它形式
                .force('links', d3.forceLink(newLinksData).id((d) => { return d.id }).distance(80).strength(1))
                .force('collide', d3.forceCollide().radius(d => { return d.collision_radius }).iterations(2))
                //.force('x', d3.forceX(width / 2).strength(0))
                //.force('y', d3.forceY(height/ 2).strength(0))
                // 这个也没啥用
                //.force('radial', d3.forceRadial().radius(width/2, height/2).strength(0.02))
                .alpha(initAlpha)
                .alphaMin(0.01)
                .alphaDecay(0.02)
                .on('tick', tick)
            
            // 最多迭代3秒
            //setTimeout(() => {
            //    simulation.alphaTarget(0)
            //}, 3000)
            
            // 拖拽
            const drag = d3.drag()
                .on('start', dragstarted)
                .on('drag', dragged)
                .on('end', dragended)

            const zoom = d3.zoom()
                .extent([[0, 0], [width, height]])
                .scaleExtent([0.1, 1])
                .on('zoom', zoomed)

            /**************************************************************/
            /*********************** 更改Dom上svg的元素 *********************/
            /***********************    用D3的Join     *********************/
            /**************************************************************/

            /* Data Join */
            let identifyFunc = (d) => String(d.id)
            let nodeGlobalRecommendJoinData = d3.select('#globalRecommendCircleGroup')
                .selectAll('use')
                .data(newNodesData, identifyFunc)
            let linkJoinData = d3.select('#linkLineGroup')
                .selectAll('line')
                .data(newLinksData, identifyFunc)
            let nodeCircleJoinData = d3.select('#nodeCircleGroup')
                .selectAll('use')
                .data(newNodesData, identifyFunc)
            let nodeTextJoinData = d3.select('#nodeTextGroup')
                .selectAll('text')
                .data(newNodesData, identifyFunc)
            let linkPathsJoinData = d3.select('#linkPathGroup')
                .selectAll("path")
                .data(newLinksData, identifyFunc)
            let linkTextJoinData = d3.select('#linkTextGroup')
                .selectAll('text')
                .data(newLinksData, identifyFunc)

            let nodeGlobalRecommend = nodeGlobalRecommendJoinData
                .enter()
                .append('use')
                .attr('xlink:href', '#globalRecommendCircle')
                .classed('hasRecommend', (d) => {
                    if (globalRecommendInfo[String(d.global_id)] == undefined)
                        return false
                    else return true
                })
                .attr('visibility', 'hidden')
                .merge(nodeGlobalRecommendJoinData)
            nodeGlobalRecommendJoinData.exit().remove()

            let link = linkJoinData
                .enter()
                .append('line')
                .attr('marker-end','url(#arrowhead)')
                .attr('visibility', (d) => {
                    if (d.visible == false) return 'hidden'
                        else return 'visible'
                })
                .classed('link', true)
                .merge(linkJoinData)
            linkJoinData.exit().remove()

            let nodeCircle = nodeCircleJoinData
                .enter()
                .append('use')
                .attr('xlink:href', (d) => {
                    if (d.type == 'link') {
                        return '#linkType0'
                    }
                    else if (d.type == 'node') {
                        let nodeTypeIndex = 1 + nodeTypeList.map((item, index) => {
                            if (item.name == d.nodeType) {
                                if (index >= colorList.length - 1) return colorList.length - 2;
                                    else return index
                            }
                            else return -1
                        }).filter((item) => { return item !== -1 })[0]
                        return '#nodeType' + nodeTypeIndex
                    }
                    else if (d.type == 'predicate') {
                        return '#predicateToken'
                    }
                    else if (d.type == 'infer') {
                        return '#inferToken'
                    }
                })
                .attr('id', (d) => { return "gid" + d.global_id }) // 每个node的id就是global_id
                .classed('fixed', (d) => { return d.fx !== undefined })
                .call(drag)
                .on('click', click)
                .on('dblclick', dblclick)
                .merge(nodeCircleJoinData)
            nodeCircleJoinData.exit().remove()

            /* 尝试在node和link上添加文字
            * x和y是文本框的锚点，dx和dy是相对于锚点的偏移量
            */
            let nodeText = nodeTextJoinData
                .enter()
                .append('text')
                .style('pointer-events', 'none')
                .attr('class', (d) => {
                    if (d.type == 'link') return 'linkText'
                        else return 'nodeText'
                })
                .attr('dx', 15)
                .attr('dy', 5)
                .attr('font-size', 13)
                .attr('fill', '#000')
                .text((d) => { return d.name })
                .merge(nodeTextJoinData)
            nodeTextJoinData.exit().remove()

            let linkPaths = linkPathsJoinData
                .enter()
                .append('path')
                //.attr('d', function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y})
                .attr('class', 'rolepath')
                .attr('fill-opacity', 0)
                .attr('stroke-opacity', 0)
                //.attr('fill', 'blue')
                //.attr('stroke', 'red')
                .attr('id', function(d) {return 'rolepath_' + d.id})
                .style("pointer-events", "none")
                .merge(linkPathsJoinData)
            linkPathsJoinData.exit().remove()

            let linkText = linkTextJoinData
                .enter()
                .append('text')
                .style('pointer-events', 'none')
                .attr('class', 'roleText')
                .attr('id', (d) => { return 'roleText_' + d.id })
                .attr('font-size', 10)
                .attr('fill', '#000')
                .attr('dx', 0) // 偏移量
                .attr('dy', -5)
            linkText.append('textPath')
                .attr('xlink:href', (d) => { return '#rolepath_' + d.id })
                .attr('startOffset', '0%')
                //.attr('spacing', 'auto')
                .style('pointer-events', 'none')
                .text((d) => { return d.role })
            linkText = linkText.merge(linkTextJoinData)
            linkTextJoinData.exit().remove()

            // 向svg添加zoom事件，每次都重置zoom（这个函数需要放在svg元素更新完之后）
            //svg.call(zoom.transform, d3.zoomIdentity)   // 重置zoom
            //    .call(zoom)
            //    .on('dblclick.zoom', null) // 取消zoom的双击事件
            
            // 重置zoom，重置为最后一次的transform
            svg.call(zoom.transform, d3.zoomIdentity.translate(nowTransform.x, nowTransform.y).scale(nowTransform.k))
                .call(zoom)
                .on('dblclick.zoom', null) // 取消zoom的双击事件

            /***********************************************************/
            /************************* 辅助函数 *************************/
            /***********************************************************/

            function tick() {
                // 更新node坐标
                nodeCircle.attr('x', (d) => { return d.x })
                    .attr('y', (d) => { return d.y })
                nodeGlobalRecommend.attr('x', (d) => { return d.x })
                    .attr('y', (d) => { return d.y })
                
                // 更新link坐标
                link.attr('x1', (d) => { return d.source.x })
                    .attr('y1', (d) => { return d.source.y })
                    .attr('x2', (d) => { return d.target.x })
                    .attr('y2', (d) => { return d.target.y })
                
                // 更新node text坐标
                nodeText
                    .attr('x', (d) => { return d.x })
                    .attr('y', (d) => { return d.y })
                
                linkPaths.attr('d', (d) => { 
                    //if (d.target.x > d.source.x)
                        return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y
                    //else
                    //    return 'M '+d.target.x+' '+d.target.y+' L '+ d.source.x +' '+d.source.y
                })

                //linkText
                //    .attr('x', (d) => { return d.x })
                //    .attr('y', (d) => { return d.y })

                linkText.attr('transform', function(d) {
                    let tmp = ""
                    let bbox = this.getBBox()
                    let tx = 0
                    let ty = 0
                    let len = Math.sqrt((d.target.y - d.source.y)*(d.target.y - d.source.y) + (d.target.x - d.source.x)*(d.target.x - d.source.x))
                    let boxLen = Math.sqrt(bbox.width * bbox.width + bbox.height * bbox.height)
                    tx
                    ty

                    if (d.source.x == d.target.x) {
                        tx = 0
                        if (d.target.y > d.source.y) ty = bbox.height / 2
                            else ty = -bbox.height / 2
                    }
                    else {
                        let cosValue = -(d.target.x - d.source.x) / len
                        let sinValue = -(d.target.y - d.source.y) / len
                        let tmp = (boxLen - len) / 2
                        
                        tx = cosValue * tmp
                        ty = sinValue * tmp
                    }

                    if (len < boxLen) {
                        tx = 0
                        ty = 0
                    }

                    tx = tx * nowTransform.k
                    ty = ty * nowTransform.k

                    if (d.target.x < d.source.x){
                        let rx = bbox.x + bbox.width / 2
                        let ry = bbox.y + bbox.height / 2
                        if (len >= boxLen) {
                            tmp =  'rotate(180 ' + rx + ' ' + ry + ')'
                        }
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }
                    else {
                        tmp = 'rotate(0)'
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }

                    return tmp
                })
            }

            function zoomed({transform}) {
                // 保存当前的transform
                nowTransform = transform

                nodeCircle.attr("transform",() => { return transform })
                nodeGlobalRecommend.attr("transform",() => { return transform })
                link.attr("transform", () => { return transform })
                nodeText.attr("transform", () => { return transform })
                linkPaths.attr("transform", () => { return transform })
                //linkText.attr("transform", () => { return transform })
                linkText.attr('font-size', 10 * transform.k).attr('dy', -5 * transform.k)

                // 直接用tick来计算位置
                tick()
            }

            function click(event, d) {
                if (that.isFullScreen) return // 全屏状态下不处理事件
                if (!(d.type == 'node' || d.type == 'link' || d.type == 'infer')) return

                clearTimeout(time)

                time = setTimeout(() => {
                    if (d.type == 'node') {
                        that.$emit('view', {
                            type: 'entity',
                            global_id: d.global_id
                        })
                    }
                    else if (d.type == 'link') {
                        that.$emit('view', {
                            type: 'relation',
                            global_id: d.global_id
                        })
                    }
                    else if (d.type == 'infer') {
                        that.$emit('view', {
                            type: 'constraint',
                            global_id: d.global_id
                        })
                    }

                    // 阻止默认事件
                    // event.preventDefault()
                }, timeOut)
            }

            function dblclick(event, d) {
                if (that.isFullScreen) return
                if (!(d.type == 'node' || d.type == 'link')) return

                clearTimeout(time)

                if (d.type == 'node') {
                    that.$emit('view', {
                        type: 'entity',
                        global_id: d.global_id
                    })
                }
                else if (d.type == 'link') {
                    that.$emit('view', {
                        type: 'relation',
                        global_id: d.global_id
                    })
                }

                that.$emit('view', {
                    type: 'localGraph',
                    global_id: d.global_id
                })
            }

            function dragstarted() {
                //clearTimeout(time)

                //time = setTimeout(() => {
                dragFlag = true
                d3.select(this).raise()
                d3.select(this).classed('fixed', true)  
                //}, timeOut)
            }

            function dragged(event, d) {
                // console.log('hello')
                // console.log('dragged')
                d3.select(this).attr("x", d.x = event.x).attr("y", d.y = event.y);
                d.fx = d.x
                d.fy = d.y
                simulation.alphaTarget(0.05).restart()
            }

            function dragended(event, d) {
                //console.log('drag end')
                //console.log(that.newNodesData)
                d
                if (dragFlag) {
                    delete d.fx;
                    delete d.fy;
                    d3.select(this).classed("fixed", false);
                    //simulation.alphaTarget(0.1).restart()

                    setTimeout(() => {
                        simulation.alphaTarget(0)
                    }, 3000)
                    dragFlag = false
                }
            }

            // 用于远程获取到推荐信息时，更新图谱
            this.updateRecData = () => {
                globalRecommendInfo = that.$store.state.globalRecommendInfo
                //console.log('update')
                //console.log(globalRecommendInfo)
                nodeGlobalRecommend.classed('hasRecommend', (d) => {
                    if (globalRecommendInfo[String(d.global_id)] == undefined)
                        return false
                    else return true
                })
            }

            /*
            function emitMessage(event, val) {
                console.log(val + ' from ha')
                this.emitMessage(event, val)
            }
            */

            /*
            function clamp(x, lo, hi) {
                return x < lo ? x : x > hi ? hi : x
            }
            */
        },

        keyDown(event) {
            // console.log('here')
            // console.log(event.which)
            if (event.which === 120) {
                event.returnValue = false
                if (screenfull.isEnabled) {
                    //screenfull.toggle()
                    screenfull.request(document.getElementById('SVGDiv'))
                }
            }
        },

        // 无用
        emitMessage(event, val) {
            val
            //console.log(val + ' from hello')
            //this.$emit(event, val)
        },

        // 别的图形暂时不会画，先用半径大小区分node和link
        circleRadius(d) {
            if (d.type === 'node') {
                return 10
            }
            else if (d.type === 'link') {
                return 5
            }
            else {
                return 1
            }
        },

        //这个函数该不该放这...
        circleColor(d) {
            // # 像这种浅赋值应该不会有多大开销吧
            const nodeTypeList = this.$store.state.nodeTypeList
            const colorList = this.$store.state.colorList

            //console.log(colorList)
            //console.log(nodeTypeList)

            if (d.type === 'link') {
                return colorList[0].color
            }
            else {
                const len = colorList.length - 1
                return colorList[nodeTypeList.map(function(item, index) {
                    if ( item.name === d.nodeType) {
                        if (index >= len) return len - 1;
                            else return index
                    }
                    else {
                        return -1
                    }
                }).filter(function(item) {
                    return item !== -1
                })[0] + 1].color
            }
        },

        onRelationRecommendChanged() {
            const that = this
            //console.log('recommend change')

            if (!this.$store.state.globalRecommendInfoFlag) {
                // 从远程获取数据，需要重新设定nodeGlobalRecommend
                getGlobalRecommendInfo(that)
            }
            this.updateRecData()

            if (this.relationRecommend) {
                d3.selectAll('.hasRecommend')
                    .attr('visibility', 'visible')
            }
            else {
                d3.selectAll('.hasRecommend')
                    .attr('visibility', 'hidden')
            }
        },

        onMsgSelectChange() {
            //console.log('on msg select change')
            //console.log(this.msgSelect)
            
            //const svg = d3.select('svg')
            const that = this
            let msgSelectOpt = {}
            for (let i = 0; i < that.msgSelectOptions.length; i++)
                msgSelectOpt[that.msgSelectOptions[i].value] = false
            for (let i = 0; i < that.msgSelect.length; i++)
                msgSelectOpt[that.msgSelect[i][0]] = true
            for (let key in msgSelectOpt)
                if (msgSelectOpt[key]) {
                    console.log('.' + key)
                    d3.selectAll('.' + key)
                        .attr('visibility', 'visible')
                }
                else {
                    d3.selectAll('.' + key)
                        .attr("visibility", 'hidden')
                }
        }
    }
}
</script>

<!-- 这里加上scoped会导致样式失效，具体原因还没有细究 -->
<style>
    svg {
        border: 1px solid white;
        background-color: white;
    }

    .link {
        stroke: #85c1fd; /* stroke: #000; */
        stroke-width: 1.5px;
    }

    .content {
        /*height: 500px;*/
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    /*
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
    */
</style>