<!-- 用于显示单个node详细信息 -->
<template>
    <el-container>
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle disabled @click="onBack"></el-button>
                -->
                <span>详情</span>
                <!--
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle disabled></el-button>
                -->
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>关系名称</span>
                                <el-button class="button" type="text" @click="onViewLocalGraph">查看局部图谱</el-button>
                            </div>
                        </template>
                        <div class="text item">
                            {{ currentNode.type }}
                        </div>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>角色列表</span>
                                <el-button class="button" type="text" @click="onAddRole" disabled>添加</el-button>
                            </div>
                        </template>

                        <el-table :data="currentRolesList" @row-click="handleRowClick" style="width: 100%">
                            <el-table-column prop="role" label="角色"></el-table-column>
                            <el-table-column prop="entity.name" label="名称"></el-table-column>
                        </el-table>
                    </el-card>

                    <!-- demo中暂时只有name这一条属性 -->
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>属性</span>
                                <el-button class="button" type="text" @click="onAddProperty">添加</el-button>
                            </div>
                        </template>
                        <!--
                        <div class="text item">
                            {{ '名称：' + currentNode.name }}
                        </div>
                        -->

                        <!-- 显示所有property -->
                        <div v-if="!currentAddProperty">
                            <el-table :data="currentNode.properties" style="width: 100%">
                                <el-table-column prop="property_name" label="名称"></el-table-column>

                                <el-table-column label="属性值">
                                    <template #default="scope">
                                        <template v-if="typeof(scope.row.property_value) == 'object'">
                                            <el-popover effect="light" trigger="hover" placement="top">
                                                <template #default>
                                                    <template
                                                        v-for="(value, name) in scope.row.property_value"
                                                        :key="Date.now() + ' ' + name"
                                                    >
                                                        <p>{{ name + ' : ' + value }}</p>
                                                    </template>
                                                </template>
                                                <template #reference>
                                                    <div class="name-wrapper">
                                                    <el-tag size="medium">查看属性值</el-tag>
                                                    </div>
                                                </template>
                                            </el-popover>
                                        </template>
                                    
                                        <template v-if="!(typeof(scope.row.property_value) == 'object')">
                                            <span> {{ scope.row.property_value }} </span>
                                        </template>
                                    </template>
                                </el-table-column>

                                <el-table-column label="操作">
                                    <template #default="scope">
                                        <el-button @click="onChangeProperty(scope.row)" type="text" size="small">编辑</el-button>
                                        <el-button @click="onDeleteProperty(scope.row)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>

                        <!-- 添加property -->
                        <div v-if="currentAddProperty">
                            <el-form
                                :model="currentAddPropertyForm"
                                ref="currentAddPropertyForm"
                                label-position="left"
                                label-width="auto"
                            >
                                <el-form-item
                                    label="属性名"
                                    prop="property"
                                    :rule="[{ validator: validatePropertyType, trigger: 'blur' }]"
                                >
                                    <el-select
                                        v-model="currentAddPropertyForm.property"
                                        placeholder="请选择属性名称"
                                        style="display: block;"
                                        value-key="property_name"
                                        filterable
                                        :filter-method="propertyFilter"
                                        @change="onAddPropertySelected()"
                                        @blur="onRefreshPropertySelect()"
                                    >
                                        <el-option
                                            v-for="item in candidateProperties"
                                            :key="item.property_name"
                                            :label="item.property_name"
                                            :value="item"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <template v-if="currentAddPropertyForm.property.type != undefined">
                                    <template v-if="currentAddPropertyForm.property.type == 'Basic'">
                                        <el-form-item
                                            label="属性值"
                                            prop="property_value"
                                            :rules="[{
                                                validator: validateProperty,
                                                trigger: 'blur'
                                            }]"
                                        >
                                            <el-input
                                                placeholder="请输入属性值"
                                                v-model="currentAddPropertyForm.property_value.value"
                                                @input="e => currentAddPropertyForm.property_value.value = validateForbidChar(e)"
                                            >
                                            </el-input>
                                        </el-form-item>
                                    </template>

                                    <template v-if="currentAddPropertyForm.property.type == 'Enum'">
                                        <el-form-item label="属性值" prop="property_value">
                                            <el-select
                                                v-model="currentAddPropertyForm.property_value.value"
                                                placeholder="请选择属性值"
                                                style="display: block;"
                                            >
                                                <el-option
                                                    v-for="item in symbolData[String(currentAddPropertyForm.property.type_id)].enum_values"
                                                    :key="'Enum' + item"
                                                    :label="item"
                                                    :value="item"
                                                >
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </template>

                                    <template v-if="currentAddPropertyForm.property.type == 'Compound'">
                                        <el-form-item
                                            v-for="(id, name) in symbolData[String(currentAddPropertyForm.property.type_id)].child_symbols"
                                            :key="'child_symbol' + name"
                                            :label="name"
                                            :prop="'property_value.' + name"
                                            :rules="[{
                                                validator: validateProperty,
                                                trigger: 'blur'
                                            }]"
                                        >
                                            <template v-if="symbolData[String(id)].type == 'Basic'">
                                                <el-input
                                                    placeholder="请输入属性值"
                                                    v-model="currentAddPropertyForm.property_value[name].value"
                                                    @input="e => currentAddPropertyForm.property_value[name].value = validateForbidChar(e)"
                                                >
                                                </el-input>
                                            </template>

                                            <template v-if="symbolData[String(id)].type == 'Enum'">
                                                <el-select
                                                    v-model="currentAddPropertyForm.property_value[name].value"
                                                    placeholder="请选择属性值"
                                                    style="display: block;"
                                                >
                                                    <el-option
                                                        v-for="item in symbolData[String(id)].enum_values"
                                                        :key="name + ' ' + item"
                                                        :label="item"
                                                        :value="item"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </template>
                                        </el-form-item>
                                    </template>
                                </template>

                                <el-form-item>
                                    <div>
                                        <template v-if="currentAddPropertyForm.property.type != undefined">
                                            <el-button type="primary" @click="onSubmitAddProperty('currentAddPropertyForm')" size="mini">确定</el-button>
                                        </template>
                                        <template v-if="currentAddPropertyForm.property.type == undefined">
                                            <el-button type="primary" @click="onSubmitAddProperty('currentAddPropertyForm')" size="mini" disabled>确定</el-button>
                                        </template>
                                        <el-button @click="onCancelAddProperty" size="mini">取消</el-button>
                                    </div>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <el-button type="plain" size="mini" @click="onDeleteRelation" circle>
                    <i class="el-icon-delete"></i>
                </el-button>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'

export default {
    props: {
        // 展示的relation，为相应的global_id
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh'],

    data() {
        const symbolData = this.$store.state.symbolData

        const validatePropertyType = (rule, value, callback) => {
            console.log("validate property type")
            console.log(value)
            
            if (value.type == undefined || value.type == '') {
                callback(new Error("请选择一个属性"))
            }
            else {
                callback()
            }
        }

        const validateProperty = (rule, value, callback) => {
            console.log('validate')
            console.log(rule)
            console.log(value)
            
            if (value.value == '') {
                callback(new Error("请输入属性值"))
            }
            else if (value.type == 'String' || value.type == 'Enum') {
                callback()
            }
            else if (value.type == 'Int') {
                if (Number.isNaN(Number(value.value))) {
                    callback(new Error("请输入整数"))
                }
                else if (!Number.isInteger(Number(value.value))) {
                    callback(new Error("请输入整数"))
                }
                else {
                    callback()
                }
            }
            else if (value.type == 'Float') {
                if (Number.isNaN(Number(value.value))) {
                    callback(new Error("请输入数字"))
                }
                else {
                    callback()
                }
            }
            else {
                callback()
            }
        }

        return {
            symbolData,
            validateProperty,
            validatePropertyType,

            // currentViewNode在linksData中相应的node对象
            currentNode : '',
            currentNodeTypeProperties : [],
            candidateProperties : [],

            // relation中的角色列表
            currentRolesList : [],

            // 是否正在添加property
            currentAddProperty : false,

            currentAddPropertyForm : {
                property : {'property_name': ''},
                property_value : ''
            }
        }
    },

    computed: {
        
    },

    mounted() {
        console.log('hello from viewer')

        if (this.currentViewNode == -1) {
            this.$emit('back', {
                activeRight: false,
            })
        }
        
        console.log(this.currentViewNode)
        console.log(this.$store.state.linksData)
        let that = this
        this.currentNode = this.$store.state.linksData.find(item => item.global_id == that.currentViewNode)
        if (this.currentNode !== undefined) {
            const currentNodeName = this.currentNode.name
            console.log(`${currentNodeName} was found from viewer`)

            this.currentRolesList = this.currentNode.roles
        }

        if (this.currentNode === undefined) {
            this.currentNode = {
                type: 'undefined'
            }
        }
        else {
            let tmp =  this.$store.state.linkTypeList.find(item => item.global_id == this.currentNode.type_id)
            if (tmp !== undefined) {
                this.currentNodeTypeProperties = tmp.properties
                this.candidateProperties = this.currentNodeTypeProperties
            }
        }

        console.log('++++++++++++++++++++++')
        console.log(this.currentNode)
    },

    methods: {
        onViewLocalGraph() {
            this.$emit('view', {
                global_id: this.currentViewNode,
                type: 'localGraph'
            })
        },

        handleRowClick(row, event, column) {
            console.log('row-click')
            console.log(row)
            console.log(column)

            let type = ''
            if (this.$store.state.linksData.find(item => item.global_id == row.global_id) == undefined)
                type = 'entity'
            else type = 'relation'

            this.$emit('view', {
                global_id: row.global_id,
                type: type
            })
        },

        showRolesInfo: function(item) {
            item

            let str = "角色名：" + item.name + "    类型：" + item.type

            /*
            let str = `${item.name}: `
            for (let i = 0; i < item.entity.length; i++) {
                str += item.entity[i].name
                if (i < item.entity.length - 1)
                    str += ', '
            }*/

            return str
        },

        onBack() {
            this.$emit('back', {
                activeRight: false,
            })
        },

        onAddRole() {
            this.$emit('add', {
                type: 'KGAddRelation',
                filter: true,
                global_id: this.currentViewNode,
            })
        },

        onAddProperty() {
            console.log('add feature from KGViewEntity')

            this.currentAddProperty = true
        },

        addPropertyReset() {
            this.currentAddProperty = false
            this.currentAddPropertyForm = {
                property : {'property_name': ''},
                property_value : ''
            }
        },

        onRefreshPropertySelect() {
            this.candidateProperties = this.currentNodeTypeProperties
        },

        onAddPropertySelected() {
            console.log('property selected')
            if (this.currentAddPropertyForm.property.type == 'Compound') {
                this.currentAddPropertyForm.property_value = {}

                let child_symbols = this.symbolData[String(this.currentAddPropertyForm.property.type_id)].child_symbols
                for (let key in child_symbols)
                    if (this.symbolData[String(child_symbols[key])].type == 'Basic') {
                        this.currentAddPropertyForm.property_value[key] = {
                            'value': '',
                            'type': this.symbolData[String(child_symbols[key])].name
                        }
                    }
                    else {
                        this.currentAddPropertyForm.property_value[key] = {
                            'value': '',
                            'type': this.symbolData[String(child_symbols[key])].type
                        }
                    }
            }
            else if (this.currentAddPropertyForm.property.type == 'Basic') {
                this.currentAddPropertyForm.property_value = {
                    'value': '',
                    'type': this.symbolData[String(this.currentAddPropertyForm.property.type_id)].name
                }
            }
            else {
                this.currentAddPropertyForm.property_value = {
                    'value': '',
                    'type': this.symbolData[String(this.currentAddPropertyForm.property.type_id)].type
                }
            }

            console.log(this.currentAddPropertyForm)
        },

        onCancelAddProperty() {
            console.log('cancel add property')
            this.addPropertyReset()
        },

        async onSubmitAddProperty(currentAddPropertyForm) {
            console.log('sumbit add property')
            let that = this
            this.$refs[currentAddPropertyForm].validate(async (valid) => {
                if (valid) {
                    let request = {
                        operation: 'setInstanceProperty',
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                        inst_id: Number(that.currentNode.global_id)
                    }

                    let properties = {}
                    let property_name = that.currentAddPropertyForm.property.property_name
                    if (that.currentAddPropertyForm.property.type == 'Compound') {
                        properties[property_name] = {}
                        for (let key in that.currentAddPropertyForm.property_value)
                            properties[property_name][key] = that.currentAddPropertyForm.property_value[key].value
                    }
                    else {
                        properties[property_name] = that.currentAddPropertyForm.property_value.value
                    }
                    request['properties'] = properties

                    let res = await axios_request(this, 'post', '/api', request)

                    console.log('setInstanceProperty'),
                    console.log(res)

                    if (res != '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message //'关系创建失败'
                            })
                            return false
                        }
                        else {
                            that.$store.commit('changeProperty', request)

                            that.$message({
                                type: 'success',
                                message: '属性添加成功'
                            })

                            that.addPropertyReset()
                            return true
                        }
                    }
                    else {
                        that.$message({
                            type: 'error',
                            message: '网络错误'
                        })
                        return false
                    }                 
                }
                else {
                    return false
                }
            })
        },

        onChangeProperty(row) {
            console.log('change property')
            console.log(row)

            let tmp_type =  this.$store.state.linkTypeList.find(item => item.global_id == this.currentNode.type_id)
            let tmp_prop = this.currentNode.properties.find(item => item.property_name == row.property_name)
            let tmp_prop_type = tmp_type.properties.find(item => item.property_name == row.property_name)

            console.log(tmp_type)
            console.log(tmp_prop)
            console.log(tmp_prop_type)

            this.currentAddPropertyForm.property = tmp_prop_type
            if (tmp_prop_type.type == "Basic" || tmp_prop_type.type == 'Enum') {
                let type = tmp_prop_type.type
                if (type == 'Basic') {
                    type = tmp_prop_type.name
                }

                this.currentAddPropertyForm.property_value = {
                    'value': tmp_prop.property_value,
                    'type': type
                }
            }
            else if (tmp_prop_type.type == 'Compound') {
                this.currentAddPropertyForm.property_value = {}
                for (let key in tmp_prop.property_value) {
                    let type = this.symbolData[String(tmp_prop_type.type_id)].child_symbols[key].type
                    if (type == 'Basic') {
                        type = this.symbolData[String(tmp_prop_type.type_id)].child_symbols[key].name
                    }

                    this.currentAddPropertyForm.property_value[key] = {
                        'value': tmp_prop.property_value[key],
                        'type': type
                    }
                }
            }

            console.log(this.currentAddPropertyForm)
            this.currentAddProperty = true
        },

        async onDeleteProperty(item) {
            console.log('delete property')
            console.log(item)

            let that = this
            this.$confirm(`是否删除属性: ${item.property_name}`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                let request = {
                    operation: 'setInstanceProperty',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    inst_id: Number(that.currentNode.global_id),
                    properties: {
                        [item.property_name]: null
                    }
                }

                let res = await axios_request(that, 'post', '/api', request)
                
                console.log(res)

                if (res !== '') {
                    if (res.data.error) {
                        //alert(res.data.msg.message)
                        that.$message({
                            type: 'error',
                            message: '属性删除失败'
                        })
                        console.log(res.msg)
                    }
                    else {
                        that.$store.commit('changeProperty', request)

                        that.$message({
                            type: 'success',
                            message: '属性删除成功!'
                        })

                        this.currentAddProperty = true
                        this.$nextTick(() => {
                            this.currentAddProperty = false
                        })
                    }
                }
            }).catch(() => {
                that.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            })
        },

        async onDeleteRelation() {
            console.log('delete relation?')
            
            let that = this
            const item = this.currentNode

            this.$confirm(`是否删除该关系`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                
                let res = await axios_request(that, 'post', '/api', {
                    operation: 'deleteRelation',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    relation_id: item.global_id
                })
                
                console.log(res)

                if (res !== '') {
                    if (res.data.error) {
                        //alert(res.data.msg.message)
                        that.$message({
                            type: 'error',
                            message: '删除失败'
                        })
                        console.log(res.msg)
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: '删除成功!'
                        })

                        that.$emit('refresh', {
                            needGetGraph: true,
                            activeRight: false
                        })
                        that.$emit('back', {
                            activeRight: false,
                        })
                    }
                }
            }).catch(() => {
                that.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            })
        }
    }
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center; /*space-between;*/
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>