<template>
    <el-container>
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle disabled></el-button>
                -->
                <span>详情</span>
                <!--
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle @click="onBack" disabled></el-button>
                -->
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <template
                        v-for="(item1, index1) in viewConstraint.precond_item_list"
                        :key="index1"
                    >
                        <el-card class="box-card">
                            <template #header> 
                                <div class="card-header">
                                    <span> 前置条件项{{ index1 + 1 }} </span>
                                </div>
                            </template>

                            <template
                                v-for="(item2, index2) in item1.precondition_list"
                                :key="index2"
                            >
                                <div class="text item">
                                    <span> {{ item2.str }} </span>
                                </div>
                            </template>
                        </el-card>
                    </template>

                    <template
                        v-for="(item1, index1) in viewConstraint.postcond_item_list"
                        :key="index1"
                    >
                        <el-card class="box-card">
                            <template #header>
                                <div class="card-header">
                                    <span> 后置条件项{{ index1 + 1 }} </span>
                                </div>
                            </template>

                            <template
                                v-for="(item2, index2) in item1.postcondition_list"
                                :key="index2"
                            >
                                <div class="text item">
                                    <span> {{ item2.str }} </span>
                                </div>
                            </template>
                        </el-card>
                    </template>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <el-button type="plain" size="mini" @click="onDeleteConstraint()" circle>
                    <i class="el-icon-delete"></i>
                </el-button>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'

export default {
    props: {
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh'],

    data() {
        return {
            viewConstraint: '',
        }
    },

    mounted() {
        // 暂时展示用
        const constraintData = this.$store.state.constraintData
        for (let item of constraintData) {
            if (item.global_id == this.currentViewNode) {
                this.viewConstraint = item
                break
            }
        }

        console.log('view constraint')
        console.log(this.viewConstraint)

        if (this.viewConstraint == '') {
            this.$emit('back', {
                activeRight: false,
            })
        }
    },

    methods: {
        async onDeleteConstraint() {
            console.log('delete constraint.')

            const that = this
            const constraint = that.viewConstraint

            this.$confirm(`是否删除该约束`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                let res = await axios_request(that, 'post', '/api', {
                    operation: 'deleteConstraint',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    constraint_id: constraint.global_id,
                })

                console.log('delete constarint response')
                console.log(res)

                if (res !== '') {
                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message,
                        })
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: '删除成功',
                        })

                        that.$emit('refresh', {
                            needGetGraph: true,
                            activeRight: false,
                        })
                        that.$emit('back', {
                            activeRight: false,
                        })
                    }
                }
            }).catch(() => {
                that.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            })
        },
    },
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center; /*space-between;*/
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>