<!-- 用于显示单个node详细信息 -->
<template>
    <el-container>
        <el-header>
            <div class="header">
                <span>详情</span>
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>实体名称</span>
                                <el-button class="button" type="text" @click="onViewLocalGraph" disabled>查看局部图谱</el-button>
                            </div>
                        </template>
                        <div class="text item">
                            <span> {{ currentNode.name }} </span>
                        </div>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>类型</span>
                                <el-button class="button" type="text" disabled>添加</el-button>
                            </div>
                        </template>
                        <div class="text item">
                            {{ currentNode.type }}
                        </div>
                    </el-card>

                    <!-- demo中暂时只有name这一条属性 -->
                    <el-card class="box-card">
                        <template #header>
                            <div style="display: flex;
                                justify-content: space-between;
                                align-items: center;">
                                <span style="font-size: 16px;">属性</span>
                                <el-button class="button" type="text" @click="onAddProperty" disabled>添加</el-button>
                            </div>
                        </template>

                        <!-- 显示所有property -->
                        <div v-if="!currentAddProperty">
                            <el-table :data="currentNode.properties" style="width: 100%">
                                <el-table-column prop="property_name" label="名称"></el-table-column>

                                <el-table-column label="属性值">
                                    <template #default="scope">
                                        <template v-if="typeof(scope.row.property_value) == 'object'">
                                            <el-popover effect="light" trigger="hover" placement="top">
                                                <template #default>
                                                    <template
                                                        v-for="(value, name) in scope.row.property_value"
                                                        :key="Date.now() + ' ' + name"
                                                    >
                                                        <p>{{ name + ' : ' + value }}</p>
                                                    </template>
                                                </template>
                                                <template #reference>
                                                    <div class="name-wrapper">
                                                    <el-tag size="medium">查看属性值</el-tag>
                                                    </div>
                                                </template>
                                            </el-popover>
                                        </template>
                                    
                                        <template v-if="!(typeof(scope.row.property_value) == 'object')">
                                            <span> {{ scope.row.property_value }} </span>
                                        </template>
                                    </template>
                                </el-table-column>

                                <el-table-column label="操作">
                                    <template #default="scope">
                                        <el-button @click="onChangeProperty(scope.row)" type="text" size="small" disabled>编辑</el-button>
                                        <el-button @click="onDeleteProperty(scope.row)" type="text" size="small" disabled>删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-card>
                </el-scrollbar>
            </div>
        </el-main>

        <!--
        <el-footer>
        </el-footer>
        -->
    </el-container>
</template>

<script>
/* import {axios_request} from '../../util/axios_utils.js' */

export default {
    props: {
        // 展示的node相应的global_id
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh'],

    data() {
        const nodeTypeList = this.$store.state.nodeTypeList
        const localRecommendInfo = this.$store.state.localRecommendInfo
        const recEntity = localRecommendInfo.rec_entities[String(this.currentViewNode)]
        let currentNode, properties = []

        for (let property_name in recEntity.properties) {
            properties.push({
                property_name: property_name,
                property_value: recEntity.rec_entities[property_name],
            })
        }

        currentNode = {
            name: recEntity.name,
            global_id: this.currentViewNode,
            type_id: recEntity.type_id,
            type: nodeTypeList.find(i => i.global_id == recEntity.type_id).name,
            properties: properties,
        }

        return {
            currentNode
        }
    },

    computed: {
        
    },

    mounted() {
        
    },

    methods: {
    }
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center; /*space-between;*/
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>