<!-- 用于显示单个node详细信息 -->
<template>
    <el-container>
        <el-header>
            <div class="header">
                <span>详情</span>
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>关系名称</span>
                                <el-button class="button" type="text" @click="onViewLocalGraph" disabled>查看局部图谱</el-button>
                            </div>
                        </template>
                        <div class="text item">
                            {{ currentNode.type }}
                        </div>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>角色列表</span>
                                <el-button class="button" type="text" @click="onAddRole" disabled>添加</el-button>
                            </div>
                        </template>

                        <el-table :data="currentNode.roles" @row-click="handleRowClick" style="width: 100%">
                            <el-table-column prop="role" label="角色"></el-table-column>
                            <el-table-column prop="name" label="名称"></el-table-column>
                        </el-table>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>属性</span>
                                <el-button class="button" type="text" @click="onAddProperty" disabled>添加</el-button>
                            </div>
                        </template>

                        <!-- 显示所有property -->
                        <div>
                            <el-table :data="currentNode.properties" style="width: 100%">
                                <el-table-column prop="property_name" label="名称"></el-table-column>

                                <el-table-column label="属性值">
                                    <template #default="scope">
                                        <template v-if="typeof(scope.row.property_value) == 'object'">
                                            <el-popover effect="light" trigger="hover" placement="top">
                                                <template #default>
                                                    <template
                                                        v-for="(value, name) in scope.row.property_value"
                                                        :key="Date.now() + ' ' + name"
                                                    >
                                                        <p>{{ name + ' : ' + value }}</p>
                                                    </template>
                                                </template>
                                                <template #reference>
                                                    <div class="name-wrapper">
                                                    <el-tag size="medium">查看属性值</el-tag>
                                                    </div>
                                                </template>
                                            </el-popover>
                                        </template>
                                    
                                        <template v-if="!(typeof(scope.row.property_value) == 'object')">
                                            <span> {{ scope.row.property_value }} </span>
                                        </template>
                                    </template>
                                </el-table-column>

                                <el-table-column label="操作">
                                    <template #default="scope">
                                        <el-button @click="onChangeProperty(scope.row)" type="text" size="small" disabled>编辑</el-button>
                                        <el-button @click="onDeleteProperty(scope.row)" type="text" size="small" disabled>删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-card>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <el-tooltip
                    effect="dark"
                    content="引用该关系"
                    placement="top"
                >
                    <el-button type="plain" size="mini" @click="onCiteRecRelation()" circle>
                        <i class="el-icon-check"></i>
                    </el-button>
                </el-tooltip>
                <el-tooltip
                    effect="dark"
                    content="拒绝该关系"
                    placement="top"
                >
                    <el-button type="plain" size="mini" @click="onRejectRecRelation()" circle>
                        <i class="el-icon-close"></i>
                    </el-button>
                </el-tooltip>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'

export default {
    props: {
        // 展示的关系（推荐）的global_id
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh', 'removeFromRecData'],

    data() {
        const nodesData = this.$store.state.nodesData
        const linksData = this.$store.state.linksData
        const linkTypeList = this.$store.state.linkTypeList
        const localRecommendInfo = this.$store.state.localRecommendInfo
        let recRelation, currentNode, properties = [], roles = []
        console.log(localRecommendInfo)
        if (Array.isArray(localRecommendInfo.relations)) {
            recRelation = localRecommendInfo.relations.find(i => i.inst_id == this.currentViewNode)
        }
        else {
            recRelation = localRecommendInfo.relations[String(this.currentViewNode)]
        }

        for (let role of recRelation.roles) {
            let tmp
            if ((tmp = nodesData.find(i => i.global_id == role.inst_id)) != undefined) {
                tmp = {
                    name: tmp.name,
                    global_id: role.inst_id,
                    role: role.role,
                }
            }
            if (tmp == undefined) {
                if ((tmp = linksData.find(i => i.global_id == role.inst_id)) != undefined) {
                    tmp = {
                        name: tmp.type,
                        global_id: role.inst_id,
                        role: role.role,
                    }
                }
            }
            if (tmp == undefined) {
                if ((tmp = localRecommendInfo.rec_relations[String(role.inst_id)]) != undefined) {
                    tmp = {
                        name: linkTypeList.find(i => i.global_id == tmp.type_id).name,
                        global_id: role.inst_id,
                        role: role.role,
                    }
                }
            }
            if (tmp == undefined) {
                if ((tmp = localRecommendInfo.rec_entities[String(role.inst_id)]) != undefined) {
                    tmp = {
                        name: tmp.name,
                        global_id: role.inst_id,
                        role: role.role,
                    }
                }
            }

            roles.push(tmp)
        }

        for (let name in recRelation.properties) {
            properties.push({
                'property_name': name,
                'property_value': recRelation.properties[name]
            })
        }

        currentNode = {
            global_id: this.currentViewNode,
            name: linkTypeList.find(i => i.global_id == recRelation.type_id).name,// + '（推荐）',
            type: linkTypeList.find(i => i.global_id == recRelation.type_id).name,
            type_id: recRelation.type_id,
            properties: properties,
            roles: roles,
        }

        console.log(currentNode)

        return {
            currentNode
        }
    },

    computed: {
        
    },

    mounted() {
    },

    methods: {
        async onCiteRecRelation() {
            const that = this
            
            this.$confirm(`是否引用该关系`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                let res = await axios_request(that, 'post', '/api', {
                    operation: 'citeRecommendInst',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    inst_id: Number(that.currentViewNode)
                })

                console.log(res)

                if (res != '') {
                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message
                        })
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: `成功引用关系：${that.currentNode.name}, 可退出图谱推荐模式查看`
                        })
                        that.$emit('removeFromRecData', that.currentViewNode)
                        that.$emit('refresh',  {
                            needGetGraph: true,
                            updateLeft: true,
                            updateRight: true,
                            activeRight: true,
                            updateKG: false,
                            currentViewNode: String(that.currentViewNode),  // 右组件显示新引用的信息
                            rightComponent: 'KGViewRelation'    // 引用关系后右组件显示该关系的详细信息
                        })
                    }
                }
                else {
                    that.$message({
                        type: 'error',
                        message: `网络错误`
                    })
                }
            })
        },

        async onRejectRecRelation() {
            const that = this
            
            this.$confirm(`是否拒绝该关系`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                let res = await axios_request(that, 'post', '/api', {
                    operation: 'rejectInst',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    inst_id: Number(that.currentViewNode)
                })

                console.log(res)

                if (res != '') {
                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message
                        })
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: `成功拒绝关系‘${that.currentNode.name}’`
                        })
                        that.$emit('removeFromRecData', that.currentViewNode)
                        that.$emit('refresh',  {
                            needGetGraph: true,
                            updateKG: false,
                            updateLeft: true,
                            activeRight: false,
                        })
                    }
                }
                else {
                    that.$message({
                        type: 'error',
                        message: `网络错误`
                    })
                }
            })
        },
    }
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center; /*space-between;*/
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
        display: flex;
        justify-content: center;
    }
</style>