<template>
    <el-container direction="vertical" style="height: 100%; width: 100%;">
        <el-header>
            <el-row>
                <el-col :span="4">
                    <div style="line-height: 44px;">
                        <el-button type="primary" icon="el-icon-arrow-left" size="mini" @click="backWholeGraph">返回全局图谱</el-button>
                    </div>
                </el-col>

                <el-col :span="2">
                </el-col>

                <el-col :span="4">
                    <span style="font-size: 14px; color: #8492a6; line-height: 44px;">视野范围</span>
                </el-col>

                <el-col :span="8">
                    <div class="block">
                        <el-slider
                            v-model="hopNumber"
                            :step="0.5"
                            :min="0"
                            :max="6"
                            :marks="{0:'0', 1:'1', 2:'2', 3:'3', 4:'4', 5:'5', 6:'6'}"
                            label="选择跳数"
                            @change="changeHop"
                            show-stops>
                        </el-slider>
                    </div>
                </el-col>

                <el-col :span="6">
                </el-col>
            </el-row>
        </el-header>

        <el-main class="content" style="overflow: hidden;">
            <div id='svg' style="height: 100%; width: 100%;">
                <svg width="100%" height="100%"></svg>
            </div>
        </el-main>
    </el-container>  
</template>

<script>
var time = null
var timeOut = 300
var dragFlag = false
var nowTransform = {x : 0, y : 0, k : 1}

import * as d3 from "d3"
import {SimpleType, IntersectionType, UnionType} from '../../util/const_complex_type.js'

export default {
    props: {
        currentViewNode: [Number],
        hopDefaultNumber: [Number]
    },

    emits: ['view', 'back', 'hopDefault'],

    data() {
        return {
            hopNumber : this.hopDefaultNumber,
            newNodesData : [],
            newLinksData : [],
        }
    },

    mounted() {
        this.createData()
        this.drawSVG()
    },
    
    computed: {
    },

    methods: {
        changeHop() {
            this.createData()

            // 清除之前画的，重新画
            let svg = d3.select('svg')
            svg.selectAll('*').remove()
            this.drawSVG()

            this.$emit('hopDefault', this.hopNumber)
        },

        backWholeGraph() {
            this.$emit('back')
        },

        getNodeColor(d) {
            if (d.global_id == this.currentViewNode) return this.$store.state.colorList[1].color
            else return this.$store.state.colorList[0].color
        },
        
        createData() {
            let that = this
            let nodesData = this.$store.state.nodeTypeList
            let linksData = this.$store.state.linkTypeList
            const roleTypeList = this.$store.state.roleTypeList

            // 获取局部图谱中需要展示的所有节点的global_id
            let gidMap = get_showingID()
            // 过滤，只保留需要展示的gid
            nodesData = nodesData.filter(item => gidMap.get(String(item.global_id)) != undefined)
            linksData = linksData.filter(item => gidMap.get(String(item.global_id)) != undefined)

            //console.log(nodesData)
            //console.log(linksData)

            // 用id来标识每个node，node的id用name表示，link的id用形如'l10'的形式表示
            const collision_radius = 15
            let newNodesData = nodesData.map(function(item) {
                let type_name = ''
                type_name = item.name
                let nodeType = ''
                if (item.isComplex == SimpleType) nodeType = 'simple' // 简单类型
                else if (item.isComplex == IntersectionType) nodeType = 'intersection' // 交
                else if (item.isComplex == UnionType) nodeType = 'union' // 并

                return {
                    'id': String(item.global_id),
                    'name': type_name, // item.name,
                    'global_id': item.global_id,
                    'collision_radius': collision_radius,
                    'type': 'node',
                    // 记录node类型，方便不同类型node8染成不同颜色，模型层中先设定只有一种颜色
                    'nodeType': nodeType
                }
            }).concat(linksData.map(function (item, index) {
                index
                return {
                    'id': String(item.global_id),
                    'name': item.name,
                    'global_id': item.global_id,
                    'collision_radius': collision_radius,
                    'type': 'link'
                }
            }))
            for (let i = 0; i < linksData.length; i++) {
                for (let j = 0; j < linksData[i].entity.length; j++)
                    if (gidMap.get(String(linksData[i].entity[j].global_id)) != undefined) {
                        //if (!(gidMap.get(String(linksData[i].global_id)) == that.hopNumber && gidMap.get(String(linksData[i].entity[j].global_id)) == that.hopNumber)) {
                            newNodesData.push({
                                'id' : String(linksData[i].global_id) + '-' + j,
                                'name' : linksData[i].entity[j].name,
                                'collision_radius': collision_radius,
                                'global_id': 'l' + i + '-' + j,
                                'type': 'node',
                                'nodeType': 'tmp'
                            })
                        //}
                    }
            }

            // console.log(linksData)
            // console.log(nodesData)

            let newLinksData = []
            for (let i = 0; i < linksData.length; i++) {
                for (let j = 0; j < linksData[i].entity.length; j++)
                    if (gidMap.get(String(linksData[i].entity[j].global_id)) != undefined) {
                        //if (!(gidMap.get(String(linksData[i].global_id)) == that.hopNumber && gidMap.get(String(linksData[i].entity[j].global_id)) == that.hopNumber)) {
                            newLinksData.push({
                                'source': String(linksData[i].global_id),
                                'target': String(linksData[i].global_id) + '-' + j,
                                'role': '角色',
                                'role2' : ''
                            })
                            newLinksData.push({
                                'source': String(linksData[i].global_id) + '-' + j,
                                'target': String(linksData[i].entity[j].global_id),
                                'role': '[' + linksData[i].entity[j].roles.min + ', ' + linksData[i].entity[j].roles.max + ']',
                                'role2': '承担者'
                            })
                        //}
                    }
            }

            // 复杂实体类型
            for (let i = 0; i < nodesData.length; i++)
            if (nodesData[i].isComplex == IntersectionType || nodesData[i].isComplex == UnionType) {
                for (let j = 0; j < nodesData[i].struct.ids.length; j++)
                    if (gidMap.get(String(nodesData[i].struct.ids[j])) != undefined) {
                        if (!(gidMap.get(String(nodesData[i].global_id)) == that.hopNumber && gidMap.get(String(nodesData[i].struct.ids[j])) == that.hopNumber))
                        newLinksData.push({  
                            'source': String(nodesData[i].global_id),
                            'target': String(nodesData[i].struct.ids[j]),
                            'role': '参数',
                            'role2': '',
                        })
                    }
            }

            // roleType
            for (let roleType of roleTypeList)
                if (gidMap.has(String(roleType.global_id))) {
                    newNodesData.push({
                        'id': String(roleType.global_id),
                        'name': roleType.name,
                        'global_id': String(roleType.global_id),
                        'collision_radius': collision_radius,
                        'type': 'node',
                        // 记录node类型，方便不同类型node8染成不同颜色，模型层中先设定只有一种颜色
                        'nodeType': 'roleType'
                    })

                    for (let ids of roleType.type_ids) {
                        if (gidMap.has(String(ids))) {
                            newLinksData.push({
                                'source': String(roleType.global_id),
                                'target': String(ids),
                                'role': '参数',
                                'role2': '',
                            })
                        }
                    }
                }

            this.newNodesData = newNodesData
            this.newLinksData = newLinksData

            // 这个有很严重的效率问题
            function get_showingID() {
                //console.log("KG Local Model Show")
                //console.log(that.currentViewNode)
                console.log("Hop: " + that.hopNumber)

                // const newNodeType = that.$store.state.newNodeType
                const linkTypeList = that.$store.state.linkTypeList
                const nodeTypeList = that.$store.state.nodeTypeList
                const roleTypeList = that.$store.state.roleTypeList
                //console.log(linkTypeList)
                let gidMap = new Map()
                let que = []
                let l = 0
                let r = 1
                que.push(String(that.currentViewNode))
                gidMap.set(String(that.currentViewNode), 0)
                while (l != r) {
                    let gid = que[l]
                    l++
                    let dis = gidMap.get(gid)
                    //console.log(gid)
                    if (dis > that.hopNumber) break

                    for (let j = 0; j < linkTypeList.length; j++) {
                        // 判断是否有关系与其相连
                        if (dis < that.hopNumber) {
                            let flag = false
                            for (let k = 0; k < linkTypeList[j].entity.length; k++)
                                if (linkTypeList[j].entity[k].global_id == gid) {
                                    flag = true
                                    break
                                }
                            
                            if (flag) {
                                if (gidMap.get(String(linkTypeList[j].global_id)) == undefined) {
                                    r++
                                    que.push(String(linkTypeList[j].global_id))
                                    gidMap.set(String(linkTypeList[j].global_id), dis + 1)
                                }
                            }
                        }

                        // gid本身就是关系
                        if (linkTypeList[j].global_id == gid) {
                            for (let k = 0; k < linkTypeList[j].entity.length; k++)
                                if (gidMap.get(String(linkTypeList[j].entity[k].global_id)) == undefined) {
                                    r++
                                    que.push(String(linkTypeList[j].entity[k].global_id))
                                    gidMap.set(String(linkTypeList[j].entity[k].global_id), dis)
                                }
                        }
                    }

                    // gid是一个复杂类型
                    if (dis < that.hopNumber) {
                        let nodeType = nodeTypeList.find(item => item.global_id == gid)
                        if (nodeType != undefined && (nodeType.isComplex == IntersectionType || nodeType.isComplex == UnionType)) {
                            for (let j = 0; j < nodeType.struct.ids.length; j++)
                                if (gidMap.get(String(nodeType.struct.ids[j])) == undefined) {
                                    r++
                                    que.push(String(nodeType.struct.ids[j]))
                                    gidMap.set(String(nodeType.struct.ids[j]), dis + 1)
                                }
                        }
                    }

                    // gid是一个roleType
                    if (dis < that.hopNumber) {
                        let roleType = roleTypeList.find(i => i.global_id == gid)
                        if (roleType != undefined) {
                            for (let ids of roleType.type_ids)
                                if (!gidMap.has(String(ids))) {
                                    r++
                                    que.push(String(ids))
                                    gidMap.set(String(ids), dis + 1)
                                }
                        }
                    }
                }

                console.log(gidMap)
                //console.log(que)
                return gidMap
            }
        },

        drawSVG() {
            var that = this

            // 获取画布长和宽
            const svg = d3.select('svg')
            svg.selectAll('*').remove()

            const width = 960
            const height = 600
            svg.attr('viewBox', [0, 0, width, height])
            svg.attr('preserveAspectRatio', 'xMidYMid slice')

            const newNodesData = this.newNodesData
            const newLinksData = this.newLinksData

            // simulation
            const simulation = d3.forceSimulation()
                .nodes(newNodesData)
                // 这个strength是forceManyBody的可选项，影响相互作用力的大小，默认是-30（还有别的可选项，看官方文档）
                .force('charge', d3.forceManyBody().strength(-120))
                // 向中心靠拢
                .force('center', d3.forceCenter(width / 2, height /2)) //.strength(1))
                // id这个函数是将link的source和target映射到node上，不写的话source和target都应该是node的index，当然id函数也可以写成其它形式
                .force('links', d3.forceLink(newLinksData).id((d) => { return d.id }).distance(80).strength(1))
                .force('collide', d3.forceCollide().radius(d => { return d.collision_radius }).iterations(2))
                .alphaMin(0.01)
                .alphaDecay(0.01)
                .on('tick', tick)

            // 拖拽
            const drag = d3.drag()
                .on('start', dragstarted)
                .on('drag', dragged)
                .on('end', dragended)

            const zoom = d3.zoom()
                .extent([[0, 0], [width, height]])
                .scaleExtent([0.1, 2])
                .on('zoom', zoomed)

            //console.log(newNodesData)
            //console.log(newLinksData)

            /* 下面生成d3的力导向图
            *----------------------------------------------------*/

            const link = svg.append('g').attr('id', 'linkLineGroup')
                .selectAll('line') // 曲线咋画呢？
                .data(newLinksData)
                .enter()
                .append('line')
                .attr('marker-end','url(#arrowhead)')
                .classed('link', true)

            /* 查下svg join，有解释这种写法的含义 */
            const nodeCircle = svg.append('g').attr('id', 'nodeCircleGroup')
                .selectAll('use')
                .data(newNodesData)
                .enter()
                .append('use')
                .attr('xlink:href', (d) => {
                    if (d.type == 'link') return '#linkToken'
                    else if (d.nodeType == 'simple') return '#nodeToken'
                    else if (d.nodeType == 'tmp') return '#tmpToken'
                    else if (d.nodeType == 'intersection') return '#intersectionToken'
                    else if (d.nodeType == 'union') return '#unionToken'
                    else if (d.nodeType == 'roleType') return '#unionToken'
                })
                .classed('node', true)
                .classed('fixed', (d) => { return d.fx !== undefined })
                .call(drag)
                .on('click', click)
                .on('dblclick', dblclick)
            
            /************************************************************************/
    
            /* 在node和link上添加文字
            * x和y是文本框的锚点，dx和dy是相对于锚点的偏移量
            */
            const node_text = svg.append('g').attr('id', 'nodeTextGroup')
                .selectAll('text')
                .data(newNodesData)
                .enter()
                .append('text')
                .style('pointer-events', 'none')
                .attr('dx', 15)
                .attr('dy', 5)
                .attr('font-size', 13)
                .attr('fill', '#000')
                .text((d) => { return d.name })

            const link_paths = svg.append('g').attr('id', 'linkPathGroup')
                .selectAll(".edgepath")
                .data(newLinksData)
                .enter()
                .append('path')
                .attr('d', function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y})
                .attr('class', 'edgepath')
                .attr('fill-opacity', 0)
                .attr('stroke-opacity', 0)
                .attr('fill', 'blue')
                .attr('stroke', 'red')
                .attr('id', function(d,i) {return 'edgepath'+i})
                .style("pointer-events", "none")

            const link_text = svg.append('g').attr('id', 'linkTextGroup')
                .selectAll('text')
                .data(newLinksData)
                .enter()
                .append('text')
                .style('pointer-events', 'none')
                .attr('class', 'edgelabel')
                .attr('id', (d, i) => { return 'edgelabel' + i })
                .attr('font-size', 10)
                .attr('fill', '#000')
                .attr('dx', 0)
                .attr('dy', -5)
            link_text.append('textPath')
                .attr('xlink:href', (d, i) => { return '#edgepath' + i })
                .attr('startOffset', '0%') // 文本框从中间位置开始
                .style('pointer-events', 'none')
                .text((d) => { return d.role })
            
            const link_text2 = svg.append('g').attr('id', 'linkText2Group')
                .selectAll('text')
                .data(newLinksData)
                .enter()
                .append('text')
                .style('pointer-events', 'none')
                .attr('class', 'edgelabel2')
                .attr('id', (d, i) => { return 'edgelabel2-' + i})
                .attr('font-size', 10)
                .attr('fill', '#000')
                .attr('dx', 0)
                .attr('dy', 12)
            link_text2.append('textPath')
                .attr('xlink:href', (d, i) => { return '#edgepath' + i })
                .attr('startOffset', '0%') // 文本框从中间位置开始
                .style('pointer-events', 'none')
                .text((d) => { return d.role2 })
            
            /***********************************************************/
            /********************* 定义svg token ************************/
            /***********************************************************/

            const rect_width = 6
            const rect_height = 2
            const defs = svg.append('defs').attr('id', 'tokenDefinitionGroup')

            /* arrowhead */
            defs.append('marker')
                .attr('id', 'arrowhead')
                .attr('viewBox', '-0 -5 10 10')
                .attr('refX', 24)
                .attr('refY', 0)
                //attr('markerUnits', 'strokeWidth')
                .attr('orient', 'auto')
                .attr('markerWidth', 5)
                .attr('markerHeight', 5)
                .attr('xoverflow', 'visible')
                .append('svg:path')
                    .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
                    .attr('fill', '#85c1fd')
                    .attr('stroke','#85c1fd');
            
            /* link token */
            const linkToken = defs.append('g').attr('id', 'linkToken')
            linkToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            linkToken.append('rect')
                .attr('x', -rect_width)
                .attr('y', -rect_height)
                .attr('width', 2 * rect_width)
                .attr('height', 2 * rect_height)
                .style('fill', '#85c1fd')
            
            /* node token */
            const nodeToken = defs.append('g').attr('id', 'nodeToken')
            nodeToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            nodeToken.append('circle')
                .attr('r', 5)
                .style('fill', '#85c1fd')
            
            /* 关系承担者Token */
            const tmpToken = defs.append('g').attr('id', 'tmpToken')
            tmpToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            tmpToken.append('circle')
                .attr('r', 5)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            
            /* intersection token */
            const intersectionToken = defs.append('g').attr('id', 'intersectionToken')
            intersectionToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            intersectionToken.append('circle')
                .attr('r', 5)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            intersectionToken.append('rect')
                .attr('x', -6)
                .attr('y', 0)
                .attr('width', 12)
                .attr('height', 6)
                .style('fill', '#fff')
            intersectionToken.append('rect')
                .attr('x', -6)
                .attr('y', 0)
                .attr('width', 2)
                .attr('height', 5)
                .style('fill', '#85c1fd')
            intersectionToken.append('rect')
                .attr('x', 4)
                .attr('y', 0)
                .attr('width', 2)
                .attr('height', 5)
                .style('fill', '#85c1fd')
            
            /* union token */
            const unionToken = defs.append('g').attr('id', 'unionToken')
            unionToken.append('circle')
                .attr('r', 10)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            unionToken.append('circle')
                .attr('r', 5)
                .style('fill', '#fff')
                .style('stroke', '#85c1fd')
                .style('stroke-width', 2)
            unionToken.append('rect')
                .attr('x', -6)
                .attr('y', -6)
                .attr('width', 12)
                .attr('height', 6)
                .style('fill', '#fff')
            unionToken.append('rect')
                .attr('x', -6)
                .attr('y', -5)
                .attr('width', 2)
                .attr('height', 5)
                .style('fill', '#85c1fd')
            unionToken.append('rect')
                .attr('x', 4)
                .attr('y', -5)
                .attr('width', 2)
                .attr('height', 5)
                .style('fill', '#85c1fd')

            /***********************************************************/
            /*********************** 辅助函数 ***************************/
            /***********************************************************/
            
            svg.call(zoom.transform, d3.zoomIdentity)   // 重置zoom
                .call(zoom)
                .on('dblclick.zoom', null) // 取消拖拽中的双击事件
            
            function tick() {
                // 更新node坐标
                nodeCircle.attr('x', (d) => { return d.x })
                    .attr('y', (d) => { return d.y })
                
                // 更新link坐标
                link.attr('x1', (d) => { return d.source.x })
                    .attr('y1', (d) => { return d.source.y })
                    .attr('x2', (d) => { return d.target.x })
                    .attr('y2', (d) => { return d.target.y })
                
                // 更新node text坐标
                node_text
                    .attr('x', (d) => { return d.x })
                    .attr('y', (d) => { return d.y })

                link_paths.attr('d', (d) => { 
                    return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y
                    //return 'M ' + (d.source.x + d.target.x) / 2 +
                    //    ' ' + (d.source.y + d.target.y) / 2 +
                    //    ' L ' + d.target.x + ' ' + d.target.y
                })

                //link_text
                //    .attr('x', (d) => { return (d.x) })
                //    .attr('y', (d) => { return (d.y) })

                
                link_text.attr('transform', function(d) {
                    let tmp = ""
                    let bbox = this.getBBox()
                    let tx = 0
                    let ty = 0
                    let len = Math.sqrt((d.target.y - d.source.y)*(d.target.y - d.source.y) + (d.target.x - d.source.x)*(d.target.x - d.source.x))
                    let boxLen = Math.sqrt(bbox.width * bbox.width + bbox.height * bbox.height)
                    tx
                    ty

                    if (d.source.x == d.target.x) {
                        tx = 0
                        if (d.target.y > d.source.y) ty = bbox.height / 2
                            else ty = -bbox.height / 2
                    }
                    else {
                        let cosValue = -(d.target.x - d.source.x) / len
                        let sinValue = -(d.target.y - d.source.y) / len
                        let tmp = (boxLen - len) / 2
                        
                        tx = cosValue * tmp
                        ty = sinValue * tmp
                    }

                    if (len < boxLen) {
                        tx = 0
                        ty = 0
                    }

                    tx = tx * nowTransform.k
                    ty = ty * nowTransform.k

                    if (d.target.x < d.source.x){
                        let rx = bbox.x + bbox.width / 2
                        let ry = bbox.y + bbox.height / 2
                        if (len >= boxLen) {
                            tmp =  'rotate(180 ' + rx + ' ' + ry + ')'
                        }
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }
                    else {
                        tmp = 'rotate(0)'
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }

                    return tmp
                })

                link_text2.attr('transform', function(d) {
                    let tmp = ""
                    let bbox = this.getBBox()
                    let tx = 0
                    let ty = 0
                    let len = Math.sqrt((d.target.y - d.source.y)*(d.target.y - d.source.y) + (d.target.x - d.source.x)*(d.target.x - d.source.x))
                    let boxLen = Math.sqrt(bbox.width * bbox.width + bbox.height * bbox.height)
                    tx
                    ty

                    if (d.source.x == d.target.x) {
                        tx = 0
                        if (d.target.y > d.source.y) ty = bbox.height / 2
                            else ty = -bbox.height / 2
                    }
                    else {
                        let cosValue = -(d.target.x - d.source.x) / len
                        let sinValue = -(d.target.y - d.source.y) / len
                        let tmp = (boxLen - len) / 2
                        
                        tx = cosValue * tmp
                        ty = sinValue * tmp
                    }

                    if (len < boxLen) {
                        tx = 0
                        ty = 0
                    }

                    tx = tx * nowTransform.k
                    ty = ty * nowTransform.k

                    if (d.target.x < d.source.x){
                        let rx = bbox.x + bbox.width / 2
                        let ry = bbox.y + bbox.height / 2
                        if (len >= boxLen) {
                            tmp =  'rotate(180 ' + rx + ' ' + ry + ')'
                        }
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }
                    else {
                        tmp = 'rotate(0)'
                        tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                    }

                    return tmp
                })
            }

            //var transform = {x : 0, y : 0, k : 1}
            //var k2 = 1

            function zoomed({transform}) {
                nowTransform = transform

                nodeCircle.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
                link.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
                node_text.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
                link_paths.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
                //link_text.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
                
                let threshold = 0.3
                
                link_text
                    .attr('dy', -5 * transform.k)
                link_text.attr("font-size", 10 * transform.k)
                    .attr('style', () => {
                        if (transform.k < threshold) {
                            return "display: none;"
                        }
                        else {
                            return ""
                        }
                    })
                
                link_text2
                    .attr('dy', 12 * transform.k)
                link_text2.attr("font-size", 10 * transform.k)
                    .attr('style', () => {
                        if (transform.k < threshold) {
                            return "display: none;"
                        }
                        else {
                            return ""
                        }
                    })
                
                tick()
            }

            // 固定某个node
            function click(event, d) {
                clearTimeout(time)
                if (d.nodeType == 'roleType') return

                time = setTimeout(() => {
                    if (d.type == 'node') {
                        that.$emit('view', {
                            type: 'entityType',
                            global_id: d.global_id
                        })
                    }
                    else {
                        that.$emit('view', {
                            type: 'relationType',
                            global_id: d.global_id
                        })
                    }

                    // 阻止默认事件
                    // event.preventDefault()
                }, timeOut)
            }

            /*
            function contextmenu(event, d) {
                d
                // console.log('test contextmenu')
                // 阻止默认事件
                event.preventDefault()
            }
            */

            function dblclick(event, d) {
                clearTimeout(time)
                if (d.nodeType == 'roleType') return

                if (d.type == 'node') {
                    that.$emit('view', {
                        type: 'entityType',
                        global_id: d.global_id
                    })
                }
                else {
                    that.$emit('view', {
                        type: 'relationType',
                        global_id: d.global_id
                    })
                }

                that.$emit('view', {
                    type: 'localGraph',
                    global_id: d.global_id
                })
            }

            function dragstarted() {
                clearTimeout(time)

                time = setTimeout(() => {
                    dragFlag = true
                    d3.select(this).raise()
                    d3.select(this).classed('fixed', true)
                }, timeOut)
            }

            function dragged(event, d) {
                //console.log('dragged')
                d3.select(this).attr("cx", d.x = event.x).attr("cy", d.y = event.y);
                d.fx = d.x
                d.fy = d.y
                simulation.alphaTarget(0.2).restart()
            }

            function dragended(event, d) {
                if (dragFlag) {
                    delete d.fx;
                    delete d.fy;
                    d3.select(this).classed("fixed", false);
                    //simulation.alphaTarget(0.1).restart()
                    
                    setTimeout(() => {
                        simulation.alphaTarget(0)
                    }, 3000)
                    dragFlag = false
                }
            }

            /*
            function emitMessage(event, val) {
                console.log(val + ' from ha')
                this.emitMessage(event, val)
            }
            */

            /*
            function clamp(x, lo, hi) {
                return x < lo ? x : x > hi ? hi : x
            }
            */
        }
    }
}
</script>

<style>
    svg {
        border: 1px solid white;
    }
    
    .link {
        stroke: #85c1fd; /* stroke: #000; */
        stroke-width: 1.5px;
    }

    .node {
        cursor: move;
        /*fill: #85c1fd;*/ /* fill: #ccc; */
        stroke: #000;
        stroke-width: 0px;
    }

    .node.fixed {
        fill: #f00;
        /*
        stroke: #000;
        stroke-width: 6px;
        */
    }

    .block {
        display: inline;
    }
</style>