<template>
    <div id='SVGDiv' style="overflow: hidden; height: 100%; width: 100%;">
        <svg width="100%" height="100%"></svg>
    </div>
</template>

<script>
var time = null
var timeOut = 300
var dragFlag = false
var nowTransform = {x : 0, y : 0, k : 1}

import * as d3 from "d3"
import screenfull from 'screenfull'
import { onBeforeUnmount, onMounted } from '@vue/runtime-core'
import {SimpleType, IntersectionType, UnionType} from '../../util/const_complex_type.js'

export default {
    emits: ['view'],

    data() {

        screenfull.on('change', () => {
            this.isFullScreen = this.isFullScreen ? false : true
            //console.log(this.isFullScreen)
        })

        onMounted(() => {
            window.addEventListener('keydown', this.keyDown, true) // 监听按键事件
        })

        onBeforeUnmount(() => {
            window.removeEventListener('keydown', this.keyDown, true) // 销毁监听事件
        })

        return {
            currentViewNode : '',

            isFullScreen : false,   // 全屏状态下不处理事件
        }
    },

    mounted() {
        var that = this

        // 获取画布长和宽
        const svg = d3.select('svg')
        svg.selectAll('*').remove()
        
        const width = 960
        const height = 600
        svg.attr('viewBox', [0, 0, width, height])
        svg.attr('preserveAspectRatio', 'xMidYMid slice')
        // const width = +svg.attr('width')
        // const height = +svg.attr('height')
        // svg.attr('viewBox', [0, 0, width, height])
        const collision_radius = 15

        // demo展示中边要作为一个点，需要处理一下
        const nodesData = this.$store.state.nodeTypeList
        const linksData = this.$store.state.linkTypeList
        const roleTypeList = this.$store.state.roleTypeList
        //const nodeTypeList = this.$store.state.nodeTypeList
        //const linkTypeList = this.$store.state.linkTypeList

        // 记录所有实体/关系节点的global_id
        let allGidMap = new Map()

        // 用id来标识每个node，node的id用name表示，link的id用形如'l10'的形式表示
        var newNodesData = nodesData.map(function(item) {
            let type_name = ''
            type_name = item.name
            let nodeType = ''
            if (item.isComplex == SimpleType) nodeType = 'simple' // 简单类型
            else if (item.isComplex == IntersectionType) nodeType = 'intersection' // 交
            else if (item.isComplex == UnionType) nodeType = 'union' // 并

            allGidMap.set(String(item.global_id), true)

            return {
                'id': String(item.global_id),
                'name': type_name, // item.name,
                'global_id': item.global_id,
                'collision_radius': collision_radius,
                'type': 'node',
                // 记录node类型，方便不同类型node染成不同颜色，模型层中先设定只有一种颜色
                'nodeType': nodeType
            }
        }).concat(linksData.map(function (item, index) {
            index
            allGidMap.set(String(item.global_id), true)
            return {
                'id': String(item.global_id),
                'name': item.name,
                'global_id': item.global_id,
                'collision_radius': collision_radius,
                'type': 'link'
            }
        }))
        for (let i = 0; i < linksData.length; i++) {
            newNodesData = newNodesData.concat(linksData[i].entity.map((item, index) => {
                return {
                    'id' : String(linksData[i].global_id) + '-' + index,
                    'name' : item.name,
                    'collision_radius': collision_radius,
                    'global_id': 'l' + i + '-' + index,
                    'type': 'node',
                    'nodeType': 'tmp'
                }
            }))
        }

        // console.log(linksData)
        // console.log(nodesData)

        ////////////////////
        // 添加关系相关的连边//
        ////////////////////
        var newLinksData = []
        for (let i = 0; i < linksData.length; i++) {
            newLinksData = newLinksData.concat(linksData[i].entity.map((item, index) => {
                return {
                    'source': String(linksData[i].global_id),
                    'target': String(linksData[i].global_id) + '-' + index,
                    'role': '角色',
                    'role2' : ''
                }
            }))

            for (let index = 0; index < linksData[i].entity.length; index++) {
                let item = linksData[i].entity[index]
                if (!allGidMap.has(String(item.global_id))) {
                    let roleType = roleTypeList.find(i => i.global_id == item.global_id)
                    allGidMap.set(String(item.global_id), true)

                    newNodesData.push({
                        'id': String(item.global_id),
                        'name': roleType.name,
                        'global_id': String(item.global_id),
                        'collision_radius': collision_radius,
                        'type': 'node',
                        // 记录node类型，方便不同类型node染成不同颜色，模型层中先设定只有一种颜色
                        'nodeType': 'roleType'
                    })
                }

                newLinksData.push({
                    'source': String(linksData[i].global_id) + '-' + index,
                    'target': String(item.global_id),
                    'role': '[' + item.roles.min + ', ' + item.roles.max + ']',
                    'role2': '承担者'
                })
            }
        }

        // 复杂实体类型
        for (let i = 0; i < nodesData.length; i++)
            if (nodesData[i].isComplex == IntersectionType || nodesData[i].isComplex == UnionType) {
                let role = ''
                if (nodesData[i].isComplex == IntersectionType) role = '交'
                    else role = '并'
                role
                console.log('complex entity')
                console.log(nodesData[i])
                
                for (let j = 0; j < nodesData[i].struct.ids.length; j++)
                    newLinksData.push({  
                        'source': String(nodesData[i].global_id),
                        'target': String(nodesData[i].struct.ids[j]),
                        'role': '参数', // role
                        'role2': ''
                    })
            }
        
        // roleType（只画涉及到的roleType）
        for (let roleType of roleTypeList) {
            if (allGidMap.has(String(roleType.global_id))) {
                for (let ids of roleType.type_ids) {
                    newLinksData.push({
                        'source': String(roleType.global_id),
                        'target': String(ids),
                        'role': '参数',
                        'role2': '',
                    })
                }
            }
        }

        // simulation
        const simulation = d3.forceSimulation()
            .nodes(newNodesData)
            // 这个strength是forceManyBody的可选项，影响相互作用力的大小，默认是-30（还有别的可选项，看官方文档）
            .force('charge', d3.forceManyBody().strength(-200))
            // 向中心靠拢
            .force('center', d3.forceCenter(width / 2, height /2)) //.strength(1))
            // id这个函数是将link的source和target映射到node上，不写的话source和target都应该是node的index，当然id函数也可以写成其它形式
            .force('links', d3.forceLink(newLinksData).id((d) => { return d.id }).distance(80).strength(1))
            .force('collide', d3.forceCollide().radius(d => { return d.collision_radius }).iterations(2))
            .alphaMin(0.01)
            .alphaDecay(0.02)
            .on('tick', tick)

        // 拖拽
        const drag = d3.drag()
            .on('start', dragstarted)
            .on('drag', dragged)
            .on('end', dragended)

        /* 缩放 */
        const zoom = d3.zoom()
            .extent([[0, 0], [width, height]])
            .scaleExtent([0.1, 1])
            .on('zoom', zoomed)

        //console.log(newNodesData)
        //console.log(newLinksData)

        /* 下面生成d3的力导向图
         * 这里的link，node，node_text的声明顺序是有讲究的，在svg中后声明的会在先声明的上面
         *----------------------------------------------------/
       
        /*
        const link = svg
            .selectAll('.link')
            .data(newLinksData)
            .join('line') // 可以改成别的
            .classed('link', true)
        */
       const link = svg.append('g').attr('id', 'linkLineGroup')
        .selectAll('line') // 曲线咋画呢？
        .data(newLinksData)
        .enter()
        .append('line')
        .attr('marker-end','url(#arrowhead)')
        .classed('link', true)

        /*
        const node = svg
            .selectAll('.node') // 没懂这个selectAll是干嘛的
            .data(newNodesData)
            .join('circle') // 可以改成别的
            .attr('r', 10)
            .classed('node', true) // 这个应该就是加一个class
            .classed('fixed', (d) => { return d.fx !== undefined })
        */
        const nodeCircle = svg.append('g').attr('id', 'nodeCircleGroup')
            .selectAll('use')
            .data(newNodesData)
            .enter()
            .append('use')
            .attr('xlink:href', (d) => {
                if (d.type == 'link') return '#linkToken'
                else if (d.nodeType == 'simple') return '#nodeToken'
                else if (d.nodeType == 'tmp') return '#tmpToken'
                else if (d.nodeType == 'intersection') return '#intersectionToken'
                else if (d.nodeType == 'union') return '#unionToken'
                else if (d.nodeType == 'roleType') return '#unionToken'
            })
            .classed('node', true)
            .classed('fixed', (d) => { return d.fx !== undefined })
            .call(drag)
            .on('click', click)
            .on('dblclick', dblclick) 
        
        /************************************************************************/
        
        const node_text = svg.append('g').attr('id', 'nodeTextGroup')
            .selectAll('text')
            .data(newNodesData)
            .enter()
            .append('text')
            .style('pointer-events', 'none')
            .attr('dx', 15)
            .attr('dy', 5)
            .attr('font-size', 13)
            .attr('fill', '#000')
            .text((d) => { return d.name })

        const link_paths = svg.append('g').attr('id', 'linkPathGroup')
            .selectAll(".edgepath")
            .data(newLinksData)
            .enter()
            .append('path')
            .attr('d', function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y})
            /*
            .attr('d', (d) => {
                //console.log(d.source.x)
                //console.log(d.source.y)
                //console.log(d.target.x)
                //console.log(d.target.y)
                //console.log('--------------------------------')
                return 'M ' + (d.source.x + d.target.x) / 2 +
                    ' ' + (d.source.y + d.target.y) / 2 +
                    ' L ' + d.target.x + ' ' + d.target.y
                //return 'M ' + d.source.x + ' ' + d.soruce.y + ' L ' +
                //    (d.source.x + d.target.x) / 2 + ' ' + (d.source.y + d.target.y) / 2
            })
            */
            .attr('class', 'edgepath')
            .attr('fill-opacity', 0)
            .attr('stroke-opacity', 0)
            .attr('fill', 'blue')
            .attr('stroke', 'red')
            .attr('id', function(d,i) {return 'edgepath'+i})
            .style("pointer-events", "none")

        const link_text = svg.append('g').attr('id', 'linkTextGroup')
            .selectAll('text')
            .data(newLinksData)
            .enter()
            .append('text')
            .style('pointer-events', 'none')
            .attr('class', 'edgelabel')
            .attr('id', (d, i) => { return 'edgelabel' + i })
            .attr('font-size', 10)
            .attr('fill', '#000')
            //.attr('dx', 0) // 偏移量
            .attr('dx', 0)
            .attr('dy', -5)
        link_text.append('textPath')
            .attr('xlink:href', (d, i) => { return '#edgepath' + i })
            .attr('startOffset', '0%') // 文本框从中间位置开始
            .style('pointer-events', 'none')
            .text((d) => { return d.role })
        
        const link_text2 = svg.append('g').attr('id', 'linkText2Group')
            .selectAll('text')
            .data(newLinksData)
            .enter()
            .append('text')
            .style('pointer-events', 'none')
            .attr('class', 'edgelabel2')
            .attr('id', (d, i) => { return 'edgelabel2-' + i})
            .attr('font-size', 10)
            .attr('fill', '#000')
            //.attr('dx', 0) // 偏移量
            .attr('dx', 0)
            .attr('dy', 12)
        link_text2.append('textPath')
            .attr('xlink:href', (d, i) => { return '#edgepath' + i })
            .attr('startOffset', '0%') // 文本框从中间位置开始
            .style('pointer-events', 'none')
            .text((d) => { return d.role2 })

        /**************************************************************/
        /************************* 定义svg token ***********************/
        /**************************************************************/
        const rect_width = 6
        const rect_height = 2
        const defs = svg.append('defs').attr('id', 'tokenDefinitionGroup')

        /* arrowhead */
        defs.append('marker')
            .attr('id', 'arrowhead')
            .attr('viewBox', '-0 -5 10 10')
            .attr('refX', 24)
            .attr('refY', 0)
            //attr('markerUnits', 'strokeWidth')
            .attr('orient', 'auto')
            .attr('markerWidth', 5)
            .attr('markerHeight', 5)
            .attr('xoverflow', 'visible')
            .append('svg:path')
                .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
                .attr('fill', '#85c1fd')
                .attr('stroke','#85c1fd');
        
        /* link token */
        const linkToken = defs.append('g').attr('id', 'linkToken')
        linkToken.append('circle')
            .attr('r', 10)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        linkToken.append('rect')
            .attr('x', -rect_width)
            .attr('y', -rect_height)
            .attr('width', 2 * rect_width)
            .attr('height', 2 * rect_height)
            .style('fill', '#85c1fd')
        
        /* node token */
        const nodeToken = defs.append('g').attr('id', 'nodeToken')
        nodeToken.append('circle')
            .attr('r', 10)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        nodeToken.append('circle')
            .attr('r', 5)
            .style('fill', '#85c1fd')
        
        /* 关系承担者Token */
        const tmpToken = defs.append('g').attr('id', 'tmpToken')
        tmpToken.append('circle')
            .attr('r', 10)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        tmpToken.append('circle')
            .attr('r', 5)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        
        /* intersection token */
        const intersectionToken = defs.append('g').attr('id', 'intersectionToken')
        intersectionToken.append('circle')
            .attr('r', 10)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        intersectionToken.append('circle')
            .attr('r', 5)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        intersectionToken.append('rect')
            .attr('x', -6)
            .attr('y', 0)
            .attr('width', 12)
            .attr('height', 6)
            .style('fill', '#fff')
        intersectionToken.append('rect')
            .attr('x', -6)
            .attr('y', 0)
            .attr('width', 2)
            .attr('height', 5)
            .style('fill', '#85c1fd')
        intersectionToken.append('rect')
            .attr('x', 4)
            .attr('y', 0)
            .attr('width', 2)
            .attr('height', 5)
            .style('fill', '#85c1fd')
        
        /* union token */
        const unionToken = defs.append('g').attr('id', 'unionToken')
        unionToken.append('circle')
            .attr('r', 10)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        unionToken.append('circle')
            .attr('r', 5)
            .style('fill', '#fff')
            .style('stroke', '#85c1fd')
            .style('stroke-width', 2)
        unionToken.append('rect')
            .attr('x', -6)
            .attr('y', -6)
            .attr('width', 12)
            .attr('height', 6)
            .style('fill', '#fff')
        unionToken.append('rect')
            .attr('x', -6)
            .attr('y', -5)
            .attr('width', 2)
            .attr('height', 5)
            .style('fill', '#85c1fd')
        unionToken.append('rect')
            .attr('x', 4)
            .attr('y', -5)
            .attr('width', 2)
            .attr('height', 5)
            .style('fill', '#85c1fd')

        /***********************************************************/
        /************************* 辅助函数 *************************/
        /***********************************************************/
        
        svg.call(zoom.transform, d3.zoomIdentity)   // 重置zoom
            .call(zoom)
            .on('dblclick.zoom', null) // 取消拖拽中的双击事件
        
        function tick() {
            // 更新node坐标
            nodeCircle.attr('x', (d) => { return d.x })
                .attr('y', (d) => { return d.y })
             
            // 更新link坐标
            link.attr('x1', (d) => { return d.source.x })
                .attr('y1', (d) => { return d.source.y })
                .attr('x2', (d) => { return d.target.x })
                .attr('y2', (d) => { return d.target.y })
            
            // 更新node text坐标
            node_text
                .attr('x', (d) => { return d.x })
                .attr('y', (d) => { return d.y })

            link_paths.attr('d', (d) => { 
                return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y
                //return 'M ' + (d.source.x + d.target.x) / 2 +
                //    ' ' + (d.source.y + d.target.y) / 2 +
                //    ' L ' + d.target.x + ' ' + d.target.y
            })

            //link_text
            //    .attr('x', (d) => { return (d.x) })
            //    .attr('y', (d) => { return (d.y) })

            
            link_text.attr('transform', function(d) {
                let tmp = ""
                let bbox = this.getBBox()
                let tx = 0
                let ty = 0
                let len = Math.sqrt((d.target.y - d.source.y)*(d.target.y - d.source.y) + (d.target.x - d.source.x)*(d.target.x - d.source.x))
                let boxLen = Math.sqrt(bbox.width * bbox.width + bbox.height * bbox.height)
                tx
                ty

                if (d.source.x == d.target.x) {
                    tx = 0
                    if (d.target.y > d.source.y) ty = bbox.height / 2
                        else ty = -bbox.height / 2
                }
                else {
                    let cosValue = -(d.target.x - d.source.x) / len
                    let sinValue = -(d.target.y - d.source.y) / len
                    let tmp = (boxLen - len) / 2
                    
                    tx = cosValue * tmp
                    ty = sinValue * tmp
                }

                if (len < boxLen) {
                    tx = 0
                    ty = 0
                }

                tx = tx * nowTransform.k
                ty = ty * nowTransform.k

                if (d.target.x < d.source.x){
                    let rx = bbox.x + bbox.width / 2
                    let ry = bbox.y + bbox.height / 2

                    if (len >= boxLen) {
                        tmp =  'rotate(180 ' + rx + ' ' + ry + ')'
                    }
                    tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                }
                else {
                    tmp = 'rotate(0)'
                    tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                }

                return tmp
            })

            link_text2.attr('transform', function(d) {
                let tmp = ""
                let bbox = this.getBBox()
                let tx = 0
                let ty = 0
                let len = Math.sqrt((d.target.y - d.source.y)*(d.target.y - d.source.y) + (d.target.x - d.source.x)*(d.target.x - d.source.x))
                let boxLen = Math.sqrt(bbox.width * bbox.width + bbox.height * bbox.height)
                tx
                ty

                if (d.source.x == d.target.x) {
                    tx = 0
                    if (d.target.y > d.source.y) ty = bbox.height / 2
                        else ty = -bbox.height / 2
                }
                else {
                    let cosValue = -(d.target.x - d.source.x) / len
                    let sinValue = -(d.target.y - d.source.y) / len
                    let tmp = (boxLen - len) / 2
                    
                    tx = cosValue * tmp
                    ty = sinValue * tmp
                }

                if (len < boxLen) {
                    tx = 0
                    ty = 0
                }

                tx = tx * nowTransform.k
                ty = ty * nowTransform.k

                if (d.target.x < d.source.x){
                    let rx = bbox.x + bbox.width / 2
                    let ry = bbox.y + bbox.height / 2

                    if (len >= boxLen) {
                        tmp =  'rotate(180 ' + rx + ' ' + ry + ')'
                    }
                    tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                }
                else {
                    tmp = 'rotate(0)'
                    tmp = 'translate(' + tx + ', ' + ty + ') ' + tmp
                }

                return tmp
            })
        }

        //var transform = {x : 0, y : 0, k : 1}
        //var k2 = 1

        function zoomed({transform}) {
            nowTransform = transform

            //transform = event.transform
            //k2 = 1 / transform.k
            //console.log(transform)
            //node1.attr('transform', event.transform)
            //node2.attr('transform', event.transform)
            //link.attr('transform', event.transform)
            //node_text.attr('transform', event.transform)
            nodeCircle.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
            link.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
            node_text.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");

            link_paths.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
            //link_text.attr("transform", "translate(" + transform.x + " " + transform.y + ") scale(" + transform.k + ")");
            
            let threshold = 0.3
            /*
            node_text.attr("font-size", 13 * transform.k)
                .attr('style', () => {
                    if (transform.k < threshold) {
                        return "display: none;"
                    }
                    else {
                        return ""
                    }
                })
            */

            /*
            node_type_text.attr('dx', -5.5 * transform.k)
                .attr('dy', (d) => {
                    if (d.type == 'node') return 5.5 * transform.k
                    else return 4 * transform.k
                })
                .attr('font-size', (d) => {
                    if (d.type == 'node') return 20 * transform.k
                    else return 12 * transform.k
                })
                .attr('style', () => {
                    if (transform.k < threshold) {
                        return "display: none;"
                    }
                    else {
                        return "-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;"
                    }
                })
            */
            
            link_text
                .attr('dy', -5 * transform.k)
            link_text.attr("font-size", 10 * transform.k)
                .attr('style', () => {
                    if (transform.k < threshold) {
                        return "display: none;"
                    }
                    else {
                        return ""
                    }
                })
            
            link_text2
                .attr('dy', 12 * transform.k)
            link_text2.attr("font-size", 10 * transform.k)
                .attr('style', () => {
                    if (transform.k < threshold) {
                        return "display: none;"
                    }
                    else {
                        return ""
                    }
                })
            
            tick()
        }

        // 固定某个node
        function click(event, d) {
            if (that.isFullScreen) return
            if (d.nodeType == 'tmp') return
            if (d.nodeType == 'roleType') return
            
            clearTimeout(time)

            time = setTimeout(() => {
                if (d.type == 'node') {
                    that.$emit('view', {
                        type: 'entityType',
                        global_id: d.global_id
                    })
                }
                else {
                    that.$emit('view', {
                        type: 'relationType',
                        global_id: d.global_id
                    })
                }

                // 阻止默认事件
                // event.preventDefault()
            }, timeOut)
        }

        function dblclick(event, d) {
            if (that.isFullScreen) return
            if (d.nodeType == 'tmp') return
            if (d.nodeType == 'roleType') return

            clearTimeout(time)

            if (d.type == 'node') {
                that.$emit('view', {
                    type: 'entityType',
                    global_id: d.global_id
                })
            }
            else {
                that.$emit('view', {
                    type: 'relationType',
                    global_id: d.global_id
                })
            }

            that.$emit('view', {
                type: 'localGraph',
                global_id: d.global_id
            })
        }

        function dragstarted() {
            clearTimeout(time)
            
            time = setTimeout(() => {
                dragFlag = true
                // select(this)应该是选中的那个node
                d3.select(this).raise()
                d3.select(this).classed('fixed', true)
            }, timeOut)
        }

        function dragged(event, d) {
            //console.log('dragged')
            d3.select(this).attr("cx", d.x = event.x).attr("cy", d.y = event.y);
            d.fx = d.x
            d.fy = d.y
            simulation.alphaTarget(0.1).restart()
        }

        function dragended(event, d) {
            if (dragFlag) {
                delete d.fx;
                delete d.fy;
                d3.select(this).classed("fixed", false);
                //simulation.alpha(0.1).restart()

                setTimeout(() => {
                    simulation.alphaTarget(0)
                }, 3000)
                dragFlag = false
            }
        }

        /*
        function emitMessage(event, val) {
            console.log(val + ' from ha')
            this.emitMessage(event, val)
        }
        */

        /*
        function clamp(x, lo, hi) {
            return x < lo ? x : x > hi ? hi : x
        }
        */
    },
    
    computed: {
    },

    methods: {
        keyDown(event) {
            if (event.keyCode === 120) {
                console.log('here')
                event.returnValue = false
                if (screenfull.isEnabled) {
                    //screenfull.toggle()
                    screenfull.request(document.getElementById('SVGDiv'))
                }
            }
        },

        circleRadius(d) {
            d
            return 10
        },

        circleColor(d) {
            d
            return this.$store.state.colorList[0].color
        }        
    }
}
</script>

<style>
    svg {
        border: 1px solid white;
    }
    
    .link {
        stroke: #85c1fd; /* stroke: #000; */
        stroke-width: 1.5px;
    }

    .node {
        cursor: move;
        /*fill: #85c1fd;*/ /* fill: #ccc; */
        stroke: #000;
        stroke-width: 0px;
    }

    .node.fixed {
        fill: #f00;
        /*
        stroke: #000;
        stroke-width: 6px;
        */
    }
</style>