<!-- 现在在添加节点/关系之后图谱不会自动刷新的 -->
<template>
    <el-container style="border: 1px solid #eee">
        <template v-if="activeLeft">
            <!-- overflow-y: hidden;这东西是用来取消自带的滚动条的 -->
            <el-aside :width="activeLeft == true ? '300px' : '0px'"
                class="aside-container-KG"
                style="overflow-y: hidden;"
                v-if="asideUpdate">
                <!-- 这写法不会缓存 -->
                <component :is="'KGModelTypeList'"
                    :currentViewNode="currentViewNode"
                    :defaultAddType="defaultAddType"
                    @view="dealWithView"
                    @add="dealWithAdd"
                    @refresh="dealWithRefresh"
                    @back="dealWithBack">
                </component>

                <div style="
                    position: absolute;
                    top: 18px;
                    left: 10px;
                ">
                    <el-button 
                        type="text"
                        style="font-size: 20px; color: #909399;"
                        @click="activeLeft = !activeLeft">
                        <i class="el-icon-d-arrow-left"></i>
                    </el-button>
                </div>
            </el-aside>
        </template>

        <el-container>
            <el-main style="border: 1px solid #eee; overflow-y: hidden; position: relative;">
                <!--
                <component :is="'KGModelShow'" @view="dealWithView" v-if="KGUpdate"></component>
                -->
                <component :is="showingGraph"
                    :currentViewNode="viewLocalGraphNode"
                    :hopDefaultNumber="localGraphHopNumber"
                    @view="dealWithView"
                    @back="dealWithBackHoleGraph"
                    @hopDefault="dealWithHopChanged"
                    v-if="KGUpdate">
                </component>

                <template v-if="!activeLeft">
                    <div style="
                        position: absolute;
                        top: 150px;
                        left: 0px;
                    ">
                        <el-button type="plain" size="mini" @click="activeLeft = !activeLeft">
                            <i class="el-icon-d-arrow-right"></i>
                        </el-button>
                    </div>
                </template>
                <template v-if="!activeRight">
                    <div style="
                        position: absolute;
                        top: 150px;
                        right: 0px;
                    ">
                        <el-button type="plain" size="mini" @click="activeRight = !activeRight">
                            <i class="el-icon-d-arrow-left"></i>
                        </el-button>
                    </div>
                </template>
            </el-main>
        </el-container>

        <template v-if="activeRight">
            <el-aside
                :width="activeRight == true ? '350px' : '0px'"
                class="aside-container-KG"
                style="overflow-y: hidden;"
                v-if="rightUpdate">
                <component :is="currentAsideComponent"
                    :currentViewNode="currentViewNode"
                    :defaultAddType="defaultAddType"
                    @view="dealWithView"
                    @add="dealWithAdd"
                    @refresh="dealWithRefresh"
                    @back="dealWithBack">
                </component>

                <div style="
                    position: absolute;
                    top: 18px;
                    right: 10px;
                ">
                    <el-button 
                        type="text"
                        style="font-size: 20px; color: #909399;"
                        @click="activeRight = !activeRight">
                        <i class="el-icon-d-arrow-right"></i>
                    </el-button>
                </div>
            </el-aside>
        </template>
    </el-container>

    <!--
    <el-drawer
        :title="titleName[currentAsideComponent]"
        v-model="activeRight"
        :direction="'rtl'"
        destroy-on-close>
        <component :is="currentAsideComponent"
            :currentViewNode="currentViewNode"
            :defaultAddType="defaultAddType"
            v-if="asideUpdate"
            @view="dealWithView"
            @add="dealWithAdd"
            @refresh="dealWithRefresh"
            @back="dealWithBack">
        </component>
    </el-drawer>
    -->
</template>

<script>
// 这个KG包括一个搜索栏，一个菜单栏，一个显示KG的框，KG显示单独做成了一个组件，不太方便信息交互

import {axios_request} from '../../util/axios_utils.js'
import KGModelShow from "./KGModelShow.vue"
import KGLocalModelShow from "./KGLocalModelShow.vue"
import KGModelAddType from "./KGModelAddType.vue"
import KGModelTypeList from "./KGModelTypeList.vue"
import KGModelViewEntity from "./KGModelViewEntity.vue"
import KGModelViewRelation from "./KGModelViewRelation.vue"
import KGModelViewProperty from "./KGModelViewProperty.vue"

export default {
    data() {
        return {
            testValue: 10,
            isCollapse: false,

            asideUpdate: true, // 用来刷新组件的
            KGUpdate: true, // 刷新组件young
            
            showingGraph: 'KGModelShow',
            viewLocalGraphNode: -1,
            localGraphHopNumber: 0,

            defaultAddType: 'entityType',
            currentAsideComponent : "KGModelAddType",

            // 侧边信息拦展示的节点的global_id
            currentViewNode : -1, //this.$store.state.nodesData[0].global_id

            //asideWidth : "300px",
            activeLeft : true, 
            activeRight : false,
            rightUpdate : true,

            titleName : {
                KGModelViewEntity: '实体类型信息',
                KGModelViewRelation: '关系类型信息',
                KGModelAddType: '添加类型'
            }
        }
    },

    computed: {
        
    },

    beforeCreate() {
    },

    methods: {
        rightOpen() {
            /*
            if (this.activeRight) {
                this.currentAsideComponent = "KGModelAddType"
                this.rightUpdate = false
                this.$nextTick(() => {
                    this.rightUpdate = true
                })
            }
            */
           console.log(this.currentAsideComponent)
        },

        dealWithHopChanged(val) {
            console.log('change hop')
            this.localGraphHopNumber = val
        },

        dealWithAdd(val) {
            console.log(val + ' from KG')
            if (val === 'KGModelAddEntityType') {
                this.currentAsideComponent = 'KGModelAddType'
                this.defaultAddType = 'entityType'
                this.activeRight = true
                this.rightUpdate = false
                this.$nextTick(() => {
                    this.rightUpdate = true
                })
            }
            else if (val === 'KGModelAddRelationType') {
                this.currentAsideComponent = 'KGModelAddType'
                this.defaultAddType = 'relationType'
                this.activeRight = true
                this.rightUpdate = false
                this.$nextTick(() => {
                    this.rightUpdate = true
                })
            }
            else {
                console.log('add error from KG')
            }
        },

        dealWithBack(val) {
            console.log(val + ' from KG')
            // this.currentAsideComponent = 'KGModelTypeList'
            this.activeRight = false
        },

        dealWithBackHoleGraph() {
            this.showingGraph = "KGModelShow"
                
            this.KGUpdate = false
            this.$nextTick(() => {
                this.KGUpdate = true
            })
        },

        async dealWithRefresh(needGetGraph = false, refreshType = '') {
            if (needGetGraph) {
                let that = this
                let res = await axios_request(this, 'patch', '/inst', {
                    operation: 'getGraph',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name
                })
                
                if (res !== '') {
                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: '知识图谱获取失败'
                        })
                        console.log(res.msg)
                    }
                    else {
                        console.log(res.data)

                        that.$store.commit('saveGraph', {
                            graph: res.data,
                            project_name: that.$store.state.project_name
                        })

                        /*
                        that.$message({
                            type: 'success',
                            message: '知识图谱获取成功'
                        })
                        */
                    }
                }
            }

            this.activeRight = false

            if (refreshType != 'propertyType') {
                //console.log('hello')
                this.showingGraph = "KGModelShow"
                this.KGUpdate = false
                this.$nextTick(() => {
                    this.KGUpdate = true
                })
            }

            this.asideUpdate = false
            this.$nextTick(() => {
                this.asideUpdate = true
            })
        },

        /*
         * val -- {global_id: id, type: 'entityType' | 'relationType'}
         */
        dealWithView(item) {
            console.log('view ' + item.global_id + ' from KGModel')
            console.log(item)

            const global_id = Number(item.global_id)

            this.currentViewNode = global_id
            if (item.type == 'entityType' || item.type == 'relationType' || item.type == 'propertyType') {
                if (item.type == 'entityType') this.currentAsideComponent = 'KGModelViewEntity'
                else if (item.type == 'relationType') this.currentAsideComponent = 'KGModelViewRelation'
                else if (item.type == 'propertyType') this.currentAsideComponent = 'KGModelViewProperty'
                this.activeRight = true

                this.rightUpdate = false
                this.$nextTick(() => {
                    this.rightUpdate = true
                })
            }
            else if (item.type == 'localGraph') {
                console.log('KGModel view local graph')
                console.log(item.global_id)
                
                this.viewLocalGraphNode = item.global_id
                this.showingGraph = "KGLocalModelShow"
                
                this.KGUpdate = false
                this.$nextTick(() => {
                    this.KGUpdate = true
                })
            }
        }
    },

    components: {
        KGModelShow,
        KGLocalModelShow,
        KGModelAddType,
        KGModelTypeList,
        KGModelViewEntity,
        KGModelViewRelation,
        KGModelViewProperty
    }
}
</script>

<style scoped>
    .el-header {
        background-color: #ffffff;
        color: #333;
        line-height: 60px;
        direction: horizontal;
    }

    .el-menu {
        background-color: #ffffff;
    }

    .el-footer {
        background-color: #ffffff;
        color: #333;
        text-align: center;
        line-height: 30px;
    }

    .el-main {
        background-color: #ffffff;
        color: #333;
        text-align: center;
    }

    .el-aside {
        background-color: #ffffff;
    }
    
    .el-container {
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

</style>