<!-- 用于显示单个node详细信息 -->
<template>
    <el-container>
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle disabled></el-button>
                -->
                <span>详情</span>
                <!--
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle @click="onBack" disabled></el-button>
                -->
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>名称</span>
                                <el-button class="button" type="text" @click="onViewLocalGraph">查看局部图谱</el-button>
                            </div>
                        </template>
                        <div class="text item">
                            {{ currentNode.name }}
                        </div>
                    </el-card>

                    <!-- demo中暂时只有name这一条属性 -->
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>属性</span>
                                <el-button class="button" type="text" @click="onAddProperty">添加</el-button>
                            </div>
                        </template>
                        <!--
                        <div class="text item">
                            {{ '名称：' + currentNode.name }}
                        </div>
                        -->

                        <!-- 显示所有property -->
                        <div v-if="!currentAddProperty">
                            <el-table :data="currentNode.properties" style="width: 100%">
                                <el-table-column prop="property_name" label="名称"></el-table-column>
                                
                                <el-table-column label="类型">
                                    <template #default="scope">
                                        <template v-if="scope.row.type == 'Basic'">
                                            <span> {{ scope.row.type_name }} </span>
                                        </template>

                                        <template v-if="scope.row.type == 'Enum'">
                                            <el-popover effect="light" trigger="hover" placement="top">
                                                <template #default>
                                                    <p> 枚举值： </p>
                                                    <template
                                                        v-for="item in symbolData[String(scope.row.type_id)].enum_values"
                                                        :key="Date.now() + ' ' + item"
                                                    >
                                                        <p> {{ item }} </p>
                                                    </template>
                                                </template>
                                                <template #reference>
                                                    <div class="name-wrapper">
                                                    <el-tag size="medium">{{ scope.row.type_name }}</el-tag>
                                                    </div>
                                                </template>
                                            </el-popover>
                                        </template>

                                        <template v-if="scope.row.type == 'Compound'">
                                            <el-popover effect="light" trigger="hover" placement="top">
                                                <template #default>
                                                    <template
                                                        v-for="(value, name) in symbolData[String(scope.row.type_id)].child_symbols"
                                                        :key="Date.now() + ' ' + name"
                                                    >
                                                        <p> {{ name + ' : '+ symbolData[String(value)].name }} </p>
                                                    </template>
                                                </template>
                                                <template #reference>
                                                    <div class="name-wrapper">
                                                    <el-tag size="medium">{{ scope.row.type_name }}</el-tag>
                                                    </div>
                                                </template>
                                            </el-popover>
                                        </template>
                                    </template>
                                </el-table-column>
                                
                                <el-table-column label="操作">
                                    <template #default="scope">
                                        <!--
                                        <el-button @click="onChangeProperty(scope.row)" type="text" size="small">编辑</el-button>
                                        -->
                                        <el-button @click="onDeleteProperty(scope.row)" type="text" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>

                        <!-- 添加property -->
                        <div v-if="currentAddProperty">
                            <el-form
                                :model="currentAddPropertyForm"
                                ref="currentAddPropertyForm"
                                label-position="left"
                                label-width="auto"
                            >
                                <el-form-item
                                    label="属性名"
                                    prop="property_name"
                                    :rules="[{ validator: validatePropertyName, trigger: 'blur' }]"
                                >
                                    <el-input
                                        placeholder="请输入属性名"
                                        v-model="currentAddPropertyForm.property_name"
                                        @input="e => currentAddPropertyForm.property_name = validateForbidChar(e)"
                                    >
                                    </el-input>
                                </el-form-item>

                                <el-form-item
                                    label="属性类型"
                                    prop="property_type"
                                    :rules="[{ validator: validatePropertyType, trigger: 'blur' }]"
                                >
                                    <el-select
                                        v-model="currentAddPropertyForm.property_type"
                                        placeholder="请选择属性类型"
                                        style="display: block;"
                                    >
                                        <el-option
                                            v-for="(value, name) in symbolData"
                                            :key="'Symbol ' + String(name)"
                                            :label="value.name"
                                            :value="name"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item>
                                    <div>
                                        <el-button type="primary" @click="onSubmitAddProperty('currentAddPropertyForm')" size="mini">确定</el-button>
                                        <el-button @click="onCancelAddProperty" size="mini">取消</el-button>
                                    </div>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>关系</span>
                                <el-button class="button" type="text" @click="onAddRelation">添加</el-button>
                            </div>
                        </template>
                        <div v-for="(item, index) in currentEdgeList" :key="index">
                            <div class="text item">
                                <span> {{ showEdgeInfo(item) }} </span>
                                <div>
                                    <i class='el-icon-info' @click="onViewRelation(item, index)"></i>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <i class="el-icon-delete"
                    @click="onDeleteEntity"></i>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'

export default {
    props: {
        // 展示的nodeType，为相应的global_id
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh'],

    data() {
        const symbolData = this.$store.state.symbolData
        console.log(symbolData)

        const validatePropertyName = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error("请输入属性名"))
            }
            else {
                callback()
            }
        }

        const validatePropertyType = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error("请选择属性类型"))
            }
            else {
                callback()
            }
        }

        return {
            symbolData,
            validatePropertyName,
            validatePropertyType,

            // currentViewNode在nodeTypeList中相应的node对象
            currentNode : '',

            // node相关的edge
            currentEdgeList : [],

            // 是否正在添加property
            currentAddProperty : false,

            currentAddPropertyForm : {
                property_name : '',
                property_type : '' // 实际上是symbol_type_id
            },
        }
    },

    computed: {
        
    },

    mounted() {
        console.log('hello from viewer')

        if (this.currentViewNode == -1) {
            this.$emit('back', 'KGModelAddType')
        }
        
        console.log(this.currentViewNode)
        let that = this
        this.currentNode = this.$store.state.nodeTypeList.find(item => item.global_id == that.currentViewNode)

        console.log('KGModelViewEntity')
        console.log(this.currentNode)

        if (this.currentNode !== undefined) {
            const currentNodeName = this.currentNode.name
            console.log(`${currentNodeName} was found from viewer`)

            this.currentEdgeList = this.$store.state.linkTypeList.filter(function(item) {
                //return item.source === currentNodeName || item.target === currentNodeName
                return item.entity.find(i => that.currentNode.global_id == i.global_id)
            })
        }
        else { // undefined
            this.$emit('back', 'KGModelAddType')
        }

        if (this.currentNode === undefined) {
            this.currentNode = {
                name: 'undefined'
            }
        }

        console.log('++++++++++++++++++++++')
        console.log(this.currentNode)
        console.log(this.currentEdgeList)
    },

    methods: {
        showEdgeInfo: function(item) {
            let str = `${item.name}: `
            for (let i = 0; i < item.entity.length; i++) {
                str += item.entity[i].name
                if (i < item.entity.length - 1)
                    str += ', '
            }
            return str
        },

        onBack() {
            this.$emit('back', 'KGModelTypeList')
        },

        onAddRelation() {
            this.$emit('add', 'KGModelAddRelationType')
        },

        addPropertyReset() {
            this.currentAddProperty = false
            this.currentAddPropertyForm = {
                property_name : '',
                property_type : ''
            }
        },

        onAddProperty() {
            console.log('add feature from KGViewEntity')

            this.currentAddProperty = true
        },

        async onSubmitAddProperty(currentAddPropertyForm) {
            console.log('submit add property')
            let that = this
            this.$refs[currentAddPropertyForm].validate(async (valid) => {
                if (valid) {
                    let request = {
                        operation: 'addTypeProperty',
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                        type_id: Number(that.currentNode.global_id),
                        symbol_type_id: Number(that.currentAddPropertyForm.property_type),
                        property_name: that.currentAddPropertyForm.property_name
                    }

                    let res = await axios_request(this, 'post', '/api', request)

                    console.log('addTypeproperty'),
                    console.log(res)

                    if (res != '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message //'属性创建失败'
                            })
                            return false
                        }
                        else {
                            that.$store.commit('changeTypeProperty', request)

                            that.$message({
                                type: 'success',
                                message: '属性添加成功'
                            })

                            that.addPropertyReset()
                            return true
                        }
                    }   
                    else {
                        that.$message({
                            type: 'error',
                            message: '网络错误'
                        })
                        return false
                    }
                }
                else {
                    return false
                }
            })
        },

        onCancelAddProperty() {
            console.log('cancel add property')
            this.addPropertyReset()
        },

        onChangeProperty(row) {
            console.log('change property')
            console.log(row)

            this.currentAddPropertyForm = {
                'property_name': row.property_name,
                'property_type': ''
            }

            this.currentAddProperty = true
        },

        async onDeleteProperty(row) {
            console.log('delete property')
            console.log(row)

            let that = this
            this.$confirm(`是否删除属性: ${row.property_name}`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                let request = {
                    operation: 'deleteTypeProperty',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    type_id: Number(that.currentNode.global_id),
                    property_name: row.property_name
                }

                let res = await axios_request(that, 'post', '/api', request)
                
                console.log(res)

                if (res !== '') {
                    if (res.data.error) {
                        //alert(res.data.msg.message)
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message  //'属性删除失败'
                        })
                        console.log(res.msg)
                    }
                    else {
                        that.$store.commit('changeTypeProperty', request)

                        that.$message({
                            type: 'success',
                            message: '属性删除成功!'
                        })

                        this.currentAddProperty = true
                        this.$nextTick(() => {
                            this.currentAddProperty = false
                        })
                    }
                }
            }).catch(() => {
                that.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            })
        },

        onViewRelation(item, index) {
            index

            this.$emit('view', {
                global_id: item.global_id,
                type: 'relationType'
            })
        },

        onViewLocalGraph() {
            this.$emit('view', {
                global_id: this.currentViewNode,
                type: 'localGraph'
            })
        },

        async onDeleteEntity() {
            console.log('delete entity?')
            
            let that = this

            this.$confirm(`是否删除实体类型: ${this.currentNode.name}`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(async () => {
                //that.axios.defaults.baseURL = ''
                let res = await axios_request(that, 'post', '/api', {
                    operation: 'rejectType',
                    user_id: that.$store.state.Authorization,
                    project: that.$store.state.project_name,
                    type_id: that.currentNode.global_id
                })
                
                console.log(res)
                console.log(JSON.stringify(res))

                if (res !== '') {
                    if (res.data.error) {
                        //alert(res.data.msg.message)
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message //'删除失败'
                        })
                        console.log(res.msg)
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: '删除成功!'
                        })

                        that.$emit('refresh', true)
                        that.$emit('back', 'KGModelTypeList')    
                    }
                }
            }).catch(() => {
                that.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            })
        }
    }
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>