<template>
    <el-container direction="vertical">
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle @click="onViewEntity" disabled></el-button>
                <span>索引</span>
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle disabled></el-button>
                -->

                <span> {{ projectName + "(模型层)" }} </span>
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <!-- 尝试用v-for生成一个菜单 -->
                    <el-menu>
                        <el-submenu index="1">
                            <template #title>
                                <i class="el-icon-message"></i>
                                <span> 实体类型 </span>
                            </template>

                            <el-menu-item
                                v-for="(item1, index1) in nodeTypeList"
                                :key="index1"
                                :index="('1-' + index1)"
                                @click="onViewEntity(item1)"
                                @dblclick="onViewLocalGraph(item1)">
                                <i class="el-icon-star-off"></i>
                                <span> {{ item1.name }} </span>
                            </el-menu-item>
                        </el-submenu>

                        <el-submenu index="2">
                            <template #title>
                                <i class="el-icon-message"></i>
                                <span> 关系类型 </span>
                            </template>

                            <el-menu-item v-for="(item2, index2) in linkTypeList"
                                :key="index2"
                                :index="('2-' + index2)"
                                @click="onViewRelation(item2)"
                                @dblclick="onViewLocalGraph(item2)">
                                <i class="el-icon-star-off"></i>
                                <span> {{ item2.name }} </span>
                            </el-menu-item>
                        </el-submenu>

                        <el-submenu index="3">
                            <template #title>
                                <i class="el-icon-message"></i>
                                <span> 符号类型 </span>
                            </template>

                            <el-menu-item v-for="(item3, index3) in symbolData" :key="index3" :index="('3-' + index3)" @click="onViewProperty(item3, index3)">
                                <i class="el-icon-star-off"></i>
                                <span> {{ item3.name }} </span>
                            </el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <i class="el-icon-plus" @click="addType"></i>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
var time = null

export default {
    emits: ['add', 'view'],

    data() {
        let nodeTypeList = []
        for (let i = 0; i < this.$store.state.nodeTypeList.length; i++) {
            nodeTypeList.push({
                'name': this.$store.state.nodeTypeList[i].name,
                'global_id': this.$store.state.nodeTypeList[i].global_id
            })
        }
        nodeTypeList.sort((i, j) => {
            if (i.name < j.name) return -1;
            else return 1;
        })

        let linkTypeList = []
        for (let i = 0; i < this.$store.state.linkTypeList.length; i++) {
            linkTypeList.push({
                'name': this.$store.state.linkTypeList[i].name,
                'global_id': this.$store.state.linkTypeList[i].global_id
            })
        }
        linkTypeList.sort((i, j) => {
            if (i.name < j.name) return -1;
            else return 1;
        })

        let symbolData = this.$store.state.symbolData

        return {
            projectName  : this.$store.state.project_name, 
            nodeTypeList : nodeTypeList,
            linkTypeList : linkTypeList,
            symbolData   : symbolData
        }
    },

    methods: {
        addType() {
            this.$emit('add', 'KGModelAddEntityType')
        },

        onViewEntity(item) {
            // 取消原来time设置的事件
            clearTimeout(time)
            // setTimeout会返回一个id，对应延迟执行的代码块
            //time = setTimeout(() => {
                this.$emit('view', {
                    global_id: item.global_id,
                    type: 'entityType'
                })
            //}, 300)
        },

        onViewRelation(item) {
            clearTimeout(time)
            //time = setTimeout(() => {
                this.$emit('view', {
                    global_id: item.global_id,
                    type: 'relationType'
                })
            //}, 300)
        },

        onViewProperty(item, symbol_type_id) {
            clearTimeout(time)
            //time = setTimeout(() => {
                this.$emit('view', {
                    global_id: symbol_type_id,
                    type: 'propertyType'
                })
            //}, 300)
        },

        onViewLocalGraph(item) {
            clearTimeout(time)

            this.$emit('view', {
                global_id: item.global_id,
                type: 'localGraph'
            })
        }
    }
}
</script>

<style scope>
    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }

    .el-menu {
        text-align: left;
        border-right: 0px;
    }
</style>