<template>
    <el-container direction="vertical">
        <el-header>
            <div class="header">
                <!--
                <el-button class="button" icon="el-icon-arrow-left" size="mini" circle disabled></el-button>
                -->
                <span>详情</span>
                <!--
                <el-button class="button" icon="el-icon-arrow-right" size="mini" circle disabled></el-button>
                -->
            </div>
        </el-header>

        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>名称</span>
                            </div>
                        </template>
                        <div class="text item">
                            {{ currentNode.name }}
                        </div>
                    </el-card>

                    <el-card class="box-card">
                        <template #header>
                            <div class="card-header">
                                <span>符号类型</span>
                            </div>
                        </template>
                        <div class="text item">
                            {{ getTypeName }}
                        </div>
                    </el-card>

                    <template v-if="currentNode.type == 'Enum'">
                        <el-card class="box-card">
                            <template #header>
                                <div class="card-header">
                                    <span>枚举值列表</span>
                                </div>
                            </template>
                            
                            <el-table :data="currentEnumValueList" style="width: 100%">
                                <el-table-column prop="index" label="序号"></el-table-column>
                                <el-table-column prop="value" label="枚举值"></el-table-column>
                            </el-table>
                        </el-card>
                    </template>

                    <template v-if="currentNode.type == 'Compound'">
                        <el-card class="box-card">
                            <template #header>
                                <div class="card-header">
                                    <span>成员列表</span>
                                </div>
                            </template>

                            <el-table :data="currentChildSymbolList" style="width: 100%">
                                <el-table-column prop="name" label="名称"></el-table-column>
                                <el-table-column prop="type" label="类型"></el-table-column>
                            </el-table>
                        </el-card>
                    </template>
                </el-scrollbar>
            </div>
        </el-main>

        <el-footer>
            <div class="footer">
                <i class="el-icon-delete"
                    @click="onDeleteProperty"></i>
            </div>
        </el-footer>
    </el-container>
</template>

<script>
// import {axios_request} from '../../util/axios_utils.js'
export default {
    props: {
        // 展示的nodeType，为相应的global_id
        currentViewNode: [Number]
    },

    emits: ['back', 'add', 'view', 'refresh'],

    data() {
        return {
            currentNode : '',
            currentTypeID : '',
            currentChildSymbolList : [],
            currentEnumValueList : []
        }
    },

    mounted() {
        if (this.currentViewNode == -1) {
            this.$emit('back', 'KGModelAddType')
        }

        this.currentTypeID = this.currentViewNode
        this.currentNode = this.$store.state.symbolData[String(this.currentTypeID)]

        if (this.currentNode == undefined) {
            this.currentNode = {
                'name': 'undefined',
                'type': 'undefined'
            }
        }
        
        if (this.currentNode.type == 'Compound') {
            this.currentChildSymbolList = []
            for (let key in this.currentNode.child_symbols) {
                let type_id = this.currentNode.child_symbols[key]
                let type = this.$store.state.symbolData[String(type_id)].name

                this.currentChildSymbolList.push({
                    'name': key,
                    'type': type,
                    'type_id': type_id
                })
            }
        }
        if (this.currentNode.type == 'Enum') {
            this.currentEnumValueList = []
            for (let i = 0; i < this.currentNode.enum_values.length; i++)
                this.currentEnumValueList.push({
                    'index': i,
                    'value': this.currentNode.enum_values[i]
                })
        }

        console.log(this.currentNode)
        console.log(this.currentChildSymbolList)
        console.log(this.currentEnumValueList)
    },

    computed: {
        getTypeName() {
            if (this.currentNode.type == 'Basic') return '基本类型'
            else if (this.currentNode.type == 'Enum') return '枚举类型'
            else if (this.currentNode.type == 'Compound') return '复合类型'
            else return 'undefined'
        }
    },

    methods: {
        onDeleteProperty() {
            console.log('on delete property')
        }
    }
}
</script>

<style scoped>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>
