<template>
    <el-container direction="vertical">
        <!--
        <el-header style="height: 130px">
        -->
        <el-header style="height: 100px">
            <div style="height: 80px; line-height: 80px; padding: 0;">
                <span>添加</span>
            </div>

            <div>
                <!--
                <div style="height: 40px; padding: 0;">
                    <el-radio v-model="addType" label="entityType" @click="resetTypeForm()">实体类型</el-radio>
                    <el-radio v-model="addType" label="relationType" @click="resetTypeForm()">关系类型</el-radio>
                </div>

                <div style="height: 40px; padding: 0;">
                    <el-radio v-model="addType" label="propertyType" @click="resetPropertyTypeForm()">符号类型</el-radio>
                    <el-radio v-model="addType" label="constraintType" @click="resetConstraintTypeForm()">约束&emsp;&emsp;</el-radio>
                </div>
                -->

                <el-radio v-model="addType" label="entityType" @click="resetTypeForm()">实体类型</el-radio>
                <el-radio v-model="addType" label="relationType" @click="resetTypeForm()">关系类型</el-radio>
                <el-radio v-model="addType" label="propertyType" @click="resetPropertyTypeForm()">符号类型</el-radio>
            </div>
        </el-header>

        <el-divider></el-divider>
        
        <el-main class="content" style="overflow-y: hidden;">
            <div style="height: 100%; overflow: hidden;">
                <el-scrollbar style="height: 100%">
                    <el-card class="box-card" v-if="addType == 'entityType'">
                        <template #header>
                            <div class="card-header">
                                <span> 实体类型 </span>
                            </div>
                        </template>

                        <div class="text">
                            <el-form :model="typeForm" ref="typeForm" label-position="left" label-width="auto">
                                <el-form-item label="类型选项" prop="isComplex">
                                    <el-select v-model="typeForm.isComplex" placeholder="请选择类型选项" style="display: block;">
                                        <el-option
                                            v-for="item in entityTypeOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <template v-if="typeForm.isComplex === SimpleType">
                                    <el-form-item
                                        label="类型名称"
                                        :prop="'name'"
                                        :rules="[
                                            { validator: validateEntityType, trigger: 'blur' }
                                        ]">
                                        <el-input
                                            v-model="typeForm.name"
                                            @input="e => typeForm.name = validateForbidChar(e)"
                                            placeholder="请输入实体类型名称"
                                            size="medium">
                                        </el-input>
                                    </el-form-item>
                                </template>

                                <template v-if="typeForm.isComplex === IntersectionType || typeForm.isComplex === UnionType">
                                    <el-form-item label="选择列表" prop="complexIds">
                                        <el-select v-model="typeForm.complexIds" multiple placeholder="请选择" style="display: block;">
                                            <el-option
                                                v-for="item in entityTypeCandidates"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </template>

                                <el-divider></el-divider>
                                <el-form-item>
                                    <template v-if="typeForm.isComplex !== ''">
                                        <el-button type="primary" @click="onSubmit('typeForm')" size="mini">确定</el-button>
                                    </template>
                                    <template v-if="typeForm.isComplex === ''">
                                        <el-button type="primary" @click="onSubmit('typeForm')" size="mini" disabled>确定</el-button>
                                    </template>
                                    
                                    <el-button @click="onCancel" size="mini">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>

                    <div class="text" v-if="addType == 'relationType'">
                        <el-form :model="typeForm" ref="typeForm" label-position="left" label-width="auto">
                            <el-card class='box-card' shadow="hover">
                                <template #header>
                                    <div class="card-header">
                                        <span> 关系类型 </span>
                                        <el-button class="button" type="text" @click="onAddRole">添加角色</el-button>
                                    </div>
                                </template>

                                <el-form-item
                                    label="关系类型名称"
                                    :prop="'name'"
                                    :rules="[
                                        { validator: validateRelationType, trigger: 'blur' }
                                    ]">
                                    <el-input
                                        v-model="typeForm.name"
                                        @input="e => typeForm.name = validateForbidChar(e)"
                                        placeholder="请输入关系类型名称"
                                        size="medium">
                                    </el-input>
                                </el-form-item>
                            </el-card>

                            <component
                                v-for="(item1, index1) in typeForm.roles"
                                :key="index1"
                                :index="(index1+'')"
                                :is="'el-card'"
                                shadow="hover">

                                <template #header>
                                    <div class="card-header">
                                        <span> {{ '角色' + (index1+1) }} </span>
                                        <i class="el-icon-delete" @click="onDeleteRole(index1)"></i>
                                    </div>
                                </template>

                                <el-form-item
                                    label="角色名称"
                                    :prop="'roles[' + index1 + '].name'"
                                    :rules="[
                                        { validator: validateRelationRole, trigger: 'blur' }
                                    ]">
                                    <el-input
                                        v-model="typeForm.roles[index1].name"
                                        @input="e => typeForm.roles[index1].name = validateForbidChar(e)"
                                        placeholder="请输入角色名称"
                                        size="medium">
                                    </el-input>
                                </el-form-item>   

                                <el-form-item label="类型"
                                    :prop="'roles[' + index1 + ']'"
                                    :rules="[
                                        { validator: validateRelationRoleType, trigger: 'blur' }
                                    ]">
                                    <el-select
                                        v-model="typeForm.roles[index1].entity_type"
                                        multiple
                                        value-key="name"
                                        placeholder="请选择类型"
                                        size="medium"
                                        style="display: block;">
                                        <el-option
                                            v-for="item2 in roleCandidateList"
                                            :key="item2.global_id"
                                            :label="item2.name"
                                            :value="item2.global_id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item
                                    label="角色最小数目"
                                    :prop="'roles[' + index1 + ']'"
                                    :rules="[
                                        { validator: validateRelationRoleMinNumber, trigger: 'blur' }
                                    ]">
                                    <el-input
                                        v-model.number="typeForm.roles[index1].min"
                                        placeholder="最小数目"
                                        size="medium">
                                    </el-input>
                                </el-form-item>

                                <el-form-item
                                    label="角色最大数目"
                                    :prop="'roles[' + index1 + ']'"
                                    :rules="[
                                        { validator: validateRelationRoleMaxNumber, trigger: 'blur' }
                                    ]">
                                    <el-input
                                        v-model.number="typeForm.roles[index1].max"
                                        placeholder="最大数目"
                                        size="medium">
                                    </el-input>
                                </el-form-item>
                            </component>

                            <el-form-item>
                                <div>
                                    <el-button type="primary" @click="onSubmit('typeForm')" size="mini">确定</el-button>
                                    <el-button type="primary" @click="onAddRole" size="mini">添加角色</el-button>
                                    <el-button @click="onCancel" size="mini">取消</el-button>
                                </div>
                            </el-form-item>
                        </el-form>
                    </div>

                    <template v-if="addType == 'propertyType'">
                        <el-form :model="propertyTypeForm" ref="propertyTypeForm" label-position="left" label-width="auto">
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 符号类型 </span>
                                    </div>
                                </template>

                                <div class="text">
                                    <el-form-item
                                        label="名称"
                                        :prop="'symbol_name'"
                                        :rules="[{ validator: validateSymbolName, trigger: 'blur'}]">
                                        <el-input
                                            placeholder="请输入符号类型名称"
                                            v-model="propertyTypeForm.symbol_name"
                                            @input="e => propertyTypeForm.symbol_name = validateForbidChar(e)">
                                        </el-input>
                                    </el-form-item>
                                
                                    <el-form-item
                                        label="符号值类型"
                                        :prop="'symbol_type'"
                                        :rules="[{ validator: validateSymbolType, trigger: 'blur' }]">
                                        <el-select
                                            v-model="propertyTypeForm.symbol_type"
                                            placeholder="请选择符号值类型"
                                            style="display: block;">
                                            <el-option
                                                v-for="item in symbolOptionTypeList"
                                                :key="'Symbol Type ' + item.name"
                                                :label="item.name"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </el-card>

                            <template v-if="propertyTypeForm.symbol_type == 'Enum'">
                                <el-card>
                                    <template #header>
                                        <div class="card-header">
                                            <span> {{ '枚举值' }} </span>
                                        </div>
                                    </template>

                                <template
                                    v-for="(item, index) in propertyTypeForm.enum_values"
                                    :key="index"
                                    :index="(index+'')">
                                    <el-form-item
                                        :label="'枚举值' + (index + 1)"
                                        :prop="'enum_values[' + index + ']'"
                                        :rules="[{ validator: validateEnumValue, trigger: 'blur'}]">
                                        <div style="display: inline;">
                                            <el-input
                                                placeholder="请输入枚举值"
                                                v-model="propertyTypeForm.enum_values[index]"
                                                @input="e => propertyTypeForm.enum_values[index] = validateForbidChar(e)"
                                                style="width: 70%">
                                            </el-input>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-plus' 
                                                @click="onAddEnumValue(index)">
                                            </el-button>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-minus'
                                                @click="onDeleteEnumValue(index)">
                                            </el-button>
                                        </div>
                                    </el-form-item>
                                </template>
                                </el-card>
                            </template>

                            <template v-if="propertyTypeForm.symbol_type == 'Compound'">
                                <component
                                    v-for="(item, index) in propertyTypeForm.child_symbols"
                                    :key="index"
                                    :index="(index+'')"
                                    :is="'el-card'"
                                    shadow="hover">
                                    <template #header>
                                        <div class="card-header">
                                            <span> {{ '成员' + (index+1) }} </span>
                                            <i class="el-icon-delete" @click="onDeleteChildProperty(index)"></i>
                                        </div>
                                    </template>

                                    <el-form-item
                                        label="成员名称"
                                        :prop="'child_symbols[' + index + '].name'"
                                        :rules="[{ validator: validatePropertyName, trigger: 'blur'}]">
                                        <el-input
                                            placeholder="请输入成员名称"
                                            v-model="propertyTypeForm.child_symbols[index].name"
                                            @input="e => propertyTypeForm.child_symbols[index].name = validateForbidChar(e)">
                                        </el-input>
                                    </el-form-item>

                                    <el-form-item
                                        label="成员类型"
                                        :prop="'child_symbols[' + index + '].symbol_type_id'"
                                        :rules="[{ validator: validateSymbolTypeID, trigger: 'blur' }]">
                                        <el-select
                                            v-model="propertyTypeForm.child_symbols[index].symbol_type_id"
                                            placeholder="请选择成员值类型"
                                            style="display: block;">
                                            <el-option
                                                v-for="item in childSymbolList"
                                                :key="'Symbol ' + item.name"
                                                :label="item.name"
                                                :value="item.type_id">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </component>
                            </template>

                            <el-form-item>
                                <template v-if="propertyTypeForm.symbol_type !== ''">
                                    <el-button type="primary" @click="onSubmitPropertyType('propertyTypeForm')" size="mini">确定</el-button>
                                </template>
                                <template v-if="propertyTypeForm.symbol_type === ''">
                                    <el-button type="primary" @click="onSubmitPropertyType('propertyTypeForm')" size="mini" disabled>确定</el-button>
                                </template>
                                
                                <template v-if="propertyTypeForm.symbol_type == 'Enum'">
                                    <el-button type="primary" @click="onAddEnumValue()" size="mini">添加枚举值</el-button>
                                </template>
                                <template v-if="propertyTypeForm.symbol_type == 'Compound'">
                                    <el-button type="primary" @click="onAddChildProperty()" size="mini">添加成员</el-button>
                                </template>

                                <el-button @click="onCancelPropertyType" size="mini">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </template>

                    <template v-if="addType == 'constraintType'">
                        <el-form :model="constraintTypeForm" ref="constraintTypeForm" label-position="left" label-width="auto">
                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 约束 </span>
                                    </div>
                                </template>
                            </el-card>

                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 前置条件 </span>
                                    </div>
                                </template>

                                <template
                                    v-for="(item, index) in constraintTypeForm.precondition_list"
                                    :key="index"
                                    :index="(index+'')">
                                    <el-form-item
                                        :label="'成员' + (index + 1)"
                                        :prop="'precondition_list['+index+'].global_id'"
                                        :rules="[{ validator: validateConstraint, trigger: 'blur' }]">
                                        <div style="display: inline;">
                                            <el-select
                                                v-model="constraintTypeForm.precondition_list[index].name"
                                                filterable
                                                placeholder="请选择前置条件成员"
                                                style="width: 70%">
                                                <el-option
                                                    v-for="item in searchNodeList"
                                                    :key="item.name"
                                                    :label="item.name"
                                                    :value="item.name"
                                                    @click="onSelectConstraintPrecondition(index, item)">
                                                </el-option>
                                            </el-select>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-plus' 
                                                @click="onAddConstraintPrecondition(index)">
                                            </el-button>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-minus'
                                                @click="onDeleteConstraintPrecondition(index)">
                                            </el-button>
                                        </div>
                                    </el-form-item>
                                </template>
                            </el-card>

                            <el-card class="box-card">
                                <template #header>
                                    <div class="card-header">
                                        <span> 后置条件 </span>
                                    </div>
                                </template>

                                <template
                                    v-for="(item, index) in constraintTypeForm.postcondition_list"
                                    :key="index"
                                    :index="(index+'')">
                                    <el-form-item
                                        :label="'成员' + (index + 1)"
                                        :prop="'postcondition_list['+index+'].global_id'"
                                        :rules="[{ validator: validateConstraint, trigger: 'blur' }]">
                                        <div style="display: inline;">
                                            <el-select
                                                v-model="constraintTypeForm.postcondition_list[index].name"
                                                filterable
                                                placeholder="请选择前置条件成员"
                                                style="width: 70%">
                                                <el-option
                                                    v-for="item in searchNodeList"
                                                    :key="item.name"
                                                    :label="item.name"
                                                    :value="item.name"
                                                    @click="onSelectConstraintPostcondition(index, item)">
                                                </el-option>
                                            </el-select>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-plus' 
                                                @click="onAddConstraintPostcondition(index)">
                                            </el-button>
                                            <el-button
                                                circle
                                                size="mini"
                                                class='el-icon-minus'
                                                @click="onDeleteConstraintPostcondition(index)">
                                            </el-button>
                                        </div>
                                    </el-form-item>
                                </template>
                            </el-card>

                            <el-form-item>
                                <div>
                                    <el-button type="primary" @click="onSubmitConstraint('constraintTypeForm')" size="mini">确定</el-button>
                                    <el-button @click="onCancel" size="mini">取消</el-button>
                                </div>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-scrollbar>
            </div>
        </el-main>
    </el-container>
</template>

<script>
import {axios_request} from '../../util/axios_utils.js'
import {SimpleType, IntersectionType, UnionType} from '../../util/const_complex_type.js'
// import qs from 'qs'

export default {
    props: ['currentViewNode', 'defaultAddType'],

    emits: ['back', 'refresh'],

    data() {
        const nodeTypeList = this.$store.state.nodeTypeList
        const linkTypeList = this.$store.state.linkTypeList
        const roleCandidateList = nodeTypeList.concat(linkTypeList)
        const symbolData   = this.$store.state.symbolData

        const childSymbolList = []
        for (let key in symbolData)
            if (symbolData[key].type == 'Basic' || symbolData[key].type == 'Enum') {
                childSymbolList.push({
                    type_id: key,
                    name: symbolData[key].name,
                    type: symbolData[key].type
                })
            }

        console.log('AddType')
        console.log(nodeTypeList)

        // 所有可以作为前置条件和后置条件的候选列表
        let searchNodeList = []
        for (let item of nodeTypeList) {
            searchNodeList.push({
                global_id: item.global_id,
                name: item.name
            })
        }
        for (let item of linkTypeList) {
            searchNodeList.push({
                global_id: item.global_id,
                name: item.name
            })
        }

        // 所有候选entityTypeList
        let entityTypeCandidates = []
        for (let i = 0; i < nodeTypeList.length; i++)
            if (nodeTypeList[i].isComplex == SimpleType) {
                entityTypeCandidates.push({
                    'label': nodeTypeList[i].name,
                    'value': nodeTypeList[i].global_id
                })
            }

        var validateEntityType = (rule, value, callback) => {
            if (value === '' || value === undefined || value === null) {
                callback(new Error("请输入实体类型名称"))
            }
            else if (nodeTypeList.find(item => item.name === value) !== undefined) {
                callback(new Error(`实体类型'${value}'已经存在`))
            }
            else {
                callback()
            }
        }

        var validateRelationType = (rule, value, callback) => {
            if (value === '' || value === undefined || value === null) {
                callback(new Error("请输入关系类型名称"))
            }
            //else if (linkTypeList.find(item => item.name === value) !== undefined) {
            //    callback(new Error(`关系类型'${value}'已经存在`))
            //}
            else {
                callback()
            }
        }

        var validateRelationRole = (rule, value, callback) => {
            if (value === '' || value === undefined || value === null) {
                callback(new Error("请输入角色名称"))
            }
            else {
                
                const l = this.typeForm.roles.filter(item => item.name === value)
                if (l.length > 1) {
                    callback(new Error(`角色${value}重复`))
                }
                else {
                    callback()
                }
                
                //callback()
            }
        }

        var  validateRelationRoleType = (rule, value, callback) => {
            console.log('validate')
            console.log(value)
            if (value.entity_type.length == 0) {
                callback(new Error("请选择角色类型"))
            }
            else {
                callback()
            }
        }

        var validateRelationRoleMinNumber = (rule, value, callback) => {
            if (!Number.isInteger(value.min)) {
                callback(new Error('请输入数字'))
            }
            else {
                callback()
            }
        }

        var validateRelationRoleMaxNumber = (rule, value, callback) => {
            if (!Number.isInteger(value.max)) {
                callback(new Error('请输入数字'))
            }
            else if (Number.isInteger(value.min) && value.min > value.max){
                callback(new Error('最小值不能大于最大值'))
            }
            else {
                callback()
            }
        }

        var validateSymbolName = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('请输入符号类型名称'))
            }
            else {
                callback()
            }
        }

        var validateSymbolType = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('请选择符号值类型'))
            }
            else {
                callback()
            }
        }

        var validateEnumValue = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('请输入枚举值'))
            }
            else {
                let tmp = this.propertyTypeForm.enum_values.filter(item => item == value)

                if (tmp.length > 1) {
                    callback(new Error('枚举值重复'))
                }  
                else {
                    callback()
                }
            }
        }

        var validatePropertyName = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('请输入成员名称'))
            }
            else {
                let tmp = this.propertyTypeForm.child_symbols.filter(item => item.name == value)

                if (tmp.length > 1) {
                    callback(new Error('成员重复'))
                }
                else {
                    callback()
                }
            }
        }

        var validateSymbolTypeID = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('请选择成员类型'))
            }
            else {
                callback()
            }
        }

        var validateConstraint = (rule, value, callback) => {
            if (value == undefined || value == '') {
                callback(new Error('输入不能为空'))
            }
            else {
                callback()
            }
        }

        return {
            nodeTypeList,
            linkTypeList,
            roleCandidateList,
            symbolData,
            childSymbolList, // 这个是所有子属性可选类型的list

            addType : this.defaultAddType,

            validateEntityType,
            validateRelationType,
            validateRelationRole,
            validateRelationRoleType,
            validateRelationRoleMinNumber,
            validateRelationRoleMaxNumber,

            entityTypeCandidates: entityTypeCandidates,

            // 创建的是否为复杂类型
            SimpleType,
            IntersectionType,
            UnionType,
            entityTypeOptions : [{
                value: SimpleType,
                label: '简单类型'
            }, {
                value: IntersectionType,
                label: '复杂类型: 交'
            }, {
                value: UnionType,
                label: '复杂类型: 并'
            }],

            typeForm: {
                name : '',
                isComplex : SimpleType, // 添加的实体类型：0简单, 1交, 2并,
                complexIds : [], // complex实体类型的list
                roles: [{
                    name: '',
                    entity_type: [],
                    type_id: '',
                    min: 1,
                    max: 1,
                    key: Date.now()
                }]
            },

            // 这个是用户可以定义的类型的list
            symbolOptionTypeList : [{
                'name' : '枚举类型',
                'value': 'Enum'
            }, {
                'name' : '复合类型',
                'value': 'Compound'
            }],

            validateSymbolName,
            validateSymbolType,
            validateEnumValue,
            validatePropertyName,
            validateSymbolTypeID,

            propertyTypeForm: {
                symbol_name: '',
                symbol_type: '',
                enum_values: [''],
                child_symbols: [{
                    'name': '',
                    'symbol_type_id': ''
                }]
            },

            validateConstraint,
            searchNodeList,
            constraintTypeForm: {
                precondition_list: [{
                    name: '',
                    global_id: '',
                    key: Date.now(),
                }],
                postcondition_list: [{
                    name: '',
                    global_id: '',
                    key: Date.now(),
                }],
            }
        }
    },

    mounted() {
    },

    methods: {
        resetTypeForm() {
            this.typeForm = {
                name : '',
                isComplex : SimpleType, // 添加的实体类型：0简单, 1交, 2并,
                complexIds : [], // complex实体类型的list
                roles: [{
                    name: '',
                    entity_type: [],
                    type_id: '',
                    min: 1,
                    max: 1,
                    key: Date.now()
                }]
            }
        },

        resetConstraintTypeForm() {
            this.constraintTypeForm = {
                precondition_list: [{
                    name: '',
                    global_id: '',
                    key: Date.now(),
                }],
                postcondition_list: [{
                    name: '',
                    global_id: '',
                    key: Date.now(),
                }],
            }
        },
        
        onAddConstraintPrecondition() {
            this.constraintTypeForm.precondition_list.push({
                name: '',
                global_id: '',
                key: Date.now(),
            })
            this.$message({
                type: 'success',
                message: '新增成功'
            })
        },

        onDeleteConstraintPrecondition(index) {
            if (this.constraintTypeForm.precondition_list.length == 1) {
                this.$message({
                    type: 'info',
                    message: '数目至少为1'
                })
            }
            else {
                this.constraintTypeForm.precondition_list.splice(index, 1)
            }
        },

        onSelectConstraintPrecondition(index, item) {
            console.log('precondition: ' + item.name + ' ' + item.global_id)

            this.constraintTypeForm.precondition_list[index].name = item.name
            this.constraintTypeForm.precondition_list[index].global_id = item.global_id  
        },

        onAddConstraintPostcondition() {
            this.constraintTypeForm.postcondition_list.push({
                name: '',
                global_id: '',
                key: Date.now(),
            })
            this.$message({
                type: 'success',
                message: '新增成功'
            })
        },

        onDeleteConstraintPostcondition(index) {
            if (this.constraintTypeForm.postcondition_list.length == 1) {
                this.$message({
                    type: 'info',
                    message: '数目至少为1'
                })
            }
            else {
                this.constraintTypeForm.postcondition_list.splice(index, 1)
            }
        },

        onSelectConstraintPostcondition(index, item) {
            console.log('precondition: ' + item.name + ' ' + item.global_id)

            this.constraintTypeForm.postcondition_list[index].name = item.name
            this.constraintTypeForm.postcondition_list[index].global_id = item.global_id  
        },

        onSubmitConstraint(formName) {
            const that = this
            that

            this.$refs[formName].validate(async (valid) => {
                if (valid) {
                    return true
                }
                else {
                    return false
                }
            })
        },

        resetPropertyTypeForm() {
            this.propertyTypeForm = {
                symbol_name: '',
                symbol_type: '',
                enum_values: [''],
                child_symbols: [{
                    'name': '',
                    'symbol_type_id': ''
                }]
            }
        },

        onAddRole() {
            console.log('add')
            this.typeForm.roles.push({
                name: '',
                entity_type: [],
                type_id: '',
                min: 1,
                max: 1,
                key: Date.now()
            })
            this.$message({
                type: 'success',
                message: '新增成功'
            })
        },

        onDeleteRole(index) {
            if (this.typeForm.roles.length == 1) {
                this.$message({
                    type: 'info',
                    message: '角色数目至少为1'
                })
            }
            else {
                this.typeForm.roles.splice(index, 1)
            }
        },

        onSubmit(formName) {
            let that = this

            this.$refs[formName].validate(async (valid) => {
                if (valid) {
                    let data = {
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                    }

                    if (that.addType == 'entityType') {
                        if (that.typeForm.isComplex == SimpleType) {
                            data['operation'] = 'createEntityType'
                            data['entity_type'] = that.typeForm.name
                        }
                        else if (that.typeForm.isComplex == IntersectionType || that.typeForm.isComplex == UnionType) {
                            console.log('submit complex')
                            console.log(that.typeForm.complexIds)

                            if (that.typeForm.isComplex == IntersectionType) {
                                data['operation'] = 'getTypeIntersection'
                            }
                            else {
                                data['operation'] = 'getTypeUnion'
                            }

                            for (let i = 0; i < that.typeForm.complexIds.length; i++) {
                                that.typeForm.complexIds[i] = Number(that.typeForm.complexIds[i])
                            }
                            data['type_ids'] = that.typeForm.complexIds
                        }
                    }
                    else {
                        data['operation'] = 'createRelationType'
                        data['relation_type'] = that.typeForm.name

                        let l = {}
                        for (let i = 0; i < that.typeForm.roles.length; i++) {
                            let type_ids = []
                            for (let item of that.typeForm.roles[i].entity_type) {
                                type_ids.push(Number(item))
                            }
                            
                            l[that.typeForm.roles[i].name] = {
                                type_ids: type_ids,
                                min: that.typeForm.roles[i].min === undefined ? 1 : that.typeForm.roles[i].min,
                                max: that.typeForm.roles[i].max === undefined ? 1 : that.typeForm.roles[i].max
                            }
                        }
                        data['roles'] = l
                    }

                    let res = await axios_request(that, 'post', '/model', data)
                    
                    console.log(data)
                    console.log(res)

                    if (res !== '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message//'关系创建失败'
                            })
                            //console.log(res.msg)
                            return false
                        }
                        else {
                            if (that.addType == 'entityType') {
                                if (that.typeForm.isComplex == SimpleType) {
                                    data['global_id'] = res.data.entity_type_id
                                }
                                else {
                                    data['global_id'] = res.data.type_id
                                }
                                data['isComplex'] = that.typeForm.isComplex
                                data['properties'] = res.data.properties
                                that.$store.commit('addEntityType', data)
                                
                                that.$message({
                                    type: 'success',
                                    message: '实体类型创建成功'
                                })
                            }
                            else {
                                data.global_id = res.data.relation_type_id
                                data.properties = res.data.properties
                                data.role_types = res.data.role_types
                                data.roles = res.data.roles

                                that.$store.commit('addRelationType', data)

                                that.$message({
                                    type: 'success',
                                    message: '关系类型创建成功'
                                })
                            }

                            that.$emit('back', 'KGModelTypeList')
                            that.$emit('refresh', false, that.addType)
                            return true
                        }
                    }
                    else {
                        return false
                    }
                }
                else {
                    return false
                }
            })
        },

        onCancel() {
            console.log('Cancel!')
            this.$emit('back', 'KGModelTypeList')
        },

        onAddEnumValue(index = -1) {
            if (index == -1) {
                this.propertyTypeForm.enum_values.push('')
            }
            else {
                this.propertyTypeForm.enum_values.splice(index+1, 0, '')
            }

            this.$message({
                type: 'success',
                message: '新增成功'
            })
        },

        onDeleteEnumValue(index) {
            if (this.propertyTypeForm.enum_values.length == 1) {
                this.$message({
                    type: 'info',
                    message: '枚举值数目至少为1'
                })
            }
            else {
                this.propertyTypeForm.enum_values.splice(index, 1)
            }
        },

        onDeleteChildProperty(index) {
            if (this.propertyTypeForm.child_symbols.length == 1) {
                this.$message({
                    type: 'info',
                    message: '成员数目至少为1'
                })
            }
            else {
                this.propertyTypeForm.child_symbols.splice(index, 1)
            }
        },

        onAddChildProperty() {
            this.propertyTypeForm.child_symbols.push({
                'name': '',
                'symbol_type_id': ''
            })

            this.$message({
                type: 'success',
                message: '新增成功'
            })
        },

        onSubmitPropertyType(propertyTypeForm) {
            console.log('on submit property type')
            let that = this
            this.$refs[propertyTypeForm].validate(async (valid) => {
                if (valid) {
                    let request = {
                        operation: 'createSymbolType',
                        user_id: that.$store.state.Authorization,
                        project: that.$store.state.project_name,
                        symbol_name: that.propertyTypeForm.symbol_name,
                        symbol_type: that.propertyTypeForm.symbol_type
                    }
                    if (that.propertyTypeForm.symbol_type == 'Enum') {
                        request['enum_values'] = that.propertyTypeForm.enum_values
                    }
                    else if (that.propertyTypeForm.symbol_type == 'Compound') {
                        let tmp = {}
                        let child_symbols = that.propertyTypeForm.child_symbols
                        for (let i = 0; i < child_symbols.length; i++)
                            tmp[child_symbols[i].name] = Number(child_symbols[i].symbol_type_id)
                        request['child_symbols'] = tmp
                    }
                    
                    let res = await axios_request(this, 'post', '/model', request)

                    console.log('createSymbolType'),
                    console.log(res)

                    if (res != '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message //'属性类型创建失败'
                            })
                            return false
                        }
                        else {
                            request['symbol_type_id'] = res.data.symbol_type_id
                            that.$store.commit('addSymbolType', request)

                            that.$message({
                                type: 'success',
                                message: '属性类型创建成功'
                            })

                            that.$emit('back', 'KGModelTypeList')
                            that.$emit('refresh', false, 'propertyType')
                            return true
                        }
                    }   
                    else {
                        that.$message({
                            type: 'error',
                            message: '网络错误'
                        })
                        return false
                    }
                }
                else {
                    return false
                }
            })
        },

        onCancelPropertyType() {
            console.log('on cancel property type')
            this.$emit('back', 'KGModelTypeList')
        }
    }
}
</script>

<style scoped>

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .header {
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        /*height: 500px;*/
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
</style>