<template>

    <div style="
        width: 600px;
        margin: 180px auto;
        padding: 35px 35px 15px 35px;
        border-radius: 5px;">
        <!--
        <h1>关于我们</h1>
        <p>北京大学</p>
        -->
        <el-card>
            <template #header>
                <div style="text-align: center;">
                    <span> 管理员联系方式 </span>
                </div>
            </template>

            <el-table
                :data="[{
                    name: '崔牧原',
                    mail: 'cuimy@pku.edu.cn',
                    wechat: 'marksandy',
                }, {
                    name: '潘熙',
                    mail: '1600012770@pku.edu.cn',
                    wechat: 'wxid_em9ganqqduya22',
                }]" 
            >
                <el-table-column prop="name" label="管理员"/>
                <el-table-column prop="mail" label="邮箱"/>
                <el-table-column prop="wechat" label="微信"/>
            </el-table>
        </el-card>
    </div>
</template>

<script>

export default {
    data() {
        return {
        }
    },

    mounted() {
        
    },

    methods: {
    }
}
</script>

<style scope>
</style>