<template>
    <el-container>
        <el-aside width="270px" class="aside-container-KG">
            <el-card class="leftImgCard" :body-style="{ padding: '0px', border: '0px' }" shadow="never">
                <div style="padding: 14px;">
                    <div>
                        <img src="../assets/doctor.jpeg" class="image">
                    </div>

                    <div>
                        <div class="bottom">
                            <el-button type="text" class="button">{{ userName }}</el-button><br>
                            <time class="time">{{ currentDate }}</time>
                        </div>
                    </div>
                </div>
            </el-card>
        </el-aside>

        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="6">
                    </el-col>

                    <el-col :span="12">
                        <div style=
                            "height: 80px;
                            line-height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                            <span>项目索引</span>
                        </div>
                    </el-col>

                    <el-col :span="6">
                        <div style=
                            "height: 80px;
                            line-height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;">
                            <el-button type="primary" @click="onCreateNewProject()" size="mini">创建新项目</el-button>

                            <el-dialog
                                title="请输入新项目名称"
                                v-model="createNewProjectDialog"
                                width="30%"
                                destroy-on-close
                                center>
                                
                                <el-form :model="newProject" ref="newProject">
                                    <el-form-item
                                        prop="name"
                                        :rules="[{ validator: validateName }]">
                                        <el-input
                                            v-model="newProject.name"
                                            autocomplete="off"
                                            placeholder="项目名称">
                                        </el-input>
                                    </el-form-item>
                                </el-form>

                                <template #footer>
                                    <span class="dialog-footer">
                                        <el-button @click="createNewProjectDialog = false">取 消</el-button>
                                        <el-button type="primary" @click="onSubmitNewProject('newProject')">确 定</el-button>
                                    </span>
                                </template>
                            </el-dialog>
                        </div>
                    </el-col>
                </el-row>
            </el-header>

            <el-main>
                <component
                    v-for="(item1, index1) in KGList"
                    :key="index1"
                    :index="(index1+'')"
                    :is="'el-card'"
                    class="box-card">

                    <template #header>
                        <div class="card-header">
                            <el-button class="button" type="text" size="medium" @click="onClick(item1.project_name)">
                                {{ item1.name }}
                                <i class="el-icon-s-data"></i>
                            </el-button>
                        </div>
                    </template>
                    <div class="text item">
                        <span> {{ item1.name }} </span>
                    </div>
                </component>
                
            </el-main>
        </el-container>
    </el-container>    
</template>

<script>
import {
    axios_request,
    getColdBootEntityRecommendData,
    getGlobalRecommendInfo
} from '../util/axios_utils.js'
import {mapMutations} from 'vuex';
//import qs from 'qs'

export default {
    props: {

    },

    emits: [],

    data() {
        const validateName = (rule, value, callback) => {
            if (value === '' || value === undefined || value === null) {
                callback(new Error('请输入新项目名称'))
            }
            else {
                callback()
            }
        }
        
        return {
            userName : '',

            createNewProjectDialog : false,
            validateName,
            newProject: {
                name: ''
            },

            currentDate: new Date(),

            KGList: [
                {'name': 'test_project', 'project_name': 'test_project'},
                //{'name': 'test_project2', 'project_name': 'test_project2'},
                //{'name': '知识图谱2', 'project_name': 'test_project'},
                //{'name': '知识图谱3', 'project_name': 'test_project'}
            ]
        }
    },

    async mounted() {
        const that = this
        if (that.$store.state.user_name != '') {
            that.userName = that.$store.state.user_name
            that.KGList = that.$store.state.KGList
        } else {
            let res = await axios_request(that, 'post', '/api', {
                operation: 'getProjects',
                user_id: that.$store.state.Authorization,
            })

            console.log('get projects')
            console.log(res.data)

            if (res !== '') {
                if (res.data.error) {
                    that.$message({
                        type: 'error',
                        message: res.data.msg.message
                    })
                }
                else {
                    that.KGList = []
                    for (let item of res.data.projects)
                        that.KGList.push({
                            'name': item,
                            'project_name': item
                        })
                    that.storeKGList(that.KGList)
                    that.$store.state.user_name = res.data.user_name
                    that.userName = res.data.user_name
                }
            }
        }
    },

    methods: {
        ...mapMutations(['saveGraph', 'storeKGList']),

        // 监听KG列表，请求对应KG数据
        async onClick(project_name) {
            console.log("hello from KGList")

            let that = this
            //that.axios.defaults.baseURL = ''
            let res = await axios_request(that, 'patch', '/inst', {
                operation: 'getGraph',
                user_id: that.$store.state.Authorization,
                project: project_name
            })

            console.log('get graph')
            console.log(res.data)
            
            if (res !== '') {
                if (res.data.error) {
                    that.$message({
                        type: 'error',
                        message: '知识图谱获取失败'
                    })
                    //console.log(res.msg)
                }
                else {
                    // console.log(res.data)

                    that.saveGraph({
                        graph: res.data,
                        project_name: project_name
                    })
                    that.$message({
                        type: 'success',
                        message: '知识图谱获取成功'
                    })

                    // 异步请求冷启动实体推荐数据
                    getColdBootEntityRecommendData(that)
                    // 异步请求推荐信息
                    getGlobalRecommendInfo(that)

                    that.$router.push('/navigation/KG')
                }
            }

            console.log('finished from KGList')
        },

        onCreateNewProject() {
            this.newProject.name = ''
            this.createNewProjectDialog = true
        },

        async onSubmitNewProject(newProject) {
            const that = this

            this.$refs[newProject].validate(async (valid) => {
                if (valid) {
                    let res = await axios_request(that, 'post', '/api', {
                        operation: 'createProject',
                        user_id: that.$store.state.Authorization,
                        project: String(that.newProject.name)
                    })

                    if (res.data.error) {
                        that.$message({
                            type: 'error',
                            message: res.data.msg.message
                        })
                    }
                    else {
                        that.$message({
                            type: 'success',
                            message: `项目创建成功`
                        })

                        that.KGList.push({
                            name: that.newProject.name,
                            project_name: that.newProject.name
                        })
                        that.storeKGList(that.KGList)
                        that.createNewProjectDialog = false
                    }
                }
                else {
                    return false
                }
            })

            // that.createNewProjectDialog = false
        },
    }
}
</script>

<style scoped>
    .el-container {
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aside-container-KG {
        border-right: 1px solid #e6e6e6;
        overflow-y: hidden;
    }
    
    .text {
        font-size: 14px;
    }

    .leftImgCard {
        border: 0px;
    }
</style>