<template>
    <el-container style="height: 100%">
        <el-main>
            <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" class="login-box">
                <h3 class="login-title">登录</h3>
                <el-form-item prop="user">
                    <el-input v-model="loginForm.user" autocomplete="off" placeholder="用户名"></el-input>
                </el-form-item>
                <el-form-item prop="pass">
                    <el-input v-model="loginForm.pass" autocomplete="off" placeholder="密码" show-password></el-input>
                </el-form-item>
                <el-button type="primary" @click="submitForm('loginForm')">登录</el-button>
                <el-button type="primary" @click="onRegister()">注册</el-button>
                <el-button>忘记密码</el-button>
            </el-form>
        </el-main>
    </el-container>
</template>

<script>
import {axios_request} from '../util/axios_utils.js'
import {mapMutations} from 'vuex';

export default {
    data() {
        return {
            loginForm: {
                user: '',
                pass: ''
            },
            rules: {
                user: [
                    { required: true, message: '请输入用户名', trigger: 'blur' }
                ],
                pass: [
                    { required: true, message: '请输入密码', trigger: 'blur' }
                ]
            }
        }
    },
    methods: {
        ...mapMutations(['changeLogin', 'storeKGList', 'storeUserName']),

        onRegister() {
            this.$router.push('/registerForm')
        },

        submitForm(formName) {
            this.$refs[formName].validate(async (valid) => {
                if (valid) {
                    console.log(this.loginForm.user);
                    console.log(this.loginForm.pass);
                    
                    let that = this
                    //that.axios.defaults.baseURL = ''
                    let res = await axios_request(this, 'post', '/api', {
                            operation: 'checkUser',
                            user: that.loginForm.user,
                            passwd: that.loginForm.pass
                        })
                    
                    if (res !== '') {
                        if (res.data.error) {
                            this.$message({
                                type: 'error',
                                message: '账号或密码错误'
                            })
                            console.log(res.msg)
                        }
                        else {
                            if (res.data.projects != undefined) {
                                that.storeUserName(that.loginForm.user)
                                let KGList = []
                                for (let item of res.data.projects)
                                    KGList.push({
                                        'name': item,
                                        'project_name': item
                                    })
                                that.storeKGList(KGList)
                            }

                            that.userToken = res.data.user_id
                            that.changeLogin({Authorization: that.userToken})
                            that.$router.push('/navigation/')
                            this.$message({
                                type: 'success',
                                message: '登录成功'
                            })
                        }
                    }
                }
                else {
                    this.$message({
                        type: 'error',
                        message: 'Error submit!'
                    })
                    return false;
                }
            });
        }
    }
}
</script>

<style scoped>
  .login-box {
    border: 1px solid #DCDFE6;
    width: 350px;
    margin: 180px auto;
    padding: 35px 35px 15px 35px;
    border-radius: 5px;
    /* box-shadow: 0 0 25px #909399; */
  }

  .login-card {
    /* border: 1px solid #DCDFE6; */
    width: 350px;
    margin: 100px auto;
    padding: 35px 35px 15px 35px;
    border-radius: 5px;
    /* box-shadow: 0 0 25px #909399; */
  }


  .login-title {
    text-align: center;
    margin: 0 auto 40px auto;
    color: #303133;
  }

  .el-header {
    background-color: #eaf1fa;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-footer {
    background-color: #eaf1fa;
    color: #333;
    text-align: center;
    line-height: 30px;
  }

  .el-main {
    background-color: #ffffff;
    color: #333;
    text-align: center;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>