<template>
    <el-container>
        <el-main
            :class="{
                'el-main1': fixTopMenu,
                'el-main2': !fixTopMenu
            }"
        >
            <router-view></router-view>
        </el-main>

        <el-header v-show="topMenuShow == true" style="height: 61px">
            <el-row :gutter="2">
                <el-col :span="12">
                    <el-menu id="NaviMenu" :default-active="activeIndex" mode="horizontal" @select="handleSelect" router style="border-bottom: 0px;">
                        <el-menu-item index="/navigation/home">首页</el-menu-item>
                        <!--
                        <el-menu-item index="/navigation/KG">知识图谱</el-menu-item>
                        -->
                        <el-submenu index="/navigation/home">
                            <template #title>知识图谱</template>
                            <el-menu-item index="/navigation/KG"> 实例层 </el-menu-item>
                            <el-menu-item index="/navigation/KGModel"> 模型层 </el-menu-item>
                        </el-submenu>

                        <el-submenu index="3" disabled>
                            <template #title>标注工具</template>
                            <el-menu-item index="3-1">标注工具</el-menu-item>
                            <el-menu-item index="3-2">标注规范</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="/instruction">
                            <el-link
                                href="https://ek1fuvnpfq.feishu.cn/docs/doccnEN6ailp85DiDdpSgHeMEAb#"
                                :underline="false"
                                target="_blank"
                                type="default"
                                class=""
                            > <span class="elMenuLink"> 使用说明 </span> </el-link>
                        </el-menu-item>
                        <el-menu-item index="/navigation/aboutUs">关于我们</el-menu-item>
                    </el-menu>
                </el-col>

                <el-col :span="10">
                    <!--
                    <el-link href="https://arxiv.org/pdf/1706.03762v4.pdf" type="primary">使用说明</el-link>
                    -->
                </el-col>

                <el-col :span="2">
                    <el-button type="primary" @click="onLogout()" size="mini">注销</el-button>
                </el-col>
            </el-row>
        </el-header>

        <template v-if="!topMenuShow">
            <div style="
                position: absolute;
                top: -5px;
                left: 50%;
            ">
                <el-button type="plain" size="mini" style="height: 20px;" @click="openTopMenu()">
                    <i class="el-icon-arrow-down"></i>
                </el-button>
            </div>
        </template>
    </el-container>
</template>

<script>
import { onMounted, onBeforeUnmount } from '@vue/runtime-core'
import { ref } from 'vue'
import screenfull from 'screenfull'

var delayEvent = null
var delayTime = 500

export default {
    data() {
        const mouseX = ref(0)
        const mouseY = ref(0)
        let eventFlag = 0

        const mousemove = e => {
            // console.log(e.pageX)
            // console.log(e.pageY)
            mouseX.value = e.pageX
            mouseY.value = e.pageY

            //let s = document.getElementById("NaviMenu").getElementsByClassName("el-submenu is-opened")
            //console.log(s)
        }

        const mousemove2top = () => {
            if (this.fixTopMenu) {
                this.topMenuShow = true
                return
            }
            // console.log('moving')
            if (this.topMenuShow) {
                // 如果有次级菜单打开也不隐藏
                if (mouseY.value <= 60 || document.getElementById("NaviMenu").getElementsByClassName("el-submenu is-opened").length > 0) {
                    if (delayEvent != null) {
                        clearTimeout(delayEvent)
                        delayEvent = null
                    }
                }
                else if (delayEvent == null || eventFlag == 0) {
                    eventFlag = 1
                    delayEvent = setTimeout(() => { // close
                        this.topMenuShow = false
                        //console.log('hi')
                        //console.log(this.topMenuShow)
                    }, delayTime)
                }
            }
            else {
                if (mouseY.value <= 20) {
                    /*  不使用识别位置打开顶部栏，改成按钮
                    if (delayEvent == null || eventFlag == 1) {
                        eventFlag = 0
                        delayEvent = setTimeout(() => {
                            this.topMenuShow = true
                            //console.log('hello')
                            //console.log(this.topMenuShow)
                        }, delayTime)
                    }
                    */
                }
                else {
                    if (delayEvent != null) {
                        clearTimeout(delayEvent)
                        delayEvent = null
                    }
                }
            }
        }

        onMounted(() => {
            document.addEventListener('mousemove', mousemove)
            document.addEventListener('mousemove', mousemove2top)
        })

        onBeforeUnmount(() => {
            document.removeEventListener('mousemove', mousemove)
            document.removeEventListener('mousemove', mousemove2top)
        })

        return {
            activeIndex: "/",

            topMenuShow: true, // 顶部菜单栏是否显示,
            
            mouseX, // 鼠标位置
            mouseY, // 鼠标位置
        };
    },

    watch: {
        $route() {
            this.setCurrentRoute();
        }
    },

    mounted() {
        window.addEventListener('keydown', this.keyDown, true) // 监听按键事件
    },

    computed: {
        fixTopMenu: function() {
            return this.activeIndex == '/navigation/home' ||
                this.activeIndex == '/' ||
                this.activeIndex == '/navigation/aboutUs' ||
                this.activeIndex == '/instruction'
        }
    },

    methods: {
        openTopMenu() {
            clearTimeout(delayEvent)
            delayEvent = null
            this.topMenuShow = true
        },

        keyDown(event) {
            //console.log('here')
            //console.log(event.which)
            if (event.which === 121) {
                event.returnValue = false
                screenfull.toggle()
            }
        },

        // 注销
        onLogout() {
            this.$store.commit('logout')
            this.$router.push({ 'path': '/' })
        },

        setCurrentRoute() {
            this.activeIndex = this.$route.path;
        },

        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        }
    }
}
</script>

<style scoped>
    .a {
        text-decoration: none;
    }

    .elMenuLink {
        float: left;
        height: 60px;
        line-height: 60px;
        margin: 0;
        border-bottom: 2px solid transparent;
        font-size: 14px;
        font-weight: 400;
        color: #909399;
    }

    .el-header {
        background-color: #ffffff;
        color: #333;
        line-height:60px;
        direction: horizontal;

        position: relative;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
    }

    .el-menu {
        background-color: #ffffff;
    }

    #NaviMenu {
        height: 60px;   /* 60 - 1 */
    }

    .el-footer {
        background-color: #ffffff;
        color: #333;
        text-align: center;
        line-height: 30px;
    }

    .el-main {
        background-color: #ffffff;
        color: #333;
        text-align: center;

        position: absolute;
        left: 0;
        right: 0;
        /* top: 0px; */
        bottom: 0;
        overflow-y: scroll;
    }

    .el-main1 {
        top: 68px;
        padding: 0;
    }

    .el-main2 {
        top: 0px;
        padding: 0;
    }

    .el-container {
        padding: 0px;
        margin: 0px;
        height: 100%;
        /* IE好像没有min-width */
        min-width: 1300px;
    }
</style>