<!-- RegisterForm -->

<template>
    <el-container style="height: 800px">
        <el-header height="60px">
            Header
        </el-header>

        <el-main>
            <el-form :model="registerForm" status-icon ref="registerForm" class="register-box">
                <h3 class="register-title">注册</h3>

                <el-form-item
                    :prop="'user'"
                    :rules="[{ validator: validateUser, trigger: 'blur' }]">
                    <el-input v-model="registerForm.user" autocomplete="off" placeholder="请输入用户名"></el-input>
                </el-form-item>

                <el-form-item
                    :prop="'pass'"
                    :rules="[{ validator: validatePasswd, trigger: 'blur' }]">
                    <el-input v-model="registerForm.pass.p1" autocomplete="off" placeholder="请输入密码" show-password></el-input>
                </el-form-item>

                <el-form-item
                    :prop="'pass'"
                    :rules="[{ validator: validatePasswd2, trigger: 'blur' }]">
                    <el-input v-model="registerForm.pass.p2" autocomplete="off" placeholder="请再次输入密码" show-password></el-input>
                </el-form-item>

                <el-button type="primary" @click="submitForm('registerForm')">确认</el-button>
                <el-button @click="cancelRegister()">取消</el-button>
            </el-form>
        </el-main>
        
        <el-footer height="30px">
            Footer
        </el-footer>
    </el-container>
</template>

<script>
import {axios_request} from '../util/axios_utils.js'
export default {
    data() {
        var validateUser = (rule, value, callback) => {
            if (value === '' || value === undefined || value === null) {
                callback(new Error("请输入用户名"))
            }
            else {
                callback()
            }
        }

        var validatePasswd = (rule, value, callback) => {
            if (value.p1 === '' || value.p1 === undefined || value.p1 === null) {
                callback(new Error("请输入密码"))
            }
            else {
                callback()
            }
        }

        var validatePasswd2 = (rule, value, callback) => {
            if (value.p2 === '' || value.p2 === undefined || value.p2 === null) {
                callback(new Error("请再次输入密码"))
            }
            else if (value.p1 != value.p2) {
                callback(new Error("两次输入的密码不一致"))
            }
            else {
                callback()
            }
        }

        return {
            validateUser,
            validatePasswd,
            validatePasswd2,

            registerForm: {
                user: '',
                pass: {
                    p1 : '',
                    p2 : ''
                }
            }
        }
    },
    methods: {
        submitForm(formName) {
            let that = this

            this.$refs[formName].validate(async (valid) => {
                if (valid) {
                    let res = await axios_request(that, 'post', '/api', {
                        operation: 'createUser',
                        user: that.registerForm.user,
                        passwd: that.registerForm.pass.p1,
                    })

                    console.log(res)

                    if (res !== '') {
                        if (res.data.error) {
                            that.$message({
                                type: 'error',
                                message: res.data.msg.message
                            })
                            //console.log(res.msg)
                            return false
                        }
                        else {
                            that.$message({
                                type: 'success',
                                message: '用户创建成功'
                            })

                            that.$router.push('/')
                            return true;
                        }
                    }
                    else {
                        that.$message({
                            type: 'error',
                            message: '网络错误'
                        })
                        return false
                    }
                }
                else {
                    return false
                }
            })
        },

        cancelRegister() {
            this.$router.push('/')
        }
    }
}
</script>

<style scoped>
  .register-box {
    border: 1px solid #DCDFE6;
    width: 350px;
    margin: 180px auto;
    padding: 35px 35px 15px 35px;
    border-radius: 5px;
    /* box-shadow: 0 0 25px #909399; */
  }

  .register-card {
    /* border: 1px solid #DCDFE6; */
    width: 350px;
    margin: 100px auto;
    padding: 35px 35px 15px 35px;
    border-radius: 5px;
    /* box-shadow: 0 0 25px #909399; */
  }


  .register-title {
    text-align: center;
    margin: 0 auto 40px auto;
    color: #303133;
  }

  .el-header {
    background-color: #eaf1fa;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-footer {
    background-color: #eaf1fa;
    color: #333;
    text-align: center;
    line-height: 30px;
  }

  .el-main {
    background-color: #ffffff;
    color: #333;
    text-align: center;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>